[2022-09-12 18:09] AgustinRamiroDiaz commented on #3045
Should this be the new behavior for all cases? Or just for the migration of 2Gi to 5Gi?

[2022-09-12 19:37] pchico83 commented on #3045
Let's do it for every case

[2022-09-13 09:39] #3082 closed

[2022-09-13 09:58] #2794 closed

[2022-09-13 10:16] #2795 closed

[2022-09-13 10:34] AgustinRamiroDiaz opened #3094 "Support build secrets with docker compose manifest"
Okteto should support all field from docker composes defined by https://github.com/compose-spec/compose-spec

We should check that we handle [secrets in the build section](https://github.com/compose-spec/compose-spec/pull/238/files)
If not, we should implement the feature

[2022-09-13 11:05] pchico83 commented on #3089
@cowgod this is a great point. We will implement it for the next release, and keep the feature undocumented in 2.7.0.
In 2.7.0 you will need to set `ARG OKTETO_BUILD_SERVICE_A_REPOSITORY` in your Dockerfile.
In 2.8.0 you will be able to do:
[code]

[2022-09-13 12:12] AgustinRamiroDiaz commented on #3045
@pchico83 seems like that's the current behavior

[code]

[2022-09-13 13:59] pchico83 commented on #3045
yes, let's recreate it automatically in all cases as part of this work

[2022-09-13 15:24] teresaromero opened #3097 "Service not found running `okteto deploy --build`"
**Describe the bug**
While performing Test Scenario 1 to the the `release-2.7-beta3` an issue was found when trying to deploy and build

**To Reproduce**
Steps to reproduce the behavior:

Test Scenario 1 at the Okteto CLI checks

**Expected behavior**
The images should be built if the flag `--build` is at the deploy command

**Desktop (please complete the following information):**

- OS: [e.g. mac

[2022-09-13 19:05] AgustinRamiroDiaz commented on #3045
I'm sorry @pchico83, I got confussed.

You said:
- "... we shouldn't recreate the volume automatically ..."
- "... let's recreate it automatically ..."

What should we do?

---

For context, the current behavior I found while using okteto is:
scenario a)
- `dev volume` with 2Gi size already created
- `okteto up` with 5Gi default
- `allowVolumeExpansion: true` set in the `standard` storage class
Th

[2022-09-13 19:21] pchico83 commented on #3045
@AgustinRamiroDiaz for volumes created by `okteto up` let's go with recreation in any case if the update fails. Recreation here is fine because the volume is to speed up the first sync.
For volumes created by statefulsets, let's create a different issue. Recreation is not acceptable for statefulsets because they have persistent data like databases

[2022-09-14 07:49] teresaromero opened #3101 "Pipeline logs not working when context is Okteto Cloud"
**Describe the bug**
After implementing the logs display when running `okteto pipeline deploy --wait` the logs are not shown when context is `Okteto Cloud`

**To Reproduce**
Steps to reproduce the behavior:

- run `okteto pipeline deploy --wait` with staging or dev cluster and see the logs are being display at the cli
- run the same cmd but with the okteto cloud context and no logs are display, al

[2022-09-14 11:25] AgustinRamiroDiaz opened #3102 "Nil dereference in up command"
I stumbled upon the code and I've seen that we would be dereferencing a nil pointer in the up command if we get an error from `okteto.GetK8sClient()`. The problem comes from `up.Dev` being nil at that point.

https://github.com/okteto/okteto/blob/9b88e269b657d95b04e978d963ae5d22ff4887b8/cmd/up/up.go#L221-L224

[2022-09-14 12:01] #2876 closed

[2022-09-14 12:56] AgustinRamiroDiaz opened #3103 "Handle upsizing for PVCs attached to statefulsets"
When developing with statefulsets, there could be the necessity to upscale the size of the PVCs attached.

Expected behavior:
When redeploying a statefulset with more size on their PVC:
- okteto should try upsizing the volume
- if it fails, it should guide the user to recreate the PVC, probably with `okteto destroy -v` + `okteto deploy`

_Originally posted by @pchico83 in https://github.com/okteto

[2022-09-14 15:10] AgustinRamiroDiaz commented on #3074
@jLopezbarb I'm pretty sure it's because we are not calling `dc.Builder.GetServicesToBuild` when the build is forced. Maybe it's time for a refactor to take away the envvar injection from `dc.Builder.GetServicesToBuild`

[2022-09-15 05:55] teresaromero commented on #3094
@AgustinRamiroDiaz this is not defined. My comment was a question to clear the scope of the PR. Not sure if this issue is well described.

[2022-09-15 08:31] #3097 closed

[2022-09-15 09:12] jLopezbarb commented on #3074
We update the build environment variables after building them so it's not because of that. Despite of that, I can't reproduce the issue with the new 2.7 beta. Can you try again
<img width="522" alt="Captura de Pantalla 2022-09-15 a las 10 14 29" src="https://user-images.githubusercontent.com/25170843/190351828-b0f739ce-7ebd-4670-a4d0-cd7632cea934.png">

[2022-09-15 09:21] pchico83 commented on #3074
It works now, thanks @jLopezbarb!

[2022-09-15 09:21] #3074 closed

[2022-09-15 09:54] osomike opened #3105 "failed to start SSH - Custom K8s cluster"
I am trying to use okteto with a **custom K8s cluster**, which for security reasons can only pull images from a **private registry** and only allows containers if they run as **non-root**.

That is why I had to change the default config of the `initContainer` to pull the image from the private registry (which I already added manually)

I created this simple `okteto.yaml` with a custom config for t

[2022-09-15 18:27] zaheerm opened #3107 "Context store may just be non-existent rather than corrupt"
**Describe the bug**
When running 'okteto ctx ls' without ever having run 'okteto ctx' (for example when following https://www.okteto.com/blog/developing-microservices-by-hot-reloading-on-kubernetes-clusters/ ), the error message: "FATA[0000] okteto context store is corrupted. Delete the folder ..." appears

**To Reproduce**
Steps to reproduce the behavior:

1. Install okteto cli
1. Run 'okteto ct

[2022-09-15 21:12] pchico83 commented on #3107
@zaheerm thanks for reporting this! We will have a look to your PR tomorrow

[2022-09-16 10:33] AdrianPedriza commented on #2773
I cannot reproduce it with the current CLI version. Closing this issue.

[2022-09-16 10:33] #2773 closed

[2022-09-16 12:12] jLopezbarb commented on #2936
Hi @ajrpayne, I was not able to reproduce the issue. Can you provide more information about the issue like the CLI version you are using (`okteto version`) or if you have already a secret with key `WEB_VARS`.

Here is the scenario that I tested:
1. Create the following files:
`.env` file:
[code]
`web-vars.env` file:
[code]
`web-vars2.env` file:
[code]
`docker-compose.yml` file:
[code]
2. Run `okte

[2022-09-16 13:20] jLopezbarb commented on #2934
Fixed in 2.7 release
<img width="502" alt="Captura de Pantalla 2022-09-16 a las 15 20 07" src="https://user-images.githubusercontent.com/25170843/190648380-52c8f659-ab71-485e-8725-0776efbe61cc.png">

[2022-09-16 13:20] #2934 closed

[2022-09-19 07:42] #3066 closed

[2022-09-19 09:05] mnevadom opened #3112 "Support for `-v, --var stringArray set a variable (can be set more than once)` on `okteto destroy` and `okteto pipeline destroy`"
Right now we can send ENVs vars to the `okteto deploy` command with the `-v` option.

It could be interesting to be able to send those vars to the `okteto destroy` option

[2022-09-19 09:10] pchico83 commented on #3112
@mnevadom do you have a use case in mind?

[2022-09-19 09:47] mnevadom commented on #3112
I don't know if it is very common, but in the `acceptance-testing` the destroy section is used to run a `job` from an IMAGE, which runs a `go command`. In this case to destroy given clusters names, but it could be a job with whatever.

https://github.com/okteto/acceptance-testing/blob/93bcc94c053cf3a26897c91b2a2772e003981906/integration/okteto-deploy.yml#L25

I adapted it to export the `image` to

[2022-09-19 09:51] pchico83 commented on #3112
@mnevadom makes sense. the problem is that `-v` already have a meaning on `okteto destroy` to destroy volumes.
We need to fix [this one](https://github.com/okteto/okteto/issues/3052) before adding envvars on `okteto deploy`

[2022-09-19 11:28] #2868 closed

[2022-09-19 15:14] shepherd1530 opened #3113 "Can't activate development container"
I can't start a development container using the okteto up command.

Below is my console output.

[code]

[2022-09-20 07:15] jLopezbarb commented on #3113
Hi @shepherd1530, there was a problem yesterday on our side but the problem has been fixed. Can you try again to check that the problem is fixed?

[2022-09-21 10:32] jLopezbarb commented on #3061
@AgustinRamiroDiaz is this still happening? I think we fixed it on `2.7.0`

[2022-09-21 11:09] jLopezbarb commented on #3067
@jmacelroy Yes, What I mean is that the services that have a `depends_on` should be built after all the builds of the services in `depends_on`. The `OKTETO_BUILD_B_IMAGE` environment variable is only available when the image B is available since it requires the SHA of the image

[2022-09-21 15:07] AgustinRamiroDiaz opened #3116 "Wrong arguments passed to `checkPVCValues`"
One thing I found while investigating this is that we are passing the wrong `pvc` to this function. In `CreateForDev` we should be passing `k8Volume`. As it is now, we are passing the pvc inferred from `dev`, so we are checking against the same value and this function is not doing anything :o

_Originally posted by @AgustinRamiroDiaz in https://github.com/okteto/okteto/pull/3096#discussion_r976557

[2022-09-21 17:58] AgustinRamiroDiaz commented on #3061
It's fixed!

[2022-09-21 17:58] #3061 closed

[2022-09-22 10:38] AgustinRamiroDiaz commented on #3105
Hi @osomike! Thanks for sharing this issue

Can you share the logs of the pod that's failing with `BackOff` error? (`kubectl logs podname`)

[2022-09-22 11:07] #3107 closed

[2022-09-23 06:33] osomike commented on #3105
Hi @AgustinRamiroDiaz,

here you have the logs of the failing pod. Indeed it is not able to create a file on a folder due to access rights:

[code]

[2022-09-23 08:21] #3083 closed

[2022-09-23 09:58] jLopezbarb commented on #2936
Hi @ajrpayne, I'm closing the issue because we couldn't reproduce the issue. Please feel free to reopen again if the problem persists.

Happy coding!!

[2022-09-23 09:58] #2936 closed

[2022-09-23 10:36] AgustinRamiroDiaz commented on #3105
Thanks for all the detailed info @osomike

This seems like an issue with how we used to set the file permissions for syncthing. It should've been solved by [this pr](https://github.com/okteto/okteto/pull/3095/files).

Since this change is not yet released in a stable version, you can try it out subscribing to the dev channel with
[code]

Tell us how did it go!

[2022-09-23 11:40] jLopezbarb commented on #2720
I think this will require some backend changes to redeploy from the UI when using multiple files, or should we remove the possibility to redeploy from the UI

Another thing is how to display all the manifests in the UI... I thought we could do something like this:
[code]
But with that we are losing the name of the manifest and can be confusing

[2022-09-23 11:57] #2752 closed

[2022-09-23 12:10] pchico83 commented on #2720
@jLopezbarb good point. For simplification, we could store the result of merging the okteto manifest for the UI. Another option is to don't implement this feature, and go with local `dependencies`, which covers basically the same use cases, but it's more declarative

[2022-09-23 12:17] jLopezbarb commented on #2720
I'll implement [local dependencies](https://github.com/okteto/okteto/issues/2254) first until we have a clearer view on how to implement this.

I think that we still need this issue to be done to be able to deprecate completely `okteto stack deploy`. We already have a way of getting the same behavior using the manifest V2 but we should be able to have the same behavior

[2022-09-23 12:19] osomike commented on #3105
Okay :)  I will wait for the PR to be added to the stable version.
I will come back to this Issue if things are not working for me., thanks for your help!

[2022-09-23 13:07] pchico83 commented on #2720
@jLopezbarb yes, let's go with local dependencies. I am going to close this issue. We can create it again when needed.
It's fine to deprecate `okteto stack` and just give support via the v2 compose notation

[2022-09-23 13:07] #2720 closed

[2022-09-24 20:23] zaheerm opened #3124 "okteto shows error: specifying a root certificates file with the insecure flag is not allowed when interacting with k8s cluster"
**Describe the bug**
If your context is to a K8s cluster which has been set to insecure-skip-tls-verify, then okteto will not be able to deploy to it because the temporal kubeconfig contains certificate-authority-data which makes kubectl ignore the insecure-skip-tls-verify flag.

**To Reproduce**
Steps to reproduce the behavior:

1. Have a k8s cluster in your kubeconfig with insecure-skip-tls-veri

[2022-09-26 11:04] jLopezbarb commented on #2809
This could be a great addition in terms of performance but requires changing almost the whole serialization process since we need to create unmarshallers for each of the sections

[2022-09-26 13:35] #2929 closed

[2022-09-26 15:47] #3045 closed

[2022-09-26 18:14] AgustinRamiroDiaz opened #3129 "Big packages like `model`, `okteto` and `config` import each other"
** Please describe.**
There are very big packages that need to be broken down into more smaller, independent, reusable blocks. One of the biggest problems that arise with this is that they import each other and that makes it harder to reuse code, so we end up copying it and having 2 different sources of truth

**Describe the solution you'd like**
Ideally, we'd break all of this big packages into s

[2022-09-26 18:16] #3116 closed

[2022-09-27 01:31] zaheerm opened #3131 "Add ability to specify storage class for okteto pvcs"
**Is your feature request related to a problem? Please describe.**
If the k8s cluster has storage classes but none set as default, the pvcs when you run okteto up fail to get ready.

**Describe the solution you'd like**
A command line argument or environment variable or both to specify the storage class to use for the okteto pvcs.

[2022-09-27 08:06] jLopezbarb commented on #3131
Hi @zaheerm, You can specify the persistent volume class by setting the `storageClass` field in the `persistentVolume` section. More information can be found here: https://www.okteto.com/docs/reference/manifest/#persistentvolume-object-optional

[2022-09-27 08:15] jLopezbarb commented on #3131
You can also set the default storage class at the cluster level when installing Okteto platform: https://www.okteto.com/docs/self-hosted/administration/configuration/#devstorageclass

[2022-09-27 09:39] #3056 closed

[2022-09-27 11:30] jLopezbarb commented on #2694
With the latest changes done to the e2e tests, we could run all e2e in a vanilla cluster except the ones on the `okteto` folder which need to have an okteto platform installed in order to work

[2022-09-27 21:35] pchico83 opened #3132 "If `okteto destroy` fails, the Okteto UI shows `destroying` status forever"
**Describe the bug**
Run `okteto destroy` with the following manifest:
[code]
check the Okteto UI and the dev environment keeps the `Destroying` state forever.

**Expected behavior**
The development environment is marked as `error`

[2022-09-27 22:25] pchico83 opened #3134 "`namespace` is missconfigure when using `context` in my okteto manifest"
**Describe the bug**
My current context is pointing to https://cloud.okteto.com to a different namespace than the personal namespace.
If I have a manifest with the `context` field like this:

[code]

and run any cli comand, the command is executed in my personal namespace. But it should use my current context namespace, because I am already working on https://cloud.okteto.com.

I didn't check when

[2022-09-28 06:25] #3131 closed

[2022-09-28 08:21] pchico83 opened #3135 "Support the configuration of liveness probes when using compose healthchecks"
**Is your feature request related to a problem? Please describe.**
Okteto supports Docker Compose [healthchecks](https://www.okteto.com/docs/reference/compose/#healthcheck-object-optional) to be assigned to any service in your Docker Compose file. Healthchecks are translated to Kubernetes Readiness Probes.

In some cases, users would prefer to create Kubernetes Liveness Probes. Or both of them, Re

[2022-09-28 11:55] AgustinRamiroDiaz opened #3136 "[Regression] `okteto context` doesn't let me use my cluster"
**Describe the bug**
When I run `okteto context` and select a cluster that has okteto self hosted installed, it automatically switches the context to the "okteto" one.

You can see here how the cli prints 2 different contexts when running the command
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Have a cluster with okteto self hosted installed
1. Add the okteto context through the

[2022-09-28 20:06] pchico83 commented on #3135
@jLopezbarb I updated the description to add `okteto` to the field name. We should do this to every `x-name` field we add to make it clearer that this is okteto specific:
[code]

[2022-09-28 22:26] TIWA-HARRIS-DEV opened #3138 "Support for network and volumes network"
Hello
Tried to deploy a Laravel 8 app on Okteto with a docker-compose file. But I obtained the following warning in console:
![image](https://user-images.githubusercontent.com/57524148/192899382-c2da948a-901d-4682-ab24-6f30ce79d0c2.png)

Without them, i'm unable to make my Laravel app work properly.

Please add support for the fields.
Thanks

[2022-09-29 06:16] pchico83 commented on #3136
@AgustinRamiroDiaz why did you mark it as a regression? I think this has been the behavior from day one

[2022-09-29 08:33] #2732 closed

[2022-09-29 11:06] #3089 closed

[2022-09-29 11:14] AgustinRamiroDiaz commented on #3136
I used to do this before. I don't remember the exact version but I can search for it if needed

[2022-09-29 12:10] pchico83 commented on #3136
@AgustinRamiroDiaz thanks. right, we should investigate if it's a regression then

[2022-09-30 09:37] jLopezbarb commented on #2214
Do you remember the manifest that you were using? I think we fixed one related with having it from a compose but not sure if it's the same error

[2022-09-30 09:47] jLopezbarb commented on #2450
Closing this since we merged the PR

[2022-09-30 09:47] #2450 closed

[2022-09-30 09:53] jLopezbarb commented on #2932
@mnevadom Could you check if https://github.com/okteto/okteto/pull/3071 fixed this issue? Both issues were pretty similar and I think we can close this one as part of the PR

[2022-09-30 10:04] pchico83 commented on #2214
@jLopezbarb you can create a docker image with a 2Gi file in `/src`. Then run `okteto up` with something like this:
[code]

The init container will initialize `/src`, the volume runs out of space, and you should get this error.

[2022-10-02 09:22] tdenovan opened #3141 "Cannot open terminal when using remote SSH in VS Code"
**Describe the bug**
When using Remote SSH to contact to an okteto development container (either directly or via the Okteto VS Code extension) it is not possible to open a terminal. The terminal immediately closes upon opening.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `okteto up`
1. Use Remote SSH: Connect to Host in VS Code to connect to the okteto development container
1. Open

[2022-10-03 07:53] jLopezbarb commented on #2926
Reopening since it's not completed

[2022-10-03 13:54] AgustinRamiroDiaz commented on #3135
Do we have an intention to stick to the docker-compose spec?

[2022-10-03 14:23] pchico83 commented on #3135
@AgustinRamiroDiaz yes, we would like to be compose 100% compatible

[2022-10-04 05:59] #3124 closed

[2022-10-04 06:02] pchico83 commented on #2984
Duplicated of https://github.com/okteto/okteto/issues/2957

[2022-10-04 06:02] #2984 closed

[2022-10-04 06:59] pchico83 commented on #2861
Fixed here https://github.com/okteto/okteto/pull/3133

[2022-10-04 06:59] #2861 closed

[2022-10-04 07:01] pchico83 commented on #2569
We don't support the `--detach` flag anymore

[2022-10-04 07:01] #2569 closed

[2022-10-04 07:03] pchico83 commented on #2420
This is a continuous efort. We should create more specific issues when we want to solve a given vulnerability

[2022-10-04 07:03] #2420 closed

[2022-10-04 10:09] nirgilboa opened #3145 "manifest: environment variable resolving using key only seems to be broken"
**Describe the bug**
My manifest contains the following `environment` section with an empty key named `GITHUB_NPM_TOKEN`
[code]
As described in the [manifest docs ](https://www.okteto.com/docs/reference/manifest/#environment-string-optional) using a key (without a value) should resolve to the value of the machine on which okteto is running. After successfully running `okteto up` and getting a shel

[2022-10-04 11:13] jLopezbarb opened #3146 "Add a timeout for specific dependencies"
**Is your feature request related to a problem? Please describe.**
I have a bunch of remote dependencies, and I want to specific a custom timeout for each of them

**Describe the solution you'd like**
I would like a new field on the dependencies section that adds the ability to set the timeout for the dependencies:
[code]

**Additional context**
If the timeout is not specified in the dependency, w

[2022-10-04 14:02] pchico83 opened #3147 "Stream the out of deploying a dependency when `wait` is enabled"
**Describe the bug**
When deploying a dependency with `wait`, we should stream the output of the deployment dependency to make it easier to follow what's the state of the deployment. It also helps to troubleshot issues when the deployment fails.

Otherwise, we get just an error like this:
[code]

**To Reproduce**
Create a dependency that fails deployment and run `okteto deploy --dependencies`

[2022-10-05 17:05] ifbyol commented on #3145
@nirgilboa Thanks for reporting it. We were able to reproduce it and we'll review it.

As an alternative way, you should be able to specify the environment as a list of strings:

[code]

In that scenario, you can set

[code]

and it works.

[2022-10-06 04:42] rberrelleza opened #3148 ""okteto context" doesn't read the kubeconfig from $KUBECONFIG"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Set the KUBECONFIG env var to point to a local kubeconfig file (e.g. /home/ramiro/foo/kubeconfig)
1. Run "okteto context ls"

**Expected behavior**
I was expecting to see the contexts from the kube config I indicated via KUBECONFIG. Instead, it's reading the ones from $HO

[2022-10-06 04:43] #3148 closed

[2022-10-06 04:43] rberrelleza commented on #3148
Not an issue, i had the wrong terminal active 🤦

[2022-10-06 04:45] rberrelleza opened #3149 "Remove "images were already built" message if build are not defined"
**Describe the bug**
When running 'okteto up' we show this message:

[code]

We should not show that message if the build section is not defined in okteto.yaml, since it might confuse the user.

[2022-10-06 07:56] ifbyol opened #3150 "If my repo was cloned using `http` protocol, `okteto deploy` command fails"
**Describe the bug**
If I clone a repository using `http` protocol, the clone is successfully because during the clone is redirected to `https`, but the `.git` configuration locally it specifies `http`.

For example, If I clone http://github.com/okteto/movies, it successfully clones and you can see a log saying that it is redirected to https://github.com/okteto/movies. If you check the file `.git/

[2022-10-06 08:52] #3132 closed

[2022-10-06 14:09] AgustinRamiroDiaz opened #3151 "Okteto build prompts wrong error when Dockerfile build fails"
**Describe the bug**
When running `okteto build` with a Dockerfile that fails its build, okteto prints `Error building image ...: You are not authorized to push image...`.

**To Reproduce**
Steps to reproduce the behavior:

Create these files:
- Dockerfile
[code]
- okteto.yaml
[code]

Then run `okteto build`

**Expected behavior**
Okteto should prompt me with the Docker build error so I can addres

[2022-10-06 15:21] #3135 closed

[2022-10-06 15:24] #3059 closed, assigned to jpf-okteto

[2022-10-06 16:03] shepherd1530 opened #3152 "Can't activate development container"
I can't activate my development container with "okteto up".  The CLI is stuck on "⠧ Attaching persistent volume...".

Below is my stack trace.

[code]

CLI version: okteto 2.7.0

[2022-10-06 19:00] jmacelroy commented on #3145
@jLopezbarb I know you hit some internal constraints on this in regards to libraries or parser. Do I have that correct? Should we update our docs to reflect that we don't support this yet and then figure out how we can support it? cc @omnomagonz

[2022-10-07 08:04] jLopezbarb commented on #3145
Yes, this is a known issue. Unfortunately it's not easy to solve because the problem is in the library that we use to parse the manifest `gopkg.in/yaml.v2`. It does not allow to parse a map structure with an empty value.

There is a new version `gopkg.in/yaml.v3` but that doesn't solve the issue about parsing maps with empty values

[2022-10-07 08:19] aniruddha2000 commented on #2920
I would like to work on this

[2022-10-07 08:20] aniruddha2000 commented on #2920
The vanilla cluster can be a minikube cluster? @jLopezbarb

[2022-10-07 08:29] jLopezbarb commented on #2920
Hi @aniruddha2000, thank you for taking interest in this issue.

Answering your question, yes as long as the cluster does not have the okteto chart installed, it is a vanilla cluster.

I have assigned you the issue. If you have any questions during the implementation, do not hesitate to contact us and we will guide you.

[2022-10-07 10:15] shepherd1530 commented on #3152
This is the new stacktrace.

[code]

[2022-10-07 13:18] jLopezbarb commented on #3152
Hi @shepherd1530, We had a problem in our side, but it has been fixed and you should be able to deploy now without problem. If you continue having problems, please don't hesitate to contact us

[2022-10-07 21:44] jmacelroy commented on #3136
@pchico83 I thought we made it this way on purpose to prevent accidental use of cloud.okteto.com by users on dedicated clusters?

[2022-10-08 14:26] aniruddha2000 commented on #2920
I am getting an error of something like -
[code]
Am I going in the right direction?

[2022-10-08 17:21] abs007 commented on #2920
@jLopezbarb  From what I can understand, you'd like to have a message guiding the users to have an extra `image` field like in:
[code]

Also, in the docs [here](https://www.okteto.com/docs/reference/manifest/#build-object-optional), it states that it's optional to mention it in case okteto is installed. Does it mean when the okteto cli is installed? And, in this case, is the Okteto registry used t

[2022-10-10 07:44] jLopezbarb commented on #2920
Yes, that is checked in the building step. We want to move that error to the [manifest validation](https://github.com/okteto/okteto/blob/ab51df5924159bb7ab4fa70b815ba0815cefae23/pkg/model/manifest.go#L665) instead of the building validation to have all the validations in one

[2022-10-10 08:37] pchico83 commented on #3136
@jmacelroy I don't think this is related to that. Asking agustin for more detailed repro steps to understand what's going on

[2022-10-10 08:41] viddo commented on #2921
An example use-case that came up was for testing some **nginx** changes for our frontend app.

Built using ` okteto build -t eu.gcr.io/development-300207/frontend:nicklas frontend` but turns out it didn't work because it implicitly got built using my laptop's platform (Macbook M1, ARM architecture) which failed when executed in the dev cluster (yielding 503 errors).

[2022-10-10 12:34] viddo commented on #2921
FWIW, I also tried using https://docs.docker.com/desktop/mac/apple-silicon/ which hints that it does support `--platform=linux/amd64`. Tried using that flag that in my Dockerfile, like so:
[code]
… but didn't work either. SosStill think the `okteto build` need some more work to integrate this `buildx` for platform support?

[2022-10-10 13:47] viddo commented on #2921
Follow-up, with help and some more explanations from @ifbyol we found a workaround for time being! TL:DR it _is_ possible to build with custom platform, but have to do a _remote build_.

Side-note: It's not documented nor clear okteto CLI help that this nuance exists. Maybe something we could/should clarify for customers too?

Now, the details:

## Why didn't it work before?

I was using my person

[2022-10-10 13:56] pchico83 commented on #2921
For this issue, we could infer the platform of the cluster (with `kubectl version`) and use that info to build the image for the right platform

[2022-10-10 14:51] jmacelroy opened #3156 "CLI Release 2.8"

[2022-10-10 15:31] ifbyol opened #3157 "`okteto build` doesn't work if an okteto manifest is not provided/found"
**Describe the bug**
If I have a folder with a Dockerfile but I don't have any Okteto manifest, when I try to build the image with `okteto build -t <my-tag> .`, it fails with the following error:

[code]

It stopped working on `2.7.0`

**To Reproduce**
Steps to reproduce the behavior:

1. Create an empty folder with a simple Docker inside it
2. Execute `okteto build -t <my-tag> .`
3. The error com

[2022-10-11 01:58] rberrelleza commented on #3065
@pchico83  Could you explain more of the use case of having dependencies but no local deploy?  Maybe we should only hide the error message if deploy is empty AND there are dependencies? (because in this scenario, you do have something to deploy).

For the other scenario you mention (dev and or build defined but not deploy), I think that if the user doesn't define a deploy section, and they are cal

[2022-10-11 02:06] rberrelleza commented on #3157
I find the proposed behavior very confusing. `okteto build` is meant to be used to build the images defined on your okteto manifest, not as a general-use tool for building containers (it's described like this on the help text for the command).  Do we have a lot of people using it like you suggest @ifbyol ?

In the last iteration of the docs that @pchico83 sent, it was defined that the behavior for

[2022-10-11 02:07] rberrelleza commented on #2378
Let's ensure we don't log the actual value of the token, only its presence.

[2022-10-11 06:46] ifbyol commented on #3157
@rberrelleza The expected behavior described is how the build command was working until we changed the behavior unexpectedly on `2.7.0` and without announcing it in any release note

It was how the build command was working before `2.0.0` and we kept the behavior for backward compatibility. Old pipeline files could rely on this and we didn't let them know about this change, so when we start using

[2022-10-11 07:07] pchico83 commented on #3157
@rberrelleza the issue is to solve a breaking change (with high risk of affecting existing users of okteto pipelines), not to define the new behavior.
I agree we need to redefine the UX of `okteto build` if there isn't a manifest, but that would be part of a major release.
@jLopezbarb do we have metrics for the case the build command is using an okteto manifest or not?

[2022-10-11 07:11] jLopezbarb commented on #3157
Not right now, We can add these metrics as part of this PR. Despite of that I think we need to revisit all the metrics that we are sending since there are lots of things that we are missing

[2022-10-11 07:15] pchico83 commented on #3157
@jLopezbarb yes, let's add a metric for that, it will help in future analysis to understand how often people rely on this behavior

[2022-10-11 07:34] pchico83 commented on #3065
@rberrelleza for dependencies, it's super common to have a meta repo with just `dependencies`. This is a way to orchestrate the deployment of several repos in single command.
For the scenario of `dev` and `build` defined but not `deploy`, the problem is that the installer job runs `okteto deploy`.  That means for these cases users cannot deploy a repo from the UI or with `okteto pipeline deploy`.

[2022-10-11 12:09] abs007 commented on #3149
I'd like to take this issue up, if possible.

[2022-10-11 13:22] jLopezbarb commented on #3149
Hi @abs007, I've assigned it to you.

If you need some guidance while coding the fix, feel free to reach us and will provide some context.

Happy coding!!

[2022-10-13 06:52] abs007 commented on #3149
I feel like
[code]
would be a good replacement. Saying this because afai can see, the string already exists to show if no images are left for building. The string above I believe would be a good general case to cover both cases:
* no images left for building
* build section missing

[2022-10-13 08:34] jLopezbarb commented on #3149
We should only show the message if the images are already built, there is no point on showing that message if there is no build section since we are telling the users that they can rebuild the images, but they can't because there are no images to build

[2022-10-13 18:42] AgustinRamiroDiaz commented on #3136
I don't remember, but the important thing is to have it defined as a kubeconfig in some way. It should be displayed when running `kubectl config get-contexts`

[2022-10-13 21:49] rberrelleza commented on #3065
I think showing the wrong message is misleading and makes it more complicated for the user to find the right help. I get confused when I see that message. My first feeling is always that I somehow picked the wrong file or something.

[2022-10-13 21:50] rberrelleza commented on #3065
To me that's an internal implementation. I think we should focus on polishing the user experience first, and then the automated one.

[2022-10-14 08:12] jLopezbarb commented on #3156
Will release as soon as we fix https://github.com/okteto/okteto/issues/3157

[2022-10-14 15:50] #3157 closed

[2022-10-15 15:03] abs007 commented on #3134
So from what I can understand, there's a namespace switching after running `okteto up`. Also, will a local minikube context work as a  Kubernetes context?

[2022-10-16 17:12] volmedo commented on #2908
hi Okteto CLI maintainers! I'm contributing to open source projects in the context of Hacktoberfest 2022. I would like to give this one a try, if that's ok.

[2022-10-16 17:20] pchico83 commented on #2908
@volmedo I assigned the issue to you, thanks for contributing to our hacktoberfest issues!

[2022-10-17 07:50] jLopezbarb commented on #3134
Yes, It seems that `okteto up` is using the context stored in the user okteto context instead of the one that is specified in the manifest.

Yes, it will

[2022-10-17 12:57] abs007 commented on #3134
Got it. I'd like to work on this issue. Also, could I get some pointers as to which file I should look into? Thanks

[2022-10-17 16:16] jLopezbarb opened #3167 "Error: panic when pipeline deploy `--wait`fallback to previews"
**Describe the bug**
If I run `okteto pipeline --wait --namespace test-{YOUR_USERNAMe}` pointing to an Okteto preview environment. The CLI panics

**To Reproduce**
Steps to reproduce the behavior:

1. Run `okteto preview deploy --branch cli-e2e --repository https://github.com/okteto/movies --wait`
1. Get the preview name - it should be something like `distracted-wiles-jlopezbarb`
1. Run `okteto pi

[2022-10-17 16:27] Diazbesjorge commented on #3167
This is a regression from 2.7 to 2.8. It was introduced in this [PR](https://github.com/okteto/okteto/pull/3081).

[2022-10-18 10:58] #3149 closed

[2022-10-18 11:20] #3167 closed

[2022-10-18 16:27] jLopezbarb opened #3171 "preview is not passing the proper filename if specified by file"
**Describe the bug**
If you run `okteto preview -f docker-compose.yml` or any other filename the okteto preview will call the mutation but won't add the filename parameter, so the backend won't have the filename property and will leave it empty when calling the `okteto deploy` command inside.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `okteto preview deploy --wait -f docker-compose

[2022-10-18 20:53] volmedo commented on #2793
This one should also be easy to fix. Since my other task is mostly done, should I take this one too?

[2022-10-19 03:34] rberrelleza opened #3174 "CTRL + C when selecting the service doesn't cancel the "okteto up" sequence"
**Describe the bug**
**To Reproduce**
Steps to reproduce the behavior:

1. `okteto up` on github.com/okteto/movies
1. Wait for it to be deployed
1. On the service selection, type CTRL + C

<img width="930" alt="image" src="https://user-images.githubusercontent.com/475313/196591361-6606aa5f-8508-49df-b2c2-420a14f7ecf3.png">

**Expected behavior**
I expect the sequence to exit

**Desktop (please com

[2022-10-19 05:59] pchico83 commented on #2793
@volmedo awesome, thanks! I assigned the issue to you :-)

[2022-10-19 10:10] jLopezbarb opened #3175 "Can't redeploy statefulsets with volume mounts"
**Describe the bug**
If I want to redeploy a statefulset with volume mounts but I get the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Clone [https://github.com/okteto/movies](https://github.com/okteto/movies/)
1. Run `okteto deploy`
1. Run `okteto deploy` again
1. See error

**Expected behavior**
The deploy should finish successfully

**Desktop (please complete t

[2022-10-19 11:20] jLopezbarb commented on #3134
Not quite sure, but I think we should set also the namespace if the context is already set in the config.json [here](https://github.com/okteto/okteto/blob/fbabbedb0ebc083ceacf3e264994bd5c4a7c4cb6/cmd/context/create.go#L146). If we don't set it as ctxOptions [this function](https://github.com/okteto/okteto/blob/fbabbedb0ebc083ceacf3e264994bd5c4a7c4cb6/cmd/context/create.go#L228) will get the defaul

[2022-10-19 13:43] viilveer opened #3177 "Running "okteto up" twice without proper termination causes logout in Ubuntu"
**Describe the bug**
Running okteto up twice causes my session to be logged out. I have found a specific scenario to reproduce it but it has happened to me without the given scenario also.

**To Reproduce**

Run "okteto up" in a project
Terminate terminal
Run "okteto up" in a same project again
When "Activating your development container" is displayed I'm logged out of my session

**Expected behav

[2022-10-19 15:06] abs007 commented on #3134
Also, in [here](https://www.okteto.com/docs/reference/manifest/#context-string-optional) it mentions that "*By default, it uses the current okteto context.*" Could I get some more info into what the **current okteto context** is. Is it the context that we choose when we initially run `okteto up`?

[2022-10-20 07:28] teresaromero opened #3179 "Use t.SetEnv instead of os.SetEnv"
Across unit test we find sometimes env vaariables are being set and then defer to restore original value. Using `t.SetEnv` performs the action of set the env just for the test and then do the cleanup.

[2022-10-20 07:29] #3175 closed

[2022-10-20 07:30] jLopezbarb commented on #2759
Reopen since we have reverted the changes related to this fix. We need to think in another solution for this problem since it was preventing to redeploy statefulsets with volume claims

[2022-10-20 07:44] pchico83 commented on #3179
@teresaromero  could we do this in okteto/app tests to improve their isolation and allow parallel execution?

[2022-10-20 07:45] pchico83 commented on #2759
@jLopezbarb one option here if to list PVC after `okteto deploy` and add the label manually. This way they get the label, but we don't need to modify the statefulset volume claim template

[2022-10-20 10:01] jLopezbarb commented on #3156
Closing it. Release already Done

[2022-10-20 10:01] #3156 closed

[2022-10-20 10:03] pchico83 opened #3182 "The sample of private endpoints + docker compose is broken"
**Describe the bug**
I am adding a label to define my private endpoint, but it's not working. My endpoint is still public.

**To Reproduce**
Deploy this compose:
[code]
with `okteto deploy`.
The endpoint is public.
**Expected behavior**
The endpoint should be private

**Additional context**
We should populate the labels/annotations in the compose service to every resource create by okteto, includi

[2022-10-20 10:14] jpf-okteto opened #3183 "Don't print self-signed warning when connecting to server endpoint with publicly (or locally) trusted certificates"
**Describe the bug**
Okteto CLI prints self signed warning when connecting to a server endpoint with publicly (or locally) trusted certificates.

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy self-signed Okteto Helm Chart
1. Put a proxy in front of Okteto with publicly (or locally) trusted certificates
1. Use the CLI
1. Observe the self signed warning error

**Expected behavior**
If

[2022-10-20 10:26] jLopezbarb commented on #2214
I could reproduce the issue, but since it's something that can be a pain, I will propose three different solutions:

1. Can/Should we create a new init container that checks if the volume is full or not after the cp? We can't asume that all the user images have the necessary utilities to check if the disk is full. I would only need `cp`, `df` and `awk`/`grep` but I don't know if I can asume that t

[2022-10-20 10:32] pchico83 commented on #2214
@jLopezbarb is it possible to check it based on the logs of `init-volume-container`?

[2022-10-20 10:34] pchico83 commented on #260
@fishera123 would it work, as a first solution, to pipe with `grep` to filter logs? we would add a prefix to every log line with the pod name

[2022-10-20 10:35] jLopezbarb commented on #2214
It's possible if we run the copy command. But we are skipping the copy command if the `init-volume-container` is initialised, so we will have the same error if we run two times `okteto up`. The first one is going to initialise the volume and the second one will skip validation and will throw `failed to prepare subPath for volumeMount` error

[2022-10-20 10:38] pchico83 commented on #2214
@jLopezbarb What about catching the error `failed to prepare subPath for volumeMount` and show an error telling the volume is full and a CTA to increase the volume size?

[2022-10-20 10:42] jLopezbarb commented on #2214
I would try to avoid that since `failed to prepare subPath for volumeMount` can also happen if the user set the wrong mount path in their app and run `okteto up` believing that their application is correct and we will tell the user to increase the volume size but that won't fix the original issue...

[2022-10-20 10:44] pchico83 commented on #2214
@jLopezbarb are we already managing that error? do you have a sample where that happens?

[2022-10-20 10:46] AgustinRamiroDiaz commented on #3179
@pchico83 `t.SetEnv` doesn't isolate the test, it's only a handy function that automatically cleans up the envvars at the end of your test even when it fails. To be able to isolate our tests and be able to run them in parallel, we'd need to inject in some form the `setEnv` function which will allow us to mock it. This is a trade off since we'd be reducing the scope of the test to be more `unit`, b

[2022-10-20 16:31] jLopezbarb opened #3186 "separate between flags used by the user and options allowed by the command"
**Is your feature request related to a problem? Please describe.**
We already have some issues related to not differentiating between user flags and the options used by the command later (See #3171, #2846 or #2824).

This is a problem when we need to differentiate between use cases based on the flags of the user if are specified or not or if they are being used as the default behavior. It also add

[2022-10-20 18:08] vitobotta opened #3187 "Document labels used by Okteto pods"
**Is your feature request related to a problem? Please describe.**
Documentation request

**Describe the solution you'd like**
In my case, I use a wrapper around some K8s tools including Okteto to abstract some complexity, and am also using KEDA autoscaling to scale my app. When I start Okteto, the autoscaler interferes because it automatically starts its own non-Okteto pods, so traffic is then sp

[2022-10-21 07:18] teresaromero commented on #3179
@AgustinRamiroDiaz should i edit the issue and make this about injecting envs insead?

[2022-10-21 08:11] jLopezbarb commented on #3187
@RinkiyaKeDad Should we move this issue to the docs repo? Where is the best place to document those labels?

[2022-10-21 11:08] jLopezbarb opened #3188 "Document how to revert GitHub actions"
**Is your feature request related to a problem? Please describe.**
There are multiple ways of reverting a GitHub action to a previous version. We should have a document explaining what to do in case one of the actions has a bug or what to do if we need to revert all the actions where we can check the actions to follow

**Describe the solution you'd like**
We should have a document explaining how t

[2022-10-21 13:28] RinkiyaKeDad commented on #3187
Yes. Let's first create an issue on [github.com/okteto/docs](https://github.com/okteto/docs) and there we can discuss where to document this!

[2022-10-21 16:54] abs007 commented on #3134
Hi, I'm not sure if I'll be able to reproduce this bug since I do not have a business email.

[2022-10-21 16:57] vimalpatel19 commented on #2957
Hello Okteto maintainers! I'm contributing to open source projects for Hacktoberfest and would like to give this a try.

[2022-10-21 17:16] pchico83 commented on #2957
@vimalpatel19 welcome to the okteto community!
That would be awesome. Do you need more context to work on this issue?

[2022-10-21 17:26] vimalpatel19 commented on #2957
@pchico83 yes, any relevant context that you can provide would be great! Additionally, I had the following questions:

- What is considered a vanilla cluster vs. a non-vanilla cluster?
- What would you suggest as the preferred route/solution for this: simply display output to the user that a vanilla context should be managed via `kubeconfig` or allow the `okteto ctx` commands to work for a vanilla

[2022-10-21 18:17] pchico83 commented on #2957
@vimalpatel19 Okteto has a CLI component (this repo) and a cluster-side component (the whole okteto platform). We usually refer to vanilla clusters as clusters without the okteto cluster component. For example, minikube.
Since removing a kubernetes context is a quite intrusive operation, I would just show a message saying that the context is not managed by okteto and a hint to run `kubectl config

[2022-10-21 23:23] vimalpatel19 commented on #2957
@pchico83 I made minor changes to begin with by making the current error messaging to be more descriptive (see the open pull request). Please let me know if that is not sufficient.

[2022-10-22 05:50] pchico83 commented on #3136
@AgustinRamiroDiaz without repro steps, I will close the issue. Please, reopen it if you have repro steps

[2022-10-22 05:50] #3136 closed

[2022-10-22 12:39] abs007 commented on #3091
I'd like to take up this issue. Upon removing the dependency, I'm guessing I'll have to implement the [NewTrip](https://github.com/okteto/okteto/blob/master/pkg/k8s/namespaces/namespace.go#L80) and [TravelerFunc](https://github.com/okteto/okteto/blob/master/pkg/k8s/namespaces/namespace.go#L104) funcs locally

[2022-10-23 04:27] #2957 closed

[2022-10-24 09:12] pchico83 commented on #3000
@jLopezbarb could you try this:
- Wait for the first sync with available space
- Add more files locally so you get out of space

[2022-10-24 09:17] jLopezbarb commented on #3000
@pchico83, that's another issue we have identified, [when the volume it's full syncthing stops synchronising files](https://github.com/okteto/okteto/issues/2285). The error reported above seems to be happening in the first synchronisation (notice that we don't get the context/namespace/name information)

[2022-10-24 09:48] jLopezbarb commented on #3152
Closing the issue since it was an infra issue that has been fixed

[2022-10-24 09:48] #3152 closed

[2022-10-24 14:44] jLopezbarb commented on #3134
Hi @abs007,

By default okteto uses the information on `~/.okteto/context/config.json` but it can be overwritten by the user if the user specifies in the Okteto manifest the context field, for example like in:
[code]

The problem here is that when the context specified in the okteto manifest is present we get the personal namespace of that context and token instead of checking if the context set b

[2022-10-24 17:19] omnomagonz commented on #3188
Created a product backlog item for this [here](https://www.notion.so/okteto/Document-how-to-revert-GitHub-actions-f3b59c755fa74738bc0d108228daaea1).

It's unclear to me if this is internal-facing, customer-facing, or both. I'm also not sure what the relative priority of this may be, so I've added it to our backlog to evaluate 😄

cc @jmacelroy

[2022-10-24 18:33] omnomagonz commented on #3186
@jmacelroy I opened an internal backlog item [here](https://www.notion.so/okteto/Separate-between-flags-used-by-the-user-and-options-allowed-by-the-command-95d7bdfc4a1444759693540ac91b094f) for tracking and prioritization 👍

[2022-10-24 18:52] omnomagonz commented on #3179
I created an internal backlog item [here](https://www.notion.so/okteto/Use-t-SetEnv-instead-of-os-SetEnv-f54cc10f5d9741b7b08594e0049071c7) primarily to flex the muscle of managing things in a single place.

@jmacelroy this is probably something that would skip straight to the end of `Build Track` right?

[2022-10-25 00:54] jmacelroy opened #3194 "CLI Release"

[2022-10-25 12:18] #2908 closed

[2022-10-25 14:14] #3146 closed

[2022-10-25 16:28] mnevadom commented on #3141
Hi @tdenovan !

Thanks!

Can you provide the repo you are using? I'm trying to reproduce it with this one
`https://github.com/okteto/go-getting-started`

And it seems to work. Even when I try to get the previous commands

![image](https://user-images.githubusercontent.com/16018223/197830327-fe83b94f-5b8a-440a-b9f5-1419cf6f2183.png)

[2022-10-26 08:02] #2214 closed

[2022-10-26 08:20] mnevadom commented on #3141
Can you check in the settings if you have this enabled? If so, try to disable it:

![image](https://user-images.githubusercontent.com/16018223/197973234-e5478e1c-90de-4b78-bcf7-3897d0440153.png)

[2022-10-26 08:59] jLopezbarb opened #3196 "testing: create a test for `waitUntilDevelopmentContainerIsRunning`"
**Describe the bug**
there is a lack of test in the up command in general. It should be possible to make tests that cover all use cases of the up command. This requires injecting various things, such as the file system, kubernetes client... So starting with a specific function such as [waitUntilDevelopmentContainerIsRunning](https://github.com/okteto/okteto/blob/2cd722e7ad50a1448cbae18249614a8a06d

[2022-10-26 12:59] jLopezbarb commented on #3091
@abs007 I have assigned it to you.

Yes, we'll need to reimplement [NewTrip](https://github.com/okteto/okteto/blob/master/pkg/k8s/namespaces/namespace.go#L80) and [TravelerFunc](https://github.com/okteto/okteto/blob/master/pkg/k8s/namespaces/namespace.go#L104) locally making them testable by injecting the kubernetes client. That way we can also test https://github.com/okteto/okteto/blob/master/pkg

[2022-10-26 14:42] jLopezbarb opened #3197 "CLI release 2.9"
**Describe the issue**
This issue covers all the actions that must be performed to release CLI 2.9

**Describe the steps that must be performed**

- [ ] Create beta release
- [ ] Create Github backport label (`backport release-2.9`)
- [ ] Manual testing
- [ ] Wait for 3-5 days to look for bugs
- [ ] Promote to official release
- [ ] Update pipeline installer

**Acceptance critteria**
- [ ] A new b

[2022-10-26 14:43] #3197 closed

[2022-10-27 12:18] gabriel-okteto opened #3200 "Yotpo - namespace 'npashov' - Failed to connect to your development container"

[2022-10-27 12:19] gabriel-okteto commented on #3200
From their logs there seem to be two main error repeated
`failed to get logger: failed to get statefulset mysql-smsbump for logs: statefulsets.apps "mysql-smsbump" not found`
and
`error getting members of space npashov`

The mysql-smsbump service seems to be running from the UI

![Image](https://user-images.githubusercontent.com/100674248/198282181-207375ab-1d98-4fee-ae44-c8563517ddec.png)

[2022-10-27 12:48] gabriel-okteto commented on #3200
Another person from their team just asked them to downgrade from 2.8.2 to 2.6.0, it seems that they have seen this before and pointed to toward https://github.com/okteto/okteto/pull/3095/files and said

[code]

Do we have a regression here?

[2022-10-28 09:41] jLopezbarb commented on #3136
Hi @AgustinRamiroDiaz, if your kubeconfig context is pointing to an okteto namespace, whenever we try to use that kubernetes context, the CLI checks if the namespace is managed by Okteto and if so, we use the Okteto context.

If you want to use it as vanilla cluster, the easiest workaround is to point the `context.namespace` to `default` and after that okteto context will let you use the context a

[2022-10-28 09:46] jLopezbarb commented on #3102
Hi @adelsz, I assigned this issue to you since the PR that you opened fixes this issue

[2022-10-28 09:54] jLopezbarb commented on #3138
Hi @TIWA-HARRIS-DEV, Can you provide more information about what do you need from them?

All your services will be in the same network so you will be able to connect from one service to another one by using its name.

Volumes is supported, the only thing that is not supported is the driver field, which driver you need to set for `sail-mysql`. It should also work without specifying it, but if you p

[2022-10-28 10:04] jLopezbarb commented on #2983
If I'm not wrong that is caused if you cancel a deploy, so we should handle a graceful exit on these cases removing properly the kubeconfig file created by okteto

[2022-10-28 10:11] jLopezbarb commented on #2964
@teresaromero should this manifest work to reproduce it if we run `okteto build`
[code]

[2022-10-28 10:12] jLopezbarb commented on #2932
Closing this issue since #3071 is fixing the issue. @mnevadom feel free to reopen the issue again if the new behavior is not the one you expected

[2022-10-28 10:12] #2932 closed

[2022-10-28 10:14] teresaromero commented on #2964
What i tried to express was that:

[code]

when the build process starts, found will be build and not-found will trigger an error, now imagine 4 found and 1 not found, so i think we should prevent this and build the found and warn that some are not found so the process is not broken because of this not found. Not sure i've express myself?

[2022-10-28 10:21] jLopezbarb commented on #2824
@pchico83 Changing it in the configmap requires changes on the backend and will create incompatibilities with previous okteto versions. Should we create it as part of `3.0` release

[2022-10-28 10:25] jLopezbarb commented on #2694
Closing this since the new e2e tests provides the correct way of doing it instead of changing all the examples

[2022-10-28 10:25] #2694 closed

[2022-10-28 10:34] AgustinRamiroDiaz commented on #3136
Thanks @jLopezbarb ! Is this documented somewhere?

[2022-10-30 11:48] gabriel-okteto opened #3203 "Couldn't activate your development container - 0/79 nodes are available"
We are seeing similar error to the incident last week with error

Couldn't activate your development container
    0/79 nodes are available: 1 Too many pods, 1 node(s) had taint {node.kubernetes.io/memory-pressure: }, that the pod didn't tolerate, 1 node(s) had taint {okteto-node-pool: prometheus}, that the pod didn't tolerate, 25 node(s) didn't match pod affinity rules, 51 node(s) had volume node

[2022-10-30 12:34] gabriel-okteto commented on #3203
Resolved after a few retries - not the first time it happened for me today (happened a few times since morning - every time ok stop and ok-start again resolves the issue).

[2022-10-30 12:34] #3203 closed

[2022-11-01 18:24] krzwiatrzyk commented on #2889
Up. This is an issue. I can't use the same image for dev and production as for dev I must have `sh` available in container.

[2022-11-02 05:46] manit-comviva commented on #3150
@ifbyol were you able to find any solution, except keep changing the remote host url?

[2022-11-02 07:40] pchico83 commented on #2889
@krzwiatrzyk which programming languages are you using? having different images for dev and prod is fine, you usually need a debugger, a hot-reloader, a test framework in your dev image, but not in your prod image

[2022-11-02 07:44] ifbyol commented on #3150
Hi @manit-comviva , the issue is still in triage and we didn't work on it yet, For now, you would need to clone the repository using `https` or `ssh`

[2022-11-02 07:47] krzwiatrzyk commented on #2889
@pchico83 I use Go to develop my app. I found other solution, I use multi-stage build and my base image called builder is based on golang:1.18 image, which has sh built in. I use target keyword in okteto.yaml to specify which image should bebuild and uploaded.

It works fine:)

[2022-11-02 09:31] pchico83 opened #3205 "Missleading "insecure" warning with AWS Managed certificates"
**Describe the bug**
We are showing a warning to the user when the installation is using untrusted certificates. This is a problem when using AWS Managed certificates, because we are not checking the certificate used by AWS, but the autogenerated by us.

**Expected behavior**
Instead of checking the certificated downloaded from the Okteto API, we should check is the Okteto URL can be trusted. We s

[2022-11-02 10:17] pchico83 commented on #2824
@jLopezbarb I would focus on user-facing fields first. We can also make these changes without breaking changes, accepting the old and the new field names

[2022-11-02 10:34] #2869 closed

[2022-11-02 12:52] pchico83 commented on #3205
Duplicated of https://github.com/okteto/okteto/issues/3183

[2022-11-02 12:52] #3205 closed

[2022-11-03 08:23] jLopezbarb commented on #3188
Completed

[2022-11-03 08:23] #3188 closed

[2022-11-03 11:32] #2793 closed

[2022-11-03 11:53] teresaromero commented on #3141
@tdenovan did you have the chance to check this? thanks

[2022-11-03 11:53] #3102 closed

[2022-11-03 15:18] #3000 closed

[2022-11-03 15:20] abs007 commented on #3147
I'd like to work on this

[2022-11-03 15:24] pchico83 commented on #3147
Awesome @abs007 !
@teresaromero could you point to the code where we stream the output of `okteto pipeline deploy`?

[2022-11-04 06:53] teresaromero commented on #3147
@abs007

https://github.com/okteto/okteto/blob/master/cmd/pipeline/deploy.go#L251

A dependency deployment is triggered by a pipeline deploy, when the wait flag for pipeline deployment is true, we have a function streaming logs of this process to the CLI.

@pchico83 as the stream logs is inside pipeline, when deploying the dependency logs should be already be streaming. What is exactly the bug? Ar

[2022-11-04 09:26] pchico83 commented on #3147
@teresaromero the logs of the dependency deployment aren't streaming.
We just show `Waiting for dependency xxx to be deployed...`

[2022-11-04 13:15] abs007 commented on #3147
Since I personally don't have access to a cloud provider/ have a personal domain, can I instead make a pr with the changes and then be notified if my changes work on the pr itself?

[2022-11-05 10:44] pchico83 commented on #2988
Closing this one, we are working on a spec about everything that should be available in deploy/destroy commands as envvars

[2022-11-05 10:44] #2988 closed

[2022-11-05 10:54] pchico83 commented on #3112
@mnevadom I am closing this one, we can reopen it in the product backlog if needed

[2022-11-05 10:54] #3112 closed

[2022-11-05 10:56] pchico83 commented on #3105
@osomike I am closing this one, assuming it was fixed by https://github.com/okteto/okteto/pull/3095. Let us know if it's still an issue

[2022-11-05 10:56] #3105 closed

[2022-11-05 10:57] pchico83 commented on #3103
@AgustinRamiroDiaz since this is a feature requests, it should be handled via the product backlog now

[2022-11-05 10:57] #3103 closed

[2022-11-05 10:59] pchico83 commented on #3094
@AgustinRamiroDiaz since this is a feature requests, it should be handled via the product backlog now. But I don't think this is a priority at the moment since people can use the build section in the okteto manifest

[2022-11-05 10:59] #3094 closed

[2022-11-05 11:01] pchico83 commented on #3067
@jLopezbarb since this is a feature request, it should be handled via the product backlog now. But I don't think it's a priority, you can do this with the build section of the okteto manifest

[2022-11-05 11:01] #3067 closed

[2022-11-05 11:08] pchico83 commented on #3065
Let's close this one for now

[2022-11-05 11:08] #3065 closed

[2022-11-05 11:10] pchico83 commented on #3006
Closing since this should go through the product backlog now. Also, adding commands that don't work on clusters without the okteto server side installed is porblematic

[2022-11-05 11:10] #3006 closed

[2022-11-05 11:11] #3005 closed

[2022-11-05 11:12] pchico83 commented on #2993
@odedlaz I am closing this one. Let me know if you still find valuable the use case

[2022-11-05 11:12] #2993 closed

[2022-11-05 11:13] pchico83 commented on #2970
@ifbyol closing it since it's not reproducible

[2022-11-05 11:18] pchico83 commented on #2933
@rlamana how would you call it to this command? it's the equivalent to "Destroy all" in the Okteto UI. Should it `okteto namespace destro-all`?

[2022-11-05 11:20] pchico83 commented on #2887
This will be covered as part of release 3.0 plan

[2022-11-05 11:20] #2887 closed

[2022-11-05 11:22] pchico83 commented on #2870
@jmacelroy what's the current state of this one? Should we close it and consider it on planning when needed?

[2022-11-05 11:22] pchico83 commented on #2855
@jLopezbarb do we have a final spec for this? is it ready for implementation?

[2022-11-05 11:23] #2853 closed

[2022-11-05 11:23] #2852 closed

[2022-11-05 11:24] pchico83 commented on #2847
This will be part of the cli 3.0 release plan

[2022-11-05 11:24] #2847 closed

[2022-11-05 11:25] pchico83 commented on #2832
This is a new feature that should go through the product backlog if needed

[2022-11-05 11:25] #2832 closed

[2022-11-05 11:26] #2792 closed

[2022-11-05 11:26] #2790 closed

[2022-11-05 11:27] #2761 closed

[2022-11-05 11:28] pchico83 commented on #2758
This is now fixed

[2022-11-05 11:28] #2758 closed

[2022-11-05 11:29] #2729 closed

[2022-11-05 11:29] pchico83 commented on #2722
@rberrelleza this would be a new feature, use the product backlog if you want to discuss a new behavior

[2022-11-05 11:29] #2722 closed

[2022-11-05 11:31] pchico83 commented on #2637
This is now partly fixed with a clear error message

[2022-11-05 11:31] #2637 closed

[2022-11-05 11:33] #2540 closed

[2022-11-05 11:34] pchico83 commented on #2536
This should go through the product backlog

[2022-11-05 11:34] #2536 closed

[2022-11-05 11:34] #2524 closed

[2022-11-05 11:34] pchico83 commented on #2511
@jLopezbarb closing until we have a clear repro

[2022-11-05 11:34] #2511 closed

[2022-11-05 11:36] #2483 closed

[2022-11-05 11:36] #2465 closed

[2022-11-05 11:38] pchico83 commented on #2435
Closing since it's a very corner case

[2022-11-05 11:38] #2435 closed

[2022-11-05 11:38] #2385 closed

[2022-11-05 11:39] #2345 closed

[2022-11-05 11:40] #2293 closed

[2022-11-05 11:40] #2272 closed

[2022-11-05 11:40] #2263 closed

[2022-11-05 11:41] #2256 closed

[2022-11-05 11:41] #2254 closed

[2022-11-05 11:42] pchico83 commented on #2219
This will be created in planning when needed

[2022-11-05 11:42] #2219 closed

[2022-11-05 11:42] #2217 closed

[2022-11-05 11:43] #2176 closed

[2022-11-05 11:43] #2132 closed

[2022-11-05 11:43] #2104 closed

[2022-11-05 11:44] #2097 closed

[2022-11-05 11:44] #2025 closed

[2022-11-05 11:44] pchico83 commented on #1995
Since this is a feature request, it should go through the product backlog

[2022-11-05 11:44] #1995 closed

[2022-11-05 11:45] #1984 closed

[2022-11-05 11:45] #1983 closed

[2022-11-05 11:45] #1965 closed

[2022-11-05 11:45] #1821 closed

[2022-11-05 11:45] #1820 closed

[2022-11-05 11:45] #1812 closed

[2022-11-05 11:45] #1718 closed

[2022-11-05 14:19] abs007 commented on #3147
And, if I'm right, I'm supposed to write similar functionality for `okteto deploy` to there is for `okteto pipeline deploy` ?

[2022-11-05 15:39] pchico83 commented on #3147
@abs007 when `okteto deploy` deploys a dependency with `wait`, we should stream the output of the dependency deployment here:
https://github.com/okteto/okteto/blob/cdccc9b6ee8e720d3195820f93122a8cd1f57b6b/cmd/pipeline/deploy.go#L173
Same for `okteto preview deploy` when it deploys a dependency and the dependency has `wait`

[2022-11-05 15:46] pchico83 commented on #3147
@teresaromero you are right, I got confused with Cloud. We should revisit how we expose the logs, it looks quite different than `okteto deploy`
@abs007 I will close this issue, we are already streaming the dependencies output.

[2022-11-05 15:46] #3147 closed

[2022-11-07 03:50] abs007 commented on #2824
I'd like to have a go at this. Could I be pointed to files having the user-facing fields?

[2022-11-07 09:45] pchico83 commented on #2824
@abs007 this one requires a little of internal design, and we also need a few changes in our app to support this.
What do you think about implementing this feature? It's very powerful to customize your dev container:
https://github.com/okteto/okteto/issues/2300

[2022-11-07 11:31] #3014 closed

[2022-11-07 11:37] abs007 commented on #2300
Can I get some context into what `svc` stands for in `okteto up svc`?

[2022-11-07 11:57] pchico83 commented on #2300
@abs007 is the name of each dev container in the okteto manifest, for the case there is more than one defined.
For example, in this sample, you can run `okteto up frontend`:
https://github.com/okteto/movies/blob/main/okteto.yml#L43

[2022-11-07 12:09] rlamana commented on #2933
Given our `noun + verb` approach, that make sense, unless you have a better naming for `destroy-all`, I'm not a fun of subcommands with `-`, but sometimes you cannot avoid them...

`okteto namespace destroy-all` works fine.

[2022-11-07 12:11] pchico83 commented on #2933
@rlamana another option is `okteto destroy --all [-v]`. I would go with this one. And that command would be also used when running `Destroy All` from the Okteto UI

[2022-11-07 12:23] rlamana commented on #2933
@pchico83 🤔 I like this one even better, that way we just have a single `destroy` subcommand 🚀 🚀 🚀

[2022-11-08 06:55] abs007 commented on #2300
And I'm guessing that we want to add `-- bash` as a flag to enter the container and debug it ?

[2022-11-08 06:57] pchico83 commented on #2300
`-- bash` would be equivalent to running `okteto up` with `command: bash` in your okteto manifest

[2022-11-08 07:01] abs007 commented on #2300
Got it, but would I have to add this as a flag?

[2022-11-08 07:38] pchico83 commented on #2300
It's not a flag, it's an argument. You can check the `okteto exec` command, it does something similar. For example, `okteto exec -- ls` works, or `okteto exec frontend -- ls`

[2022-11-08 09:56] abs007 commented on #2300
So, flags are something that we'd want to add to the command but an argument is what we're supplying to the main command.

Here we'd be adding an extra command argument for `up` in the form of `okteto up [devName] [command]` and this would offer similar functionality as the `deploy` section in the okteto manifest

[2022-11-08 11:11] pchico83 commented on #2300
All right, but `similar functionality as the deploy section in the okteto manifest` is not correct. `[command]` will replace the `command` field in the `dev` section. This guy:
https://www.okteto.com/docs/reference/manifest/#command-string-optional

Use case: my `command` is `yarn start`, but today I just want to run tests in my dev container. I can run `okteto up -- yarn test`

[2022-11-08 11:46] abs007 commented on #2300
Ah yes, understood. I'd like to work on this issue.

[2022-11-08 12:04] pchico83 commented on #2300
@abs007 awesome, I assigned the issue to you. This is a great feature!

[2022-11-08 14:09] AlonShirion opened #3209 "Add --dependencies flag to okteto pipeline deploy"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Can't run "okteto pipeline deploy" and force all the dependencies to redeploy.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Similar to "okteto deploy --dependencies" I would like a flag l

[2022-11-08 18:09] #3141 closed

[2022-11-09 07:01] pchico83 opened #3210 "Fix reconnection logic for ssh errors"
**Describe the bug**
My `okteto up` was disconnected with:

[code]

and the connection wasn't retried.

Same for the error `Error closing remote connection: EOF`

**To Reproduce**
Scale down the node where the dev container is running

**Expected behavior**
`okteto up` should reconnect

**Additional context**
We already retry these errors https://github.com/okteto/okteto/blob/894e0fe59ed7307dbdb1f

[2022-11-09 12:29] abs007 opened #3211 "Possible bug in up.go"
**Describe the bug**
Should this line in `up.go`:
https://github.com/okteto/okteto/blob/39b5b7757668a2b4bea7b3e0054c3b174f010dd9/cmd/up/up.go#L374
be changed to:
[code]
**Reason**
What if maxV1Args increases beyond 1? Also, seems like cleaner code to set it this way.

[2022-11-09 13:03] wind57 opened #3212 "CLI issue?"
We are trying to evaluate okteto and while trying our first sample, we faced an issue. Here is a simplified version of it. Suppose the docker-compose file:

[code]

Running `okteto up` in this folder, reveals:

[code]

[2022-11-10 05:02] abs007 commented on #2300
@pchico83 Can I get the file which reads the commands from the `command` section in the okteto manifest?

[2022-11-10 05:25] pchico83 commented on #2300
@abs007 it's defined here:
https://github.com/okteto/okteto/blob/master/pkg/model/dev.go#L68

And the serializer is here:
https://github.com/okteto/okteto/blob/master/pkg/model/serializer.go#L259

[2022-11-10 08:50] tangenttechno opened #3213 "okteto with local k3d cluster and insecured docker registry"
**Describe the bug**
Okteto throws error   Error checking image at registry k3d-registry:5000/XXX : error getting image tag digest: Get "https://k3d-registry:5000/v2/": http: server gave HTTP response to HTTPS client

okteto.yaml

build:
  express-ts-starter:
    image: okteto.dev/express-ts-starter
    context: .
deploy:
  - kubectl apply -f kubernetes-manifests
dev:
  express-ts-starter:
    com

[2022-11-10 10:54] pchico83 commented on #3213
@tangenttechno could you format the okteto manifest? I look missaligned. Also, where are you specifying the registry "https://k3d-registry:5000/v2/" in the okteto manifest?

[2022-11-10 21:09] scheung38 opened #3217 "[Question] on debug more descriptive error with line number and name of file"
How to better debug? Would be better to show which file and line number instead of reading the syntax error?

okteto deploy --build
 i  Using user38 @ cloud.okteto.com as context
 x  Syntax error volumes should be 'local_path:remote_path' or 'remote_path'

local.yml was working on local Mac before trying to deploy to okteto cloud

okteto.yml

[code]

local.yml is described here

https://community.

[2022-11-11 12:00] scheung38 opened #3218 "Error building: file with no instructions?"
*Describe the bug**
A clear and concise description of what the bug is.

Error building service ‘django’: error building image ‘sample_cookiecutter_local_django’: build failed: failed to solve: file with no instructions?

**To Reproduce**
Steps to reproduce the behavior:

okteto deploy --build --wait

okteto.yml

[code]

production.yml

[code]

where manifest is folder that was created from

kompo

[2022-11-12 08:25] abs007 opened #3220 "Need better error handling"
**Describe the bug**
Need error handling here:
https://github.com/okteto/okteto/blob/39b5b7757668a2b4bea7b3e0054c3b174f010dd9/internal/test/utils.go#L36

**Additional context**
Need to check if `SetEnv()` func returns an error. Possibly correct it through updating linters.
Context: https://kubernetes.slack.com/archives/CM1QMQGS0/p1667276346405729

[2022-11-12 08:27] abs007 commented on #3220
I'd like to take this up and work on this. Would help me learn more about linting .

[2022-11-12 08:30] pchico83 commented on #3220
Awesome @abs007! We are using deepsource [here](https://github.com/okteto/okteto/blob/master/.deepsource.toml) but happy to update its config or even use a different one. Sync with @jLopezbarb for proposals

[2022-11-12 09:05] abs007 commented on #3220
Oh, I was looking under the lint section in the makefile 😅

[2022-11-12 09:09] pchico83 commented on #3220
@abs007 that also works, @jLopezbarb can provide more details on monday

[2022-11-12 09:10] abs007 commented on #3220
Hmm, interesting. Sure 👍

[2022-11-14 08:57] jLopezbarb commented on #2855
There are two specs in notion already (one functional and another one technical). We will need some refinement before working on it but it should be mostly moving content from the technical

[2022-11-14 10:55] jLopezbarb commented on #3211
Nice catch @abs007!!

[2022-11-14 11:06] #3091 closed

[2022-11-14 11:19] jLopezbarb commented on #3218
Hi @scheung38, can you provide the `Dockerfile` that is in `.`. You are using that one in the  `okteto.yml`.

Another thing is that the docker compose is not referenced in the `okteto.yml`. How to deploy a compose from an okteto manifest can be found [here](https://www.okteto.com/docs/reference/manifest/#deploy-a-docker-compose-file), but if you are just going to deploy a compose file, [you can di

[2022-11-14 11:40] jLopezbarb commented on #3220
Hi @abs007, I've been checking deep source and I haven't been able to find that rule, so if you have a linter proposal to check those uncatched error, I think we have to add it to make our code better 😄

[2022-11-14 12:07] pchico83 commented on #3048
@jLopezbarb let's keep it close for now

[2022-11-14 12:09] jLopezbarb commented on #3048
@pchico83 I re-opened it because it was planned for this sprint. I'll discuss with @Diazbesjorge if we should replace it with another one or just keep it closed

[2022-11-14 12:10] pchico83 commented on #3048
@jLopezbarb let's do it then

[2022-11-14 13:29] scheung38 commented on #3007
Hi @pchico83 if we do not specify the resource limits in the build section then what are we getting?

[2022-11-14 13:31] pchico83 commented on #3007
@scheung38 build happens with 2CPUs and 8Gi of memory. You probably need to optimize your Dockerfile

[2022-11-14 13:38] pchico83 commented on #3007
@scheung38 which steps in your build process are taking more time?

[2022-11-14 13:42] scheung38 commented on #3007
Tried to add at various indentations but still?

![Screenshot 2022-11-14 at 13 41 07](https://user-images.githubusercontent.com/1273014/201674802-03c92480-1224-4720-9829-cc6b33eb130d.png)

 x  Invalid manifest:
    - line 26: field resources not found in type model.buildInfoRaw
    See https://okteto.com/docs/reference/manifest/ for details

[2022-11-14 13:51] scheung38 commented on #3007
We place inside k8s manifest I think, but if working with docker-compose then everytime we convert into manifests

kompose --file production.yml -o $HOME/Documents/arthur_paf/manifests convert

this resource definition would be overwritten?

[2022-11-14 14:23] scheung38 commented on #3007
This takes the longest:

RUN apt-get update && apt-get install --no-install-recommends -y \
  # dependencies for building Python packages
  build-essential \
  # psycopg2 dependencies
![Screenshot 2022-11-14 at 14 22 34](https://user-images.githubusercontent.com/1273014/201683986-7319bb43-2cf7-4b54-bb55-5228f3c84ac5.png)

  libpq-dev

[2022-11-14 16:22] abs007 commented on #3211
Happy to help!

[2022-11-14 16:24] jLopezbarb commented on #3211
I uploaded a PR but after doing it, I reviewed [the PR that you made](https://github.com/okteto/okteto/pull/3215) and since it will be replaced I think the PR that I made is not needed anymore. I think we can tackle this issue in your PR, WDYT @abs007 ?

[2022-11-14 16:55] abs007 commented on #3211
Seems good. Also, I think that the pr I made would also be taking care of this slack discussion: https://kubernetes.slack.com/archives/CM1QMQGS0/p1668059807909449

[2022-11-14 21:22] rachitchauhan43 commented on #1054
@pchico83 : Yes, i am using `autocreate: true` in okteto.yaml.
This is my okteto.yaml:
[code]

[2022-11-15 00:09] rberrelleza opened #3223 "Environment variables are not interpolated in the `dev.image` field"
**Describe the bug**
I want to be able to use the value  of an environment variable in the image name of my dev blocks:

[code]
When I run  `okteto deploy`, env vars are interpolated correctly for scripts executed on the `deploy` block. But when I run `okteto up`, env vas are not available to use as part of my image name.

[2022-11-15 08:54] abs007 commented on #3211
Closing this issue wrt pr #3215

[2022-11-15 08:54] #3211 closed

[2022-11-15 10:13] #3177 closed

[2022-11-15 10:32] #3052 closed

[2022-11-15 10:32] #3047 closed

[2022-11-15 10:32] #3043 closed

[2022-11-15 18:24] kylealwyn commented on #3007
loading build context taking years for me as well 🤔 on mac m1 monterey 12.6

<img width="539" alt="CleanShot 2022-11-15 at 10 22 59@2x" src="https://user-images.githubusercontent.com/14184138/201996692-cdf3392a-cf6c-4a52-a6be-fb2f6d34d476.png">

[2022-11-15 21:21] pchico83 opened #3226 "Show a log stage for `dependencies`"
**Describe the bug**
As a follow-up of [this comment](https://github.com/okteto/okteto/pull/3219#issuecomment-1313390902) we aren't providing a log stage for deploying dependencies. This is specially tricky when using `wait`, since an error in the deployment of the dependency will be shown as an internal server error.

**Expected behavior**
Let's have a single stage for deploying dependencies, cal

[2022-11-16 08:31] rlamana commented on #3226
@pchico83 a couple of comments:
- Can we at least provide information in the ouput about what dependencies are those?
- For the output if `wait` is set to false, I would be more direct if there is no more output to see there, so we should avoid the `...` and maybe say `The dependency 'xxx' has been scheduled for deployment.`
- We should also give a hint on where to find that output

[2022-11-16 08:41] #3150 closed

[2022-11-16 09:03] #3210 closed

[2022-11-16 09:41] #3151 closed

[2022-11-16 11:37] abs007 commented on #3220
Hi, could you point me to the docs you're referring to? I also think that maybe using a transformer may help?

[2022-11-17 05:37] pchico83 commented on #3226
@omnomagonz no, we could easily change it based on the feedback we get

[2022-11-17 06:13] #1982 closed

[2022-11-17 10:03] pchico83 opened #3228 "I cannot run `okteto deploy` in a repo clone from AzureDevops Git"
**Describe the bug**
I cloned my AzureDevops repo and `okteto deploy` fails with:
[code]

**Expected behavior**
We shouldn't fail parsing the git URL. The default behavior on this case should be to get the name of the current folder and don't store either the git url or the branch in the deploy configmap.

[2022-11-17 10:31] luisaes02 opened #3229 "Je"

[2022-11-17 10:33] #3229 closed

[2022-11-17 11:17] #3228 closed

[2022-11-17 12:04] jLopezbarb commented on #3220
I was referring the deep source docs, there is no way of getting where the rules comes from, but we also have  [.golangci.yaml](https://github.com/okteto/okteto/blob/master/.golangci.yml) to detect them which have `errcheck` disabled.
To enable it we need to disable first, correct all the errors thrown by the linter and remove it from disable section

[2022-11-17 12:31] scheung38 commented on #1551
@marov if we have subfolders within .envs as
.local
.production

then how to tell okteto to use .production credentials

[2022-11-17 16:23] ifbyol commented on #3226
@pchico83 @omnomagonz @rlamana  I just want to warn that maybe this task is much more complex than it seems at first glance. I was dealing with this part of the code recently and it has some things to bear in mind. We can talk internally about it

[2022-11-18 12:02] jLopezbarb opened #3233 "Refactor buildkit related code"
**Is your feature request related to a problem? Please describe.**

The way of building images is complex, can't be tested and we have two different ways of building an image depending if it's an okteto context or if it's a vanilla cluster.

**Describe the solution you'd like**

We should try to have a unique solution for both context (okteto and vanilla cluster) like the one proposed in [buildx](

[2022-11-20 21:35] abs007 commented on #3220
Do you mean removing `errcheck` from the disable section? I removed it and ran `golangci-lint run` to see a bunch of new linting errors (I'm guessing I'll have to correct those).

Also, what is the diff btw mentioning `errcheck` in the `enable` section and not mentioning it all? Both seem to be working the same.

[2022-11-21 09:58] pchico83 opened #3235 "The `depends_on` logic is broken on redeploy"
**Describe the bug**
We should enforce the `depends_on` when upgrading a compose file.

**To Reproduce**

1. Deploy https://github.com/okteto/movies-with-compose
1. Check "depends_on" works as expected
1. makes changes to mongodb
1. Redeploy https://github.com/okteto/movies-with-compose
1. Services depending on mongodb should be only redeployed after mongodb is healthy again and fully updated

**A

[2022-11-21 12:30] Diazbesjorge commented on #3048
Let's go ahead with it as previously agreed

[2022-11-22 03:28] Zacama opened #3237 "Can not detect compose file named compose.yaml and doest not support some grammer"
Hello, my compose file's name is compose.yaml (referenced from https://github.com/compose-spec/compose-spec/blob/master/spec.md#compose-file) but it can't be detected. When I change it's name to docker-compose.yaml, it can be detected.
And it reports an error in volumes.
![image](https://user-images.githubusercontent.com/50320281/203213865-90f98ee7-2197-4a25-ac9b-2d02b82a68d7.png)
![image](https:/

[2022-11-22 09:06] AdrianPedriza opened #3240 "refactor volume content container initialization"
**Describe the bug**
the command that initializes the volume content is too verbose and difficult to work with. Perhaps the command logic related to the volume initialization can be extracted into a binary file.

https://github.com/okteto/okteto/blob/8a9ed725f30f11590918e7df69714483a3a7c09a/pkg/cmd/stack/translate.go#L336

On the other hand, the code related to [this issue](https://github.com/okte

[2022-11-22 20:28] abs007 commented on #2967
I'd like this issue to be assigned to me, thanks.

[2022-11-22 22:25] scheung38 commented on #3218
Thanks @jLopezbarb when can hot reload work and when can it not work without a full okteto deploy --build?

For example, ie changing the content of docker-compose-production.yml, I don't expect ok up to hot reload to work without a full okteto deploy --build?

[2022-11-23 05:49] pchico83 commented on #2967
@abs007 there we go!

[2022-11-23 09:07] jLopezbarb commented on #3220
`errcheck` is enabled by default so it doesn't matter if we set it as enabled or not. The [lines that are commented](https://github.com/okteto/okteto/blob/master/.golangci.yml#L12) are the one that are already enabled by default so there is no need to add them in the enable section but if we want to stop using them we have to add them to the disable section.

I'd suggest you to just log them. That

[2022-11-23 09:13] jLopezbarb commented on #3237
Hi @Zacama, Your issue is related to https://github.com/okteto/okteto/issues/1995. Today we don't support the extended syntax in the volume section but it's something that was previously planned.

cc: @omnomagonz @jmacelroy to track this issue.

[2022-11-23 11:13] jLopezbarb commented on #3101
Let's keep this open a little bit

[2022-11-23 11:57] #3182 closed

[2022-11-23 15:00] #3183 closed, assigned to jpf-okteto

[2022-11-23 16:14] #2378 closed

[2022-11-23 17:03] abs007 commented on #2967
Can I get an example of what a basepath and targetpath might be?

[2022-11-23 18:06] jLopezbarb opened #3247 "I can't use my env vars to login"
**Describe the bug**
My env vars are not used if used in non `okteto context` commands.

**To Reproduce**
Steps to reproduce the behavior:

1. export `OKTETO_URL` and `OKTETO_TOKEN`
1. run `okteto push`
1. Check that both env vars are not used

**Expected behavior**
If I have them set we should receive a warning that those are being used instead of the ones in the okteto config file

[2022-11-23 22:17] abs007 commented on #3220
What about the 2nd block which mentions [Disabled by your configuration linters](https://github.com/okteto/okteto/blob/master/.golangci.yml#L22). Doesn't this line suggest that all the tools mentioned under it would be disabled by default?

Also, there seem to be around 50 such err handling so should I divide it over a few commits?

[2022-11-24 01:17] Zacama commented on #3237
OK, thank you very much.

[2022-11-24 09:13] jLopezbarb commented on #3220
My bad, The section commented is the result of running `golangci-lint linters` which takes in count the linters in the `.golangci.yaml`. But yes all the tools that are mentioned under the section you said and are not in the `enable` section are disabled by default.

It's up to you, I'd split by type, If all of them are the same type of errors I'd just create one commit, but you can do whatever you

[2022-11-25 17:56] abs007 commented on #3220
If I can't find any distinction over the types, I'll divide it over 5 commits (10 changes in each)

[2022-11-26 18:59] abs007 commented on #3220
Also, should I go for `oktetoLog.Infof()` or `oktetoLog.Errorf()` ?

[2022-11-28 08:47] jLopezbarb commented on #3220
I think `oktetoLog.Infof()` or `oktetoLog.Debugf()` are the best functions for it since it's not an error that we should show to the user

[2022-11-28 08:55] jLopezbarb commented on #2809
Let's keep it open for a little more. This will allow to make changes on any of the sections with retrocompatibility in all other sections

[2022-11-28 17:08] teresaromero opened #3253 "Export cache option not working from okteto manifest"
Found regression when using `export_cache` property at the okteto manifest, the build was not exporting the cache to this reference.

This needs to be backported to 2.10

Context: https://okteto.slack.com/archives/C045EMPKDQE/p1669651277380549

[2022-11-28 17:13] #3253 closed

[2022-11-30 10:32] #3226 closed