[2022-05-05 10:33] #2108 closed

[2022-05-05 11:11] #2580 closed

[2022-05-05 11:37] AgustinRamiroDiaz opened #2647 "`okteto restart` is not working"
**Describe the bug**
`okteto restart` is not working

![image](https://user-images.githubusercontent.com/49416765/166915478-1e20ba8b-ea7b-4f82-8fe9-aec793fa241d.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy a repo
2. Run `okteto up`
3. Get out of the dev pod
4. Run `okteto restart`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Deskto

[2022-05-05 13:48] pchico83 commented on #2575
@AdrianPedriza @jLopezbarb let's have a dedicated serializer for the okteto manifest v1. If the okteto manifest is v1, we shouldn't infer any deploy or compose information. We should only do that when no okteto manifest is present.

[2022-05-05 17:55] #2628 closed

[2022-05-05 20:41] jmacelroy commented on #2645
Hello and thanks for opening an issue and describing your situation. Our new community forum seems like a good place to ask so that we can preserve any answers or discussion in share updates more easily. Would you mind asking about this on https://community.okteto.com/ ?

[2022-05-05 21:16] jmacelroy commented on #2599
@rberrelleza would the correct behavior in this case be to catch the error, instruct the user to run okteto down -v followed by okteto up? That's what I think should be done as the disk can't change class without recreating it and it seems like there may be data loss repercussions if okteto were to destroy the disk for them.

[2022-05-05 21:18] rberrelleza commented on #2599
Yes, I think that's a good approach.

Although, in this specific case, the user didn't set the storageClass at all (they are using okteto cloud), so there might be something else lurking there.

[2022-05-05 21:22] jmacelroy commented on #2587
Thanks for your submission @thatsk. Currently there are no plans for nomad support. If you think there should be more discussion on this please add a feature request at https://community.okteto.com/

[2022-05-05 21:22] #2587 closed

[2022-05-05 21:25] jmacelroy commented on #2585
@rberrelleza was there an extension update that fixed this?

[2022-05-05 21:33] jmacelroy commented on #2524
@pchico83 divert is a newer experimental feature and the release is a bit crowded with bugs and improvements that are less experimental. I'm going to remove this from milestone 2.3. Let's discuss how and when we can focus on this.

[2022-05-05 21:41] jmacelroy commented on #2605
@mladedav Thank you for your input. The milestone deadline is approaching and I don't know that this will make it in the next 10 days. I believe we don't yet know how we would like to approach this fix and it will need discussion and specification.

I've noticed a set of issues opened on your behalf, which I sincerely thank you for. To me they seem to have a theme in that you're trying to use Okte

[2022-05-05 21:49] jmacelroy commented on #2627
@rberrelleza what would the filename be? It strikes me that it should be `okteto manifest doesn't exist, would you like to create one? [y/n]`

[2022-05-06 08:09] mladedav commented on #2605
I don't really mind if this slips, I just wanted to throw in the issue into consideration in case this would this would be fixed e.g. by escpaing colons or other string-based alternatives that would possibly not scale to other secret use cases.

I'm actually using VS Code on Windows (without WSL when possible) and got everything to work with a few workarounds. I personally don't use full VS, but s

[2022-05-06 12:53] AgustinRamiroDiaz commented on #2605
@mladedav Thank you for all your input! I think this issue is already fixed in the `master` branch with [this](https://github.com/okteto/okteto/blob/62a7206e5de96b3ea0a86a1fcf1813bdf3837d29/pkg/model/serializer.go#L394). We'll see on the next release 😄 .

I ❤️  your enthusiasm to contribute. We can use this Github issues to discuss the specification, or open a Github discussion about it.

In this

[2022-05-06 13:35] AgustinRamiroDiaz commented on #2592
Could reproduce, I tried with `ls /` command as I have the same username in WSL and my windows machine.

The issue seems to be [here](https://github.com/okteto/okteto/blob/02c178c98d8b31f7eda30ecba305242bc358e933/cmd/utils/executor/executor.go#L64)

[2022-05-06 14:48] mladedav commented on #2605
Thanks for letting me know it should work now. I'll just also point out that linux file names may also contain colons anywhere (although people don't do that often).

I personally think the more explicit notation is the way to go because it deals with any corner cases, would be probably simpler to implement and provides easy future extensibility by just swapping out `local_path` for any other supp

[2022-05-09 04:17] Charlie17Li commented on #2581
I have found the reason: both of the pods are setting `hostNetwork: true`, and scheduled to a same node.

And I remove the `hostNetwork: true`, it works!

the log of one of the pod is :
[code]

[2022-05-09 07:03] pchico83 commented on #2581
@Charlie17Li thanks for the update, glad you found the issue!
Should we close the issue? or do you think we could do something to improve the dev experience here?

[2022-05-09 07:24] Charlie17Li commented on #2581
Mybe we can show a warning or error to notice the user that there is a error when connecting "remote okteto pod", because expected results are not obtained and there is no warning when `okteto up`.

[2022-05-09 08:38] pchico83 opened #2659 "`endpoints` not working in my okteto manifest"
**Describe the bug**
I had this okteto manifest:

[code]

And `ednpoints` were not created. I had to move my `endpoints` to the `okteto-compose.yml` to make it work

[2022-05-09 10:10] pchico83 opened #2661 "`okteto deploy --name` isn't probagated to my stack name label"
**Describe the bug**
I am using the `name` flag with my compose file:
[code]
but the `--name` flag is not propagated to the stack name label.

This is problematic, because if I run `okteto deploy --file docker-compose.yml --name name1`, the second command reuses the same stack name label and replaces everything deployed by my first `okteto deploy` command.

**Additional context**
This is a serious

[2022-05-09 14:12] #2627 closed

[2022-05-09 15:39] ifbyol opened #2663 "In some cases `okteto deploy` is not returning the same output than the command executed"
**Describe the bug**
A customer has reported that the `okteto deploy` command was returning a cryptic error deploying a helm application

[code]

If the same command is executed directly from the terminal, the output is different, you can see the real error there:

[code]

This makes really hard to debug the issue just checking the logs returned by Okteto.

Maybe the proxy is not handling right th

[2022-05-09 16:58] rberrelleza commented on #2637
my personal experience with this is that most people that run into this do it because they are running one our samples, and they don't have an image specified.   My hunch is that a clear error message might be enough here.

Do we know if we have users that need a "custom registry" for this? Do we consider dockerhub a custom registry? How would this work for minikube?

[2022-05-09 17:06] rberrelleza opened #2664 "Env vars are not evaluated for multi-line commands in the manifest"
**Describe the bug**

A manifest is defined like this:
[code]

Running `okteto deploy` results in this output:
[code]

Note how the value of '$TEST' is not available on the second line of the script.

This works fine on 2.0.2, but doesn't work on 2.2.1

[2022-05-09 17:10] rberrelleza commented on #2664
Fixed on 2.3

[2022-05-09 17:10] #2664 closed

[2022-05-09 22:56] mladedav opened #2665 "`okteto context` opens bad auth page"
**Describe the bug**
When I run `okteto context` and choose an okteto cloud context it redirects me to `https://auth/authorization-code?redirect=http...` instead of `https:://cloud.okteto.com/auth/authorization-code?...`.

When I manually fix the URL I get logged in.

**To Reproduce**
Have an okteto cloud context and set a default to it.

**Expected behavior**
Redirect to the correct URL.

**Deskt

[2022-05-09 23:01] mladedav commented on #2665
I have just noticed I have a context called `https://cloud.okteto.com` which logs in correctly and everything works and a context named `okteto` which is taken from my kubeconfig (for kubectl access to the okteto cloud namespace). When trying to use the kube config okteto it still wants to authenticate through the okteto cloud but it fails.

[2022-05-10 07:44] pchico83 commented on #2637
Yes, I would start with a clearer error message and also, making the `image` field more prominent by modifying our samples. If we find that that experience isn't satisfactory, we could think about a better integration for third party registries

[2022-05-10 09:42] jLopezbarb commented on #2625
Hi,
 I wasn't able to reproduce the issue that you are mentioning. Here is a list of what I tried and it worked as expected:

| debugger | IDE      | Okteto version |
|----------|----------|----------------|
| xdebug   | PHPStorm | 1.15.8         |
| xdebug   | PHPStorm | 2.2.2          |
| xdebug   | VSCode   | 1.15.8         |
| xdebug   | VSCode   | 2.2.2          |
| xdebug   | VSCode   | 2.2.

[2022-05-10 14:43] rberrelleza commented on #2585
We removed the referred env var on the vscode extension. But I don't think we know the root cause of this yet.

[2022-05-10 15:02] pchico83 opened #2666 "Global registry optimization should only work if `image` isn't defined"
**Describe the bug**
I have this compose file:
[code]

And my images aren't built each time I redeploy my repo.
This is because the global registry optimization is detecting okteto.dev/frontend:dev already exists.

**Expected behavior**
The global registry optimization should only work with autogenerated image names

[2022-05-10 18:35] AgustinRamiroDiaz opened #2669 "`okteto up` does not generate deploy section"
**Describe the bug**
User found: When running `okteto up` in the microservices-demo repo and prompted with creating the manifest, the command fails due to a weird behavior in the deploy
![image](https://user-images.githubusercontent.com/49416765/167697989-e91e4e97-d81e-4978-9609-5e750561eadd.png)
![image](https://user-images.githubusercontent.com/49416765/167698248-40891bc9-d192-48ee-98fb-6f39e916

[2022-05-10 18:44] AgustinRamiroDiaz opened #2670 "`okteto up` panics with nil pointer dereference when there's no backend api working"
**Describe the bug**
If the okteto api is down, `okteto up` panics. It could arise also when the context is not initialized, or with a vanilla cluster (but I haven't tried it out)

![image](https://user-images.githubusercontent.com/49416765/167699555-4fdcff81-4e4b-466e-aa88-d478b171889a.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Point your context to an okteto cluster
2. Shut down

[2022-05-10 18:47] rberrelleza opened #2671 "okteto up --deploy --build fails due to missing Dockerfile"
**Describe the bug**
I have this manifest:

[code]

when I run "okteto up --deploy --build worker" it fails with the following message:
[code]

The image is defined in the manifest, and `okteto build worker-dev` works successfully.  Why does it fail when running 'okteto up  --build worker-dev'?

[2022-05-10 18:57] jmacelroy commented on #2669
Based on the error it looks like an existing deploy, on the cluster, is required for the manifest to be generated. We've linked to the docs on how they can get unblocked.

So, I guess this is two-fold:

1. Is there a bug here that's preventing the generation and causing the prompt for the user to go to the docs and generate a manifest or is this expected.
2. If it is expected then is there an enha

[2022-05-10 19:15] jmacelroy commented on #2670
I changed to high as a stack trace is never nice, especially when it seems preventable through an improvement in handling api usage/calls.

[2022-05-11 06:35] teresaromero commented on #2666
the flag is passed but, as this is run at a pipeline, the check is done at global and as a fallback at the dev registry, so, as the used explicitly added the tag (tag is not the commit hash) this is "already built" so it skips

[2022-05-11 07:41] rberrelleza opened #2673 ""okteto context use" doesn't refresh a token"
**Describe the bug**
<img width="1154" alt="image" src="https://user-images.githubusercontent.com/475313/167795353-85e57f52-6941-4411-821a-731d1d8d4548.png">

**Expected behavior**
I was expecting okteto to re-auth instead of asking me to run a second command with the same data I already provided.

**Desktop (please complete the following information):**

- OS: macOS
- Version 2.2.2

[2022-05-11 07:51] ifbyol commented on #2673
@rberrelleza I think this is already solved in master or the RC: https://github.com/okteto/okteto/issues/2326. Didi you use one of those versions or another one?

[2022-05-11 08:10] #2666 closed

[2022-05-11 08:20] AdrianPedriza opened #2674 "okteto deploy [svc] doesnt show all the actual dependencies of a service"
**Describe the bug**
if I run `okteto deploy vote` (which depends on kafka and postgresql and kafka in turn depends on zookeper) the log shows me as a warning **The following services need to be deployed because the services passed as arguments depend on them: [kafka, postgresql]**. Shouldn't zookeper also appear? It seems that 'non direct' dependencies are not shown.

**To Reproduce**
Steps to re

[2022-05-11 08:59] AdrianPedriza opened #2675 "okteto deploy [svc] never ends its execution"
**Describe the bug**
when I run `okteto deploy vote` dependencies get ready to be deployed but the process never finishes, showing the log: **⠹ Waiting for services to be ready...**.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone https://github.com/okteto/microservices-demo-compose
2. okteto deploy vote
3. See logs

**Expected behavior**
dependencies should be deployed first and if n

[2022-05-11 09:23] pchico83 commented on #2671
@rberrelleza `okteto up --build` is still the old behavior, where the dev image was built if the okteto manifest had a `build` section in the dev container itself. I would remove the `--build` flag from the `okteto up` command while we implement a behavior aligned with the manifest v2

[2022-05-11 09:23] AdrianPedriza commented on #2675
I close issue since the solution is in master

[2022-05-11 09:23] #2675 closed

[2022-05-11 14:23] f0ntana opened #2676 "error in FinishPipeline: label name "name" missing in label map"
**Describe the bug**
i'm receiving this error on try to upload my preview app:
error in FinishPipeline: label name "name" missing in label map

**To Reproduce**
<img width="964" alt="Screen Shot 2022-05-11 at 10 22 52" src="https://user-images.githubusercontent.com/6570783/167872899-02fe22d5-1fee-433b-84f1-c7c3129921aa.png">

[2022-05-11 14:36] jLopezbarb opened #2677 "Simplify tests by using t.TempDir"
Currently we are using os.MkdirTemp and os.RemoveAll to create and cleanup temporary directory in tests. We can use the T.TempDir function from the testing package to create temporary directory. The directory created by T.TempDir is automatically removed when the test and all its subtests complete.

This saves us at least 2 lines (error check, and cleanup) on every instance, or in some cases adds

[2022-05-11 18:59] jLopezbarb opened #2678 "secrets not setting proper mode"
**Describe the bug**
Secrets with mode are not creating the permissions for the file correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Run okteto up on this okteto.yml:
[code]
2. check that the file created was created with the wrong mode:
[code]

[2022-05-11 19:07] AgustinRamiroDiaz opened #2679 "Weird behavior with .stignore patterns"
**Describe the bug**
A user stated that they get `(?d)` as a prefix in every line in their `.stignore`, even in lines starting with `#` or `!`
[context here](https://community.okteto.com/t/stignore-prefixed-d-for-all-patterns-even-if-include-file-or-exclude-patterns/78)

**To Reproduce**
Steps to reproduce the behavior:

1. Create an `.stignore` with some patterns
2. Run `okteto up`
3. Run `cat .s

[2022-05-12 05:25] pchico83 commented on #2676
@f0ntana thanks for reporting this! Would you mind creating the issue in our [community forum](https://community.okteto.com/)? This error seems related to Okteto Cloud, not to the Okteto CLI

[2022-05-12 05:35] pchico83 commented on #2679
@AgustinRamiroDiaz this is expected:
[code]
Otherwise, a folder deletion could be incomplete, and keep the synchronization in a loop forever.
Is it creating a weird behavior? or is just that users didn't expect to find it there?

[2022-05-12 05:39] pchico83 commented on #2671
As mentioned [here](https://github.com/okteto/okteto/issues/2671#issuecomment-1123420061), I would remove the `--build` flag. Having a flag that just prints an error sounds weird

[2022-05-12 07:23] ifbyol commented on #2673
oh, I didn't see the version in the issue description 🤦

It is already fixed on master. This is what happened to me with `2.2.1`

<img width="911" alt="Captura de Pantalla 2022-05-12 a las 9 16 11" src="https://user-images.githubusercontent.com/3510171/168014654-6eec04c2-80d2-4c8f-a3e3-95a8db10a23e.png">

And this happened to me with master version

<img width="2302" alt="Captura de Pantalla 2022-

[2022-05-12 09:15] teresaromero commented on #2416
Using k3d for local development with local registry

While investigating this issue, couple things regarding setting up the local cluster and the local registry came up:

Case : create registry with name `registry.localhost` and images tagged with `k3d-registry.localhost:50418`
- No mapped hosts
    - Allowed to access via curl via API both `http://k3d-registry.localhost:<port>/v2` and `http://reg

[2022-05-12 09:50] AdrianPedriza commented on #2611
if we use [microservices-demo](https://github.com/okteto/microservices-demo-compose) as app to deploy we cannot check that the needed volumes has been created due to `okteto deploy vote` doesnt requires postgresql (is not a dependency). To be able to deploy postgresql as replicaset and check that the needed volumes has been created we will need to add postgresql as depend_on service in vote servic

[2022-05-12 11:16] AgustinRamiroDiaz commented on #2679
@pchico83 the user was experiencing this change:

- local .stignore: `#include something`
- remote .stignore: `(?d)#include something`

I tried to recreate and I couldn't repoduce exactly (will try with windows later), but I also got a weird behavior:
- local .stignore: `#include something`
- remote .stignore: nothing, and the `something` file had lines in it

Is this expected?

[2022-05-12 11:19] pchico83 commented on #2679
@AgustinRamiroDiaz the `stignore` is only pushed to the remote at the beginning of `okteto up`, does this explain what you are seeing?

[2022-05-12 13:41] AgustinRamiroDiaz commented on #2167
Closed in favor of https://github.com/okteto/okteto/discussions/2537#discussioncomment-2724579

[2022-05-12 13:43] AgustinRamiroDiaz opened #2683 "Organize okteto commands"
**Is your feature request related to a problem? Please describe.**
There was an idea to move the development commands under a `dev` subcommand. That idea didn't come through, and now the preferred way is to organize the commands when printing `okteto help`

**Additional context**
https://github.com/okteto/okteto/discussions/2537#discussioncomment-2724579

[2022-05-12 13:49] AgustinRamiroDiaz commented on #2679
@pchico83 still no, I deleted the `.stignore` file and ran `okteto down` on each iteration to make sure the file was cleaned

[2022-05-12 14:35] remche commented on #2416
@teresaromero thanks for you work on this.
I confirm that it works by manually setting the name in `/etc/hosts` but the topic of the issue is to use nss-myhostname to keeps the thing automatic. ;)

After digging it seems that behaviour comes from google/go-containerregistry packages :

[code]

[2022-05-12 14:54] pchico83 commented on #2679
@AgustinRamiroDiaz I cannot repro it. Could you list the repro steps with an sample git repo?

[2022-05-12 15:58] #2611 closed

[2022-05-13 05:16] rberrelleza opened #2685 "nilref when the `okteto.yml` is malformed yaml"
**Describe the bug**
when I ran `okteto up` on this manifest:
[code]

it failed with this:

[code]
**Additional context**
This happened on the 2.3-rc1 build

[2022-05-13 06:08] rberrelleza opened #2686 "when okteto up finishes because my environment was destroyed, I'd like to get a clear error message"
**Is your feature request related to a problem? Please describe.**
Today, if my dev env is destroyed from a different machine (or via the UI) while okteto up is active, it fails with an error like this:

![image](https://user-images.githubusercontent.com/475313/168221611-f55d24a3-80e5-418c-9000-b4cccbd8ca64.png)

**Describe the solution you'd like**
A clear and concise error that tells me that my

[2022-05-13 06:37] mnevadom commented on #2636
If context is filled and dockre file isn't, dockerfile = context/Dockerfile.

But to be sure, if both are filled, the path from dockerfile is relative to context value or to "."?

Btw, is the line 7 we should remove to test it right?

[2022-05-13 08:45] pchico83 commented on #2636
@mnevadom yes to all :-)

[2022-05-13 09:56] #2575 closed

[2022-05-13 11:07] AgustinRamiroDiaz commented on #2679
@pchico83 here is an example repo https://github.com/AgustinRamiroDiaz/okteto-stignore

[2022-05-13 11:26] pchico83 commented on #2679
Oh, I see, we shouldn't pre-pend `(?d)` in lines starting with `#` or `!`

[2022-05-13 13:36] pchico83 commented on #2685
@jLopezbarb updated

[2022-05-13 14:25] teresaromero commented on #2416
@remche i can't reproduce it :/ can you give some more detail on how the nss-myhostname is interfering with the package?
thnks

[2022-05-13 15:03] remche commented on #2416
@teresaromero with nsss-myhostname, any *.localhost should resolve to 127.0.0.1.
`crane` try to resolve with dns instead.

it seems that go net package handles this though :
https://go-review.googlesource.com/c/go/+/33550/

[2022-05-13 15:05] jLopezbarb commented on #2677
We should also start using `t.Setenv()` to cleanup the env vars after the test

[2022-05-13 15:24] AdrianPedriza commented on #2598
@rberrelleza I could't reproduce your error. Can you try with https://github.com/okteto/microservices-demo-compose ?

[2022-05-13 17:45] AgustinRamiroDiaz commented on #2685
It's already fixed in the tip of master. This is the error message
[code]

[2022-05-13 17:45] #2685 closed

[2022-05-14 16:32] rberrelleza opened #2689 "okteto build and okteto up parse the manifest differently"
**Describe the bug**
I have this manifest:
[code]

When I run `okteto build`, the command ends successfully. But when I run ` okteto up`, I get this:
[code]

[2022-05-14 16:34] rberrelleza opened #2690 "User friendly errors when the yaml file can't be deserialized"
**Describe the bug**
If I have a badly formatted okteto.yml, I get this error:

[code]

`model.ManifestBuild` and `!!str`  are not concepts that a regular user would understand. Is it possible to parse that error and show something more user friendly? (e.g. " cannot unmarshal line 2 into a `build` object. See https://www.okteto.com/docs/reference/manifest/#build-object-optional for reference")

-

[2022-05-16 07:56] #2554 closed

[2022-05-16 07:56] #2619 closed

[2022-05-16 10:58] jLopezbarb opened #2692 "Deploying from the UI then okteto up doesn't find built images"
**Describe the bug**
When deploying from UI the images are built with the SHA of the image instead of the `:okteto` or `:okteto-with-volumes` tag. When running `okteto up` and we try to load env variables from the images it fails because it doesn't have the tags created

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy from the UI https://github.com/okteto/microservices-demo/blob/main/

[2022-05-16 12:12] jLopezbarb commented on #2213
We haven't discussed about this yet. I'll reopen for now

[2022-05-16 12:14] pchico83 commented on #2692
@jLopezbarb `okteto up` should also build dev images if they don't exist, right?

[2022-05-16 12:25] jLopezbarb commented on #2692
Yes, but right now okteto up only builds images if they have a build section on the dev section:
[code]

On the linked repo it can not detect the build section because we don't have a way to map the env var with the build section, which I think it's another issue that we should fix
[code]

[2022-05-16 12:32] pchico83 commented on #2692
@jLopezbarb could you create an issue for the second thing? We should support that, `okteto up` can never fail because the image isn't built if it's defined in the okteto manifest

[2022-05-16 13:09] jLopezbarb opened #2693 "Okteto up fails if build referenced from env var doesn't exists"
**Describe the bug**
If I have an `okteto.yml` v2 and I reference the build with an env var okteto doesn't build it

**To Reproduce**
Steps to reproduce the behavior:

1. Run okteto up on this okteto manifest
[code]
2. Check that no build step is performed3.

**Expected behavior**
I want that my dev image gets built

**Desktop (please complete the following information):**

- OS: macOS
- Version 2

[2022-05-16 15:31] AdrianPedriza opened #2694 "Adapt examples to be used in vanilla clusters"
**Is your feature request related to a problem? Please describe.**
In order to be able to add new features such as e2e testing using kinD (#2465) , it is necessary to address this problem. (See #2637)

**Describe the solution you'd like**
Solution would be to adapt our examples to cases where vanilla clusters are used.

[2022-05-16 16:28] #2642 closed

[2022-05-17 10:53] jLopezbarb commented on #2555
It happens when a build fails or if a dependency deployment fails, after that it will create the correct configmap

[2022-05-17 11:08] jLopezbarb commented on #2585
We changed the behaviour of the `OKTETO_AUTODEPLOY` env var and `deploy` flag on the `okteto up` command from set the autocreate field on the manifest to deploying what's under the deploy section.
We didn't contemplate that it could break the vscode extension

[2022-05-17 11:37] ro0NL opened #2696 "PC reboots during `okteto down`"
**Describe the bug**
My PC reboots during `okteto -n .. -c .. down`,

The  project ran successfully in the foreground using `okteto -n .. -c .. up`

**Desktop (please complete the following information):**

- OS: Ubunutu
- Version 20.04

**Additional context**

I've updated to okteto 2.3, but experienced the same issue on 2.2

[2022-05-18 16:17] jmacelroy commented on #2694
@AdrianPedriza Is there anything blocking starting progress on this. Is it possible we could start with a few key examples instead of adapting all of them. Possibly movies, multirepo-demo and microservices-demo?

I see the related issue is in tracking. If you're not opposed I'm going to put the related issue blocked by this back on the backlog and put this issue in specification stage for the same

[2022-05-18 16:33] jmacelroy commented on #2677
@jLopezbarb would you like me to schedule this in as part of a release cycle or would you like to manage who does it and when it gets done?

[2022-05-18 16:37] jmacelroy commented on #2674
I wonder if we should continue down the path of indirect deps or not? It's my understanding that zookeeper is a dep of kafka. When you deploy kafka does it correctly address the zookeeper dependency. I'd actually be in favor of only showing direct dependencies due to the complications that can occur.

How did you come across this @AdrianPedriza?

[2022-05-18 16:38] #2673 closed

[2022-05-19 09:14] mnevadom commented on #2636
Im trying to force the error with the latest version of the CLI after reviewing the code.
And Im not getting the error by deleting the line:

   - dockerfile: frontend/Dockerfile

I think it makes sense that is already working what I understand from the issue, because first when GETTING the values from manifest, it does this:

`
                 if !(b.Image != "" && len(b.VolumesToInclude) > 0 &&

[2022-05-19 10:54] AdrianPedriza commented on #2694
OK, I think as a POC adapting just a few samples is a good idea but first of all I think it will be necessary to clarify how we want to approach #2637 in order to be able to continue with this one. WDYT?

[2022-05-19 11:33] pchico83 opened #2700 "`okteto deploy --build` isn't redeploying my image if using volume mounts"
**Describe the bug**
If I use this compose file:

[code]

the service rasa-server isn't redeployed on each change.

**Additional context**
Seems like we are deploying the image `okteto.dev/callbotkz-rasa-actions-server:okteto-with-volume-mounts` instead of the sha256 of that tag

[2022-05-19 17:08] AgustinRamiroDiaz commented on #2700
I tried to reproduce it with the `movies-with-compose` repo but I couldn't. I'll try with https://github.com/Meirlen/CallBotKz , but it's a big image.

[2022-05-19 17:53] AgustinRamiroDiaz commented on #2700
I tried to reproduce it with https://github.com/okteto/movies-with-compose/ (I added another volume to the frontend service as the one that mongodb has) and couldn't. I'll try with https://github.com/Meirlen/CallBotKz

[2022-05-19 18:53] jmacelroy opened #2703 "Fix and Add Race Detector to Unittest Runs"
When using the data race detector https://go.dev/doc/articles/race_detector there are several issues detected. Ideally we'd find either issues with our tests or the code under test and fix these.

If we are unable to fix these then we should go ahead and exclude particular tests. Once all issues are addressed we should turn the race detector on for all the following builds.

[code]

[2022-05-19 18:58] AgustinRamiroDiaz commented on #2700
I tried to reproduce the behavior with https://github.com/Meirlen/CallBotKz and couldn't.

Steps I did:
- Deploy the repo with `okteto deploy`
- Modify some code or the Dockerfile
- Redeploy with `okteto deploy --build`

The sha image always gets regenrated with a new sha and and deployed correctly

[2022-05-19 19:47] jmacelroy commented on #2213
I was just getting a setup to test this out and it appears that it is working now. I updated a fork of github.com/okteto/compose-getting-started to look like...

[code]

This will create the services, `redis-0`, `vote-0` and `vote-1`. If I exec into one of the pods and write to a file in one of the containers I can then read that data on the other two.

[2022-05-19 19:47] #2213 closed

[2022-05-19 21:52] jmacelroy opened #2705 "Deployment of a non-existent service results in a panic."
**Describe the bug**
When deploying using a compose file, from okteto/compose-getting-started, running the deploy command and providing a service name that does not exist results in a panic.
[code]

**Expected behavior**
The error should be handled gracefully and the user should be notified that we are unable to determine which service to deploy with the existing manifest or cli inputs.

[2022-05-20 07:11] #2411 closed

[2022-05-20 11:49] ro0NL commented on #2696
this seems to be caused by a `php-fpm` processing in the foreground during entrypoint

fixed it with `php-fpm -D`

[2022-05-20 14:51] AgustinRamiroDiaz commented on #2700
I now also have tested with only deploys and redeploys from the UI. Same thing, couldn't find the issue

[2022-05-20 14:56] #2671 closed

[2022-05-20 17:14] pchico83 opened #2709 "Global port forwards in okteto manifest"
**Is your feature request related to a problem? Please describe.**
I have an okteto manifest with several dev containers. In every dev container, I need to expose my database ports to access my database on localhost. This makes it impossible to run two dev containers in parallel because of port collisions.

This problem is especially relevant when using hybrid development with `reverse` because I

[2022-05-20 17:42] ro0NL commented on #2696
i figured the container needs to keep running for the filesync to work.

even a simple

[code]

makes it crash

[2022-05-20 18:05] ro0NL commented on #2696
here some relevant debug logs

[code]

[code]

[2022-05-23 10:08] pchico83 commented on #2696
@ro0NL is the container crashing? or the PC? if it's the dev container, could you update the title of the issue?

[2022-05-23 11:00] pchico83 commented on #2700
@AgustinRamiroDiaz the key to repro it is `OKTETO_GIT_COMMIT`.

I can repro it with a single compose file like this:
[code]

[2022-05-23 11:01] pchico83 commented on #2700
Note that, for testing, you can check the sha256 being built on each build (it's shown in the logs) and check the value of the `image` field on the k8s deployment after deployment

[2022-05-23 11:02] #2634 closed

[2022-05-23 11:08] pchico83 commented on #2636
@mnevadom seems like the issue was fix as part of the build refactor in 2.3.0.
I would take the opportunity to refactor this code in a single function while deserializing the compose/okteto manifest, since the logic is now split in many `if's` across the source code

[2022-05-23 12:22] pchico83 commented on #2696
which `command` do you have in the okteto manifest?

[2022-05-23 12:43] AdrianPedriza commented on #2689
both commands cause the same error (invalid manifest) but they do not have the same behavior since `okteto up` cannot perform all its logic with a null manifest, so we get an error. On the other hand, `okteto build`, not being able to read the manifest (buildv2) tries to build from the dockerfile (fallback to build v1). This last behavior cannot be implemented with `okteto up` because through a Do

[2022-05-23 13:17] ro0NL commented on #2696
@pchico83 i was able to reproduce based on the [`hello-world`](https://kubernetes.io/docs/tutorials/hello-minikube/#create-a-deployment) kubernetes pod, with the following minimal manifest

[code]

then `okteto up`, all good:

![image](https://user-images.githubusercontent.com/1047696/169827723-b977f3e2-9f48-4ad8-9a9b-b5443ec54474.png)

![image](https://user-images.githubusercontent.com/1047696/16

[2022-05-23 13:22] ro0NL commented on #2696
things work as expected if i manually interrupt the entrypoint command

[code]

[2022-05-23 13:43] ro0NL commented on #2696
then it's looks either machine specifc, or cluster-setup specific. Neither i can share easily :sweat_smile:

i will try some other machines soonish.

for what it's worth we're running minikube v1.25.2 and k8 v1.20.7

[2022-05-23 15:28] AgustinRamiroDiaz commented on #2692
@jLopezbarb could the mismatch between the UI and the CLI be due to the backend not having the latest version?

[2022-05-23 15:41] jLopezbarb commented on #2692
No, its because we create a tag when we are inside a pipeline that is not used any where else. We should créate two tags the sha and the okteto tag

[2022-05-23 19:13] jmacelroy commented on #2689
I think we should aim for consistency. In this case I think if an attempt at a v2 manifest is made then we should not fallback. That's too magical and leads to the confusion and bad experience seen here with this. I agree with you @AdrianPedriza but we may need to do more. Let's double check that we can detect an attempt at a v2 manifest well in both cases and are not confusing the lack of a v2 ma

[2022-05-24 07:44] pchico83 opened #2712 "Remove Global registry optimization"
**Describe the bug**
There is an undocumented feature to skip the build of the image if the image sha256 is already present in the `okteto.global` registry. This feature diverges the behavior of the okteto cli when running locally, or running inside of the pipeline installer job, which makes things harder to test and it's a source of regressions.

Also, the current feature, as it's designed, it's

[2022-05-24 08:42] #2700 closed

[2022-05-24 10:23] jLopezbarb commented on #2677
I'll send a PR later today. I think using the `t.Setenv` function makes it easier to parallelise unit tests

[2022-05-24 12:56] AdrianPedriza commented on #2689
not sure why we fallback, too much magic I think too but maybe the guys who have worked more with the tool know what use case we cover with it. @okteto/cli ? On the other hand the idea is to show the user the details of why the manifest is invalid for both situations:

![Captura de pantalla 2022-05-24 a las 14 54 38](https://user-images.githubusercontent.com/22500940/170039678-f2316ed3-e55f-4674-a

[2022-05-24 13:14] AdrianPedriza commented on #2709
when display forward info, should this global forwards be part of the dev forwards?
![Captura de pantalla 2022-05-24 a las 15 07 56](https://user-images.githubusercontent.com/22500940/170042326-b20decd7-6245-4609-b9eb-f1e49148f12a.png)
or display it separately ?
![Captura de pantalla 2022-05-24 a las 15 13 51](https://user-images.githubusercontent.com/22500940/170043501-9d61272c-4796-458e-8cfd-438

[2022-05-24 13:18] pchico83 commented on #2709
@AdrianPedriza let's show everything under `Forward`

[2022-05-24 13:49] jmacelroy commented on #2677
Possibly but using t.Setenv and t.Parallel() will cause a panic I think. It's not allowed.

[2022-05-24 20:32] ryanbas21 opened #2715 "Not deploying endpoints for all services"
**Describe the bug**
I am deploying 5 services via docker-compose, and they appear to mostly deploy successfully. However, I only get 2 endpoints, when there should be 5.

**To Reproduce**
I don't really know how to reproduce it as its the only result of the build I have.
![Screen Shot 2022-05-24 at 2 31 13 PM](https://user-images.githubusercontent.com/18267769/170126723-c14681e5-dbf3-4fc1-9dd4-6c

[2022-05-24 21:35] pchico83 opened #2716 "Nil pointer if `depends_on` refers to a non existing service"
**Describe the bug**
Run `okteto deploy` with this compose file:
[code]

and you will get:
[code]

**Expected behavior**
Ideally, if the dependency exists in kubernetes (because it was created outside of the compose file), we could wait for it to be ready. But I would go with simplicity and show a proper error in this case while deserializing the compose file

[2022-05-24 22:09] jmacelroy commented on #2716
@pchico83 I need to look for the other issue but I believe we panic other cases that are the same or similar. For instance `okteto deploy not-real-service` will just panic.

[2022-05-25 07:23] teresaromero commented on #2420
what would be the requirements to make this issue done? should we use the scan channel at slack and upgrade packages that are tagged as high/medium?

cc: @pchico83 @jmacelroy

[2022-05-25 09:49] teresaromero commented on #2599
After digging on this i could reproduce the error using cloud.
The user is adding a storageClass field at the dev manifest (from conversatiuon https://kubernetes.slack.com/archives/CM1QMQGS0/p1650954140112709?thread_ts=1650951477.382719&channel=CM1QMQGS0&message_ts=1650954140.112709)

[code]

So when `okteto up` is run using cloud for the first time, a PVC for `web` is created, but this is created

[2022-05-25 11:08] pchico83 opened #2719 "Wrong log when using `autocreate`"
**Describe the bug**
We are logging this warning when using a dev container with `autocreate`:
[code]
 and this is fine, we shouldn't warn the user

[2022-05-25 11:25] pchico83 opened #2720 "`okteto deploy` should support several files with the `-f` flag"
**Describe the bug**
`okteto deploy` is deprecating `okteto stack deploy`, but it's missing the functionality to merge several compose files in a single one. Same for `okteto destroy` and `okteto stack destroy`.

Without this, we cannot deprecate `okteto stack`.

[2022-05-25 12:01] pchico83 commented on #2719
This is throwing an error in 2.3.0, but not in 2.0.2

[2022-05-25 13:14] AdrianPedriza commented on #2709
Is there any implementation already done to get the information in this case related to another `okteto up` process? some status file or something like that?

[2022-05-25 13:27] teresaromero commented on #2420
- [ ] CVE-2022-27191 - crypto at backend - https://github.com/okteto/app/pull/3944

[2022-05-25 14:08] pchico83 commented on #2709
@AdrianPedriza every `okteto up` sesion creates a folder with information about the session in `~/.okteto/$OKTETO_NAMESPACE/$OKTETO_MANIFEST_NAME`. Not sure if it will have everything you need

[2022-05-25 14:20] maroshii commented on #2420
@teresaromero I'd say this issue tracks one-off vulnerabilities fixes. Fixing vulnerabilities is a moving target so we would never close this out. The ones you mentioned should be enough to close this issue since we already removed a lot from the report by removing cloudbin. Not sure how realistic it is to remove the ones in buildkit cc @jmacelroy

The ultimate goal is to move scanning into CI usi

[2022-05-25 16:43] jmacelroy commented on #2599
Huh, this is an interesting case. It seems we have an interaction bug between the cli assertions made in the linked code and the cloud webhook for cloud.okteto.com.

I don't see an immediate fix but I have some questions I want to track down the answer to.

1. If cloud is forcing storage classes then does this check need to exist in cli, either for vanilla or self-hosted clusters? Why was it added

[2022-05-25 19:27] jmacelroy commented on #2420
We won't be able to address the buildkit ones last time I looked. I will look again closer to release.

[2022-05-25 19:28] jmacelroy commented on #2420
In order to close this issue we'd need to address all of the issues that we are able to and evaluate the remaining ones for impact.

[2022-05-25 20:05] jmacelroy commented on #2719
I am unable to reproduce this and will probably need more information in able to do so. I created a v2 manifest and compose for go-getting-started at https://github.com/jmacelroy/go-getting-started/blob/autocreate-with-2.0-manifest/okteto.yml

I am always successfully deploying, using `okteto up`, with no deployment existing and `autocreate: true` set.

I tried with the manifest in the branch, the

[2022-05-25 20:46] jmacelroy commented on #2700
This has already been applied to the release-2.3 branch.

[2022-05-26 03:05] rberrelleza opened #2722 "okteto destroy doesn't destroy dependencies"
**Describe the bug**
When I have a manifest that includes dependencies, running "okteto deploy" deploys the resources described in the manifest + the dependencies.

When I then run "okteto destroy", the dependencies are not destroyed.

Given that 'destroy' is the opposite command of 'deploy', I'd expect the default use of the command to destroy everything that the deploy command created.

- OS: ma

[2022-05-26 03:08] pchico83 commented on #2722
You have `okteto destroy --dependencies` for this

[2022-05-26 04:29] rberrelleza commented on #2722
I think the default should be the opposite, to be consistent with the default behavior of "okteto deploy".

[2022-05-26 06:56] Dilucal opened #2723 "tokens"

[2022-05-26 07:50] ifbyol commented on #2599
The original PR is this [one](https://github.com/okteto/app/pull/2467). In one [comment](https://github.com/okteto/app/pull/2467#issuecomment-860092059) we decided to force the storage class in Cloud to reduce friction for new users as they might be using an example with storage classes.

If the setting is not enabled, we fail the creation with a clear error on the supported storage classes. I thi

[2022-05-26 09:06] teresaromero commented on #2599
I see 2 parts of the issue here:
- when a user specifies the storageClass at the manifest, and using Cloud, we continue with the process, the webhook applies the default one (not the one that the user had) and all goes smooth, the second time, CLI thows error, as the class is not checked at the "update" part of CLI and throws an error saying that it can't be changed.. For this i opened https://git

[2022-05-26 09:12] pchico83 commented on #2599
@teresaromero the webhook should translate it also on UPDATE, which will also solve this issue

[2022-05-26 09:31] teresaromero commented on #2712
@pchico83 do we want to keep the check to the dev registry and skip or this shall also be removed?

[2022-05-26 09:37] pchico83 commented on #2712
@teresaromero let's remove everything for now. I will create a github discussion with a new approach for this

[2022-05-26 12:33] #2719 closed

[2022-05-26 12:33] jLopezbarb commented on #2677
Reopened: We need to wait until windows support this behaviour.
- Need to upgrade to Go 1.18
- Need to have this back port merge: https://github.com/golang/go/issues/52986

[2022-05-26 12:43] teresaromero commented on #2420
https://github.com/okteto/app/pull/3944
https://github.com/okteto/app/pull/3946

Release done to cloud https://github.com/okteto/app/releases/tag/1.12.113

[2022-05-26 15:22] AdrianPedriza commented on #2709
@pchico83 wouldn't it be better to store this information distinguishing also by app? (`~/.okteto/$OKTETO_NAMESPACE/$OKTETO_APP/$OKTETO_DEV_COMPONENT/..`) maybe you could have dev components belonging to the same namespace with the same name? some typical name like frontend or api

[2022-05-26 16:02] pchico83 commented on #2709
@AdrianPedriza there cannot be two dev containers with the same name in the same namespace. It could be cleaner your way, but I don't think a refactor there makes sense. That path is already used by other integrations like the vscode plugin or the docker extension

[2022-05-26 18:55] ifbyol commented on #2676
Hi @f0ntana , we have identified the problem and we have applied a fix today in Cloud. You shouldn't face it anymore. The issue shouldn't affect your deployment as it was failing in the last step of a preview environment deployment.

[2022-05-26 18:55] #2676 closed

[2022-05-26 19:05] #2723 closed

[2022-05-27 06:18] #2712 closed

[2022-05-30 10:42] jLopezbarb opened #2728 "Warning unmarshall messages are shown two times"
**Describe the bug**
If a okteto yaml/compose file/pipeline manifest has a warning while unmarshalling the message will appear two times (one before the context initialisation and another one after it). It's weird to see the same warning several times
<img width="686" alt="Captura de pantalla 2022-05-30 a las 12 35 53" src="https://user-images.githubusercontent.com/25170843/170974831-ed71741e-5b8c

[2022-05-30 11:21] ifbyol commented on #2728
@mnevadom was facing a similar issue also when doing a refactor for the build to print a warning when `context` and `Dockerfile` are not properly set.

When executing a `deploy` we are displaying even 3 times the same warning

[2022-05-30 12:07] AdrianPedriza commented on #2709
@pchico83 At the moment I can only think of using the format **LOCAL_PORT:SVC_NAME:REMOTE_PORT** because if the name of the service is not specified it is not possible to know exactly from which pod I should make the forward.

[2022-05-30 12:11] jLopezbarb opened #2729 "Add a quiet flag to namespace list"
**Is your feature request related to a problem? Please describe.**
When you have lots of namespaces and you want to remove all the namespace, right now we have to delete them one by one. It would be useful to run `okteto namespace delete ($okteto namespace list -q)` to remove all namespaces that you have.

**Describe the solution you'd like**
Add a quiet flag (`-q`) to `okteto namespace list` to l

[2022-05-30 12:21] pchico83 commented on #2709
@AdrianPedriza right, that would be the only valid format for global services

[2022-05-30 12:30] jLopezbarb opened #2730 "Refactor e2e tests"
e2e tests time has gone to more than 1 hour, and we have detected several regressions that should have been caught by the tests.

We need to refactor the test to cover more scenarios while reducing the dependencies with our own repos (we were cloning okteto samples to run e2e tests).

- **actions**
- [ ] If detect a version of cli with actions run them with that version

- **Build**
- [ ] Create a

[2022-05-30 19:31] jLopezbarb opened #2732 "images were built message when I don't have any build image set"
**Describe the bug**
When running an `okteto deploy` command from a helm chart or a manifest v2 without build section the following message appears:
`Images were already built. To rebuild your images run 'okteto build' or 'okteto deploy --build'`
<img width="691" alt="Captura de pantalla 2022-05-30 a las 21 31 28" src="https://user-images.githubusercontent.com/25170843/171050992-99d3f1ed-7a37-40d4

[2022-05-31 07:25] #2635 closed

[2022-05-31 09:46] teresaromero commented on #2665
@mladedav hi! could you share your kubeconfig file so we can see how the contexts are configured? thnks

[2022-05-31 10:12] mnevadom commented on #2555
At what point do we want that the config map is created even if we fail to do the deployment?

I mean, do we have to create it at the very beginning of the execution? Or do we have to wait until something is done for sure before?

[2022-05-31 10:15] jLopezbarb commented on #2555
I would wait until the manifest is read. We need the icon (if it has) and setting the manifest on the yaml part

[2022-05-31 10:58] mladedav commented on #2665
I had to delete a lot of contexts (for obvious reasons). This was the only one okteto-related I noticed.

[code]

[2022-05-31 12:39] mladedav commented on #2665
It outputs the following no matter which kubectl context I have selected.
[code]

[2022-05-31 15:12] ifbyol opened #2734 "2.3.1 doesn't deploy endpoints marked as `public` in the stack file"
**Describe the bug**
I have [this repository](https://github.com/ifbyol/vote-spring) which defines a public endpoint. In `2.2.2` was working correctly and the endpoint was created correctly, but in `2.3.1`, the endpoint is not being created. I was checking the k8s resources and it seems that the ingress is not being created

**To Reproduce**
Steps to reproduce the behavior:

1. Using `2.3.1` versi

[2022-05-31 19:46] maroshii opened #2737 "Create docs/RELEASE.md"
Create release document in `docs/RELEASE.md` explaining how cli versions are released, from which channels they can be installed and how. This is effectively making the internal spec public

[2022-05-31 19:58] maroshii opened #2738 "Implement release channels for CLI"
**TL;DR** - This is effectively implementing  the release doc added in #2737.

---

Releasing new versions of Okteto will consist of releasing binaries through three major channels: **dev, beta and stable.**

The dev channel builds nightly from master and doesn't follow semver.
The beta channel automatically builds from `release-MAJOR.MINOR` branches (semver with `-beta.n` prerelease)
The stable c

[2022-05-31 20:00] maroshii opened #2739 "Add directory listing to downloads buckets"
It would be great to have directory listing for https://downloads.okteto.com/cli/stable (and beta and dev).

It looks like this is not supported by GCP Cloud Storage but we cloud use: https://github.com/rufuspollock/s3-bucket-listing which looks like it's compatible with GCP according to [this](https://stackoverflow.com/questions/30164347/enable-directory-listing-in-google-cloud-storage) (if it's

[2022-05-31 20:24] maroshii opened #2740 "Release backwards compatibilty sanity check"
This is to make sure that the implementation of #2737 works for release branches previously created

This refers specifically to:
- [release-2.0](https://github.com/okteto/okteto/tree/release-2.0)
- [release-2.2](https://github.com/okteto/okteto/tree/release-2.2)
- [release-2.3](https://github.com/okteto/okteto/tree/release-2.3)
- [release-1.14](https://github.com/okteto/okteto/tree/release-1.14)

[2022-05-31 20:47] jmacelroy commented on #2625
@donalddewulf reach out if you come up with any further details.

[2022-05-31 20:47] jmacelroy commented on #2625
We are unable to reproduce the issue.

[2022-06-01 05:33] #2599 closed

[2022-06-01 05:34] #2630 closed

[2022-06-01 06:43] rberrelleza opened #2741 "okteto up is stuck in "pulling image okteto.dev/XXXX" if init container doesn't finish"
**Describe the bug**
When I run "okteto up" on a deployment where an init container is still running, the sequence gets stuck in "pulling image okteto.dev/XXXX"

**To Reproduce**
Steps to reproduce the behavior:

1.  Create a deployment where the init container never finishes (e.g. add a tail -f /dev/null as the command)
2. Run 'okteto up'

**Expected behavior**
I'd like a clear message telling me

[2022-06-01 07:37] #2734 closed

[2022-06-01 15:25] AgustinRamiroDiaz opened #2744 "Okteto doesn't read .dockerignore when building images"
**Describe the bug**
When building images with `okteto deploy --build` or `okteto build .`, the `.dockerignore` file is beign ignored

![image](https://user-images.githubusercontent.com/49416765/171440154-233f4fb7-c17f-4c74-ab91-b6a5aa44c2c8.png)

I tested it running okteto with a `docker-compose.yml`

**To Reproduce**
Steps to reproduce the behavior:

1. Clone https://github.com/AgustinRamiroDiaz

[2022-06-01 18:54] ryanbas21 commented on #2715
Hi @jLopezbarb I am using the okteto CLI 2.3.1. The master branch wouldn't be the proper branch to test this on. https://github.com/ForgeRock/forgerock-javascript-sdk/pull/244 is what i've been developing on and where i experience the issue. Why would the react service cause two backend services which aren't directly related to not deploy endpoints?

[2022-06-01 19:58] rachitchauhan43 opened #2745 "Okteto VS Code plugin doesn't wait for user input for .stignore file creation."
**Describe the bug**
 When I hit `Okteto up` command in VS Code, it opens up a terminal showing progress of remote env coming up. And it detects that `.stignore` file is not there but now it doesn’t wait for user input ([y/n]) to ask whether a user wants to create a new .stignore file or not.

**To Reproduce**
Steps to reproduce the behavior:

1. Choose `Okteto up` command in VS Code's command pal

[2022-06-02 03:56] jmacelroy commented on #2729
I think we have too many options and they aren't always cohesive. I see the use case but I'm not sure it's compelling enough of a reason to warrant adding an option. I think the barrier to entry for updating a command or option should be high. This use case is possible to cover through scripting in the odd case that it's required.

Are there more reasons for a `-q`? Do you see any other value it w

[2022-06-02 07:18] teresaromero commented on #2661
As offline conversation, i will wait for some more context and reproducible steps to understand what is needed for this issue. Moving to specify work, as the solution is not clear yet.

cc: @pchico83 @jmacelroy

[2022-06-02 08:33] teresaromero commented on #2661
Updated PR to cover the fix where the compose files are at an `.okteto` folder

[2022-06-02 09:51] teresaromero commented on #2665
@AgustinRamiroDiaz i haven't been able to reproduce this, could you try on your windows to double check? thnsk

[2022-06-02 11:37] AdrianPedriza commented on #2709
@pchico83 I have noticed that if I want to forward a service that is in development mode I am not able to access the exposed service, without any log to inform me about it. Therefore this behavior has also been transferred to global forwarding. Is this behavior expected or should we open an issue?

[2022-06-02 12:56] pchico83 commented on #2709
@AdrianPedriza it isn't expected, but I agree we should handle it in a different issue

[2022-06-02 16:18] jmacelroy opened #2747 "Flexible Port Mapping Causes Incorrect Endpoint Creation."
**Describe the bug**
We are generating incorrect endpoints. We are generating an endpoint for the port 8080 and another one for the port 80 (including the port number in the endpoint) instead of just one endpoint. It was introduce with the fix for the property public in stacks.
This is a combination of a [change](https://github.com/okteto/okteto/issues/1584) we did in the past + the translations s

[2022-06-02 17:11] AgustinRamiroDiaz commented on #2665
@teresaromero I tried `okteto context` with cloud and had no issues, I also tried deleting the context and connecting again. Is there something else I should try?

[2022-06-02 19:04] jmacelroy commented on #2709
@AdrianPedriza Can we get a video demo of this feature as it works today? I'd like to understand the use cases it solves better and share the UX with the team for input.

Also, is there a particular customer @pchico83 that wanted this and is willing to test a beta release? I'm thinking with some of our current port issues of having this not in the main branch until we are more stable but would als

[2022-06-02 19:05] jmacelroy commented on #2219
@jLopezbarb I put this on a future release milestone. Help me evaluate when a good time to work on this would be as we do more release planning in the future.

[2022-06-03 00:58] rberrelleza commented on #2443
No, but we've been getting reports of this every now and then. I don't know enough of Windows binary packaging to recommend a solution.

[2022-06-03 07:10] #2689 closed

[2022-06-03 08:29] pchico83 commented on #2709
@jmacelroy I don't think it's a blocker because the use case for this is not to expose dev container ports, but to expose third party services like databases that every dev container needs to expose locally.

[2022-06-03 08:31] pchico83 commented on #2709
@jmacelroy yotpo is waiting for this feature, but it's a common ask from previous customers. If you have two dev containers, and both expose a database in localhost, you need:
- expose them on different ports, which requires different database connection strings configuration
- expose them on the same port. you cannot run both `okteto up` on each dev container at the same time

[2022-06-03 08:39] jLopezbarb commented on #2219
Could we put this one on 2.5? The last three regressions came because of this code, so having it as soon as possible can fix all the issues that we are having

[2022-06-03 10:15] mnevadom commented on #2636
It will also change one particular scenario:

If the user has two Dockerfiles, in root and in context, and he fills the manifest with "Dockerfile", it will show a warning message, but NOW is taking the context file, not the root one

[2022-06-03 11:36] AgustinRamiroDiaz commented on #2443
@rberrelleza @jmacelroy maybe we could change our default recommendation of installation to be scoop (or chocolately in the future)?

[2022-06-03 15:06] #2747 closed, assigned to jLopezbarb

[2022-06-03 18:58] rberrelleza opened #2752 "Fallback to "token" when the CLI can't complete the log in sequence due to an error with localhost resolution or with the browser."
**Describe the bug**

[code]

**Desktop (please complete the following information):**

- OS: archlinux
- Version [e.g. 22]

**Additional context**
Add any other context about the problem here (e.g. okteto.yml, k8s manifests, logs)

[2022-06-03 19:16] alexissellier commented on #2752
Ola, I am the who rose this ticket, after investigating it appears that in my /etc/hosts file I had not any entries for localhost thus the cli try to lookup using the DNS provided by my operator and fail.

[2022-06-03 20:30] rberrelleza commented on #2752
@alexissellier ah that's great, thanks for finding the root cause!

I still want to keep this ticket open because I think the CLI can do a better job on falling back to the "ask for an API key"  flow when we can't start the webserver (we have a similar use case when you're using the CLI on a machine without a browser installed)

[2022-06-04 15:44] ZhaoTzuHsien commented on #2592
Are ther any fixes for this issue?
@jmacelroy

[2022-06-06 11:50] AgustinRamiroDiaz commented on #2592
@ZhaoTzuHsien For now there are 2 workarouds:
1. Prepend the command with `/mnt/c/Program\ Files/Powershell/7/pwsh.exe -c`
2. Use `okteto` from inside WSL

The issue will be fixed in the future so these workarounds are not needed

[2022-06-06 12:09] jLopezbarb commented on #2585
Closing this issue. [The root of the cause was found](https://github.com/okteto/okteto/issues/2585#issuecomment-1128734621). @rberrelleza if you think we should do anything else, feel free to reopen it again

[2022-06-06 12:09] #2585 closed

[2022-06-06 12:19] jLopezbarb commented on #2715
@ryanbas21 we found the issue and it's now fixed on cloud, can you try redeploying the preview env again?

Also, we noticed that you are still using a manifest v1. Check it out our [new manifest v2](https://www.okteto.com/docs/reference/manifest-migration/). This will simplify all your okteto manifests into one, simplify your pipeline by using the build section, and allows you to develop on severa

[2022-06-06 13:15] AdrianPedriza commented on #2709
@jmacelroy @pchico83 apart from making a demo video for this issue, what would be the best way to document this new feat? just update okteto manifest reference in docs?

[2022-06-06 15:12] viddo opened #2757 "okteto destroy still leaves volumes"
**Is your feature request related to a problem? Please describe.**
It's not obvious that volumes are left around by default and without calling `okteto destroy -v`

**Describe the solution you'd like**
- Ask whether to delete volumes `[Y/n]` if there are any. Would be aligned with how the okteto.com UI does it.

**Describe alternatives you've considered**
- Could also consider to provide some warn

[2022-06-06 18:09] rberrelleza commented on #2443
I don't know enough of the windows ecosystem to know how common is it to use scoop or chocolatey. Is this common in other big windows tools?

[2022-06-06 18:31] rberrelleza opened #2758 "okteto deploy doesn't compute well volumes with the `../..` pattern"
Trying to deploy [this compose file](https://opendev.org/zuul/zuul/src/branch/master/doc/source/examples/docker-compose.yaml) fails with :

[code]

Repro:
1. git clone https://opendev.org/zuul/zuul
2. cd zuul/doc/source/examples
3. okteto deploy

On version 2.2.1 I get the error above. On 2.3.3 I just get ` x  Syntax error volumes should be 'local_path:remote_path' or 'remote_path'`

[2022-06-06 20:17] #2306 closed

[2022-06-06 20:17] #2225 closed

[2022-06-06 21:33] ryanbas21 commented on #2715
Awesome! Will redeploy probably tommorow!

[2022-06-06 22:16] jmacelroy opened #2759 "Volumes Not Always Removed with Down and Destroy Commands"
**Describe the bug**
This flow was identified by a prospective Customer.  They initially did 'CLI: okteto destroy' but realized their volumes (in the UI) were still alive.  They attempted 'CLI: okteto destroy -v' and it will not go back and clean up the volumes.  However, has they originally ONLY executed 'CLI: okteto destroy -v' the desired fully clean state is achieved.  As an end user, you may

[2022-06-07 07:32] ifbyol commented on #2759
I know what the issues is. When a statefulset defines a volume using volumeClaimTemplate, that is created directly by the kubernetes controller so it doesn’t pass through our proxy and the `deployed-by` label is not added to the volume.

In that case, if you have executed `okteto destroy`, volumes are not deleted and if you try to do it executing `okteto destroy -v` after that, it won’t delete the

[2022-06-07 09:24] teresaromero commented on #2665
@AgustinRamiroDiaz thanks for trying. Its all good for the moment.

@mladedav we haven't been able to reproduce the issue, so we are closing this. Let us know if this happens again.

cc:  @jmacelroy

[2022-06-07 09:47] teresaromero commented on #2595
haven't been able to reproduce this issue
cc: @jmacelroy

[2022-06-07 11:10] AgustinRamiroDiaz commented on #2443
@rberrelleza I don't know if you are asking if it's common to use scoop/chocolatey or the antivirus issue, so I'll answer both

Scoop/chocolatey have gained a lot of traction in windows development (scoop is more liked but chocolatey is from Microsoft). I think these should be the preferred ways of installation since it handles downloading binary + adding it to path + managing upgrades. This work

[2022-06-07 21:24] #2737 closed

[2022-06-07 21:29] #2595 closed

[2022-06-07 21:35] jmacelroy commented on #2159
@maroshii Can you take a look at this one and see how much is covered with recent updates and if anything remains please.

[2022-06-07 22:08] maroshii opened #2761 "Add release announcement to Github discussions"
A good example of this is [Microsoft Terminal](https://github.com/microsoft/terminal/discussions/categories/announcements) pointed out to me by @rberrelleza.

Whenever we create a new stable (or beta?) release we should create an announcement in discussions. This should be automatically created by CI and posted into the newly created [Announcements](https://github.com/okteto/okteto/discussions/cat

[2022-06-07 22:10] maroshii commented on #2159
We can close this. Most of it has been added to https://github.com/okteto/okteto/blob/master/docs/RELEASE.md including how we generate release notes. We are missing the release announcements but created a separate more descriptive issue for it https://github.com/okteto/okteto/issues/2761

[2022-06-07 22:10] #2159 closed

[2022-06-08 08:17] pchico83 opened #2762 "Support for running `okteto destroy` in the deploy section of the okteto manifest"
**Describe the bug**
Some users are running `okteto destroy` as part of the deploy section, something like this:
[code]
this is especially convenient when you do changes in your chart that don't support in-place updates, like modifying statefulsets.
Also, for development, helm is usually faster destroying + installing, than upgrading a previous installation.

Today, we show a waning because `oktet

[2022-06-08 15:32] maroshii opened #2765 "Add versions selection to get.okteto.com"
Right now https://get.okteto.com selects the latest binary from a channel and there's no way to select a specific version.

~~Possible DX:~~

1. ~~Have `https://get.okteto.com/{version}` for every versions released. Probably unmaintainable if we want to  keep doing it statically. It would require to upload a copy of the installation script along side the binaries into for eg `https://get.okteto.co

[2022-06-08 16:31] pchico83 commented on #2765
I would go with simplicity while we implement something better. Documenting (and implementing) somethings like this should work:
[code]

[2022-06-08 17:20] pchico83 commented on #2765
oh, right! I would go with that approach, seems a reasonable DX and simple to implement

[2022-06-08 21:28] pchico83 opened #2767 "Wrong behavior of `okteto down --all`"
**Describe the bug**
When running `okteto down --all`, we should show the dev container name of each dev container being deactivated.
Also, after `okteto down --all` deactivates dev containers, it prompts to activate a new one

<img width="624" alt="Screenshot 2022-06-08 at 23 26 16" src="https://user-images.githubusercontent.com/7474696/172720487-26efa6b5-db9d-454a-83e3-1679f0a3b3f9.png">

**To R

[2022-06-08 21:31] pchico83 opened #2768 "`okteto exec xxx -- bash` is ignoring the dev container name xxx"
**To Reproduce**
- Clone http://github.com/okteto/movies
- Run `okteto up api` and wait for it to finish
- Run `okteto exec api -- bash`

You should get a bash terminal in the `api` container. Instead, we are prompting for the dev container where `exec` is going to happen:
<img width="644" alt="Screenshot 2022-06-08 at 23 30 53" src="https://user-images.githubusercontent.com/7474696/172720929-ddbe

[2022-06-09 08:58] AdrianPedriza opened #2770 "dead code related to open forward without using ssh"
**Describe the bug**
At this point it is no longer necessary to distinguish between opening the forward using ssh or not. We will always use ssh.
https://github.com/okteto/okteto/blob/master/cmd/up/forwards.go#L34

[2022-06-09 14:13] pchico83 commented on #2693
We should build images that don't exist when getting the image SHAs to fill the `OKTETO_BUILD_XXX` envars

[2022-06-09 14:38] #2738 closed

[2022-06-09 14:38] #2740 closed

[2022-06-09 15:43] pchico83 opened #2772 "Many timeouts on mixpannel"
**Describe the bug**
It's very common that we see timeout in mixpannel, we should increase this timeout and send queries in a goruotine to optimize the execution time of our commands without losing metrics

[code]

[2022-06-09 15:45] ifbyol opened #2773 "If the current context is deleted from config.json, when I execute any command I get a stack trace"
**Describe the bug**
If I go to `context/config.json` and I delete the current context from the list of contexts (without deleting the `current-context` property`), I get the following stack trace every time I execute a command

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '.~/.okteto/context/config.json'
2. Check the `current-context` property and delete that context from t

[2022-06-09 17:19] danielbodis opened #2774 "Okteto cli selection prompt does not work with Git Bash or cygwin terminals on Windows"
In Git Bash terminal run the following command: okteto context use (or any other command which has a selection prompt).
The okteto cli will display the selection text, then quit right away with an "Invalid option" message.

**Desktop (please complete the following information):**

- OS: Windows
- Terminal: Git Bash (mintty 3.5.2) or cygwin (mintty 3.5.2)

[2022-06-09 17:34] maroshii opened #2775 "Pull latest available versions from downloads.okteto.com"
We are still using github releases to decide whether there's a new release available and we should use https://downloads.okteto.com/cli/{channel}/versions. This is a follow up of https://github.com/okteto/okteto/pull/2727

[2022-06-09 18:49] #2765 closed

[2022-06-10 03:57] pchico83 commented on #2219
@jLopezbarb @jmacelroy @ifbyol one option here is to use the official compose struct as the interface for `deploy/destroy` commands, and let our serializer generate this struct from our custom stack fields. This way, `deploy/deploy` don't need to handle stack-specific logic.
Ideally, the serializer could also reuse the official compose serializer, not sure if that should be done in a different PR

[2022-06-10 04:09] pchico83 commented on #2692
This is already fixed in `master`. There is an issue already to cover building images on demand on `okteto up` https://github.com/okteto/okteto/issues/2693

[2022-06-10 04:09] #2692 closed

[2022-06-10 06:52] RinkiyaKeDad opened #2778 "typo in prompt when running okteto down"
**Describe the bug**
If you run `okteto down` the prompt lists all dev containers but it says to select the container you want to "activate".

**To Reproduce**
Steps to reproduce the behavior:

1. Start a container
2. Run `okteto down`

**Expected behavior**
The prompt should say select the dev container you want to "deactivate". Another UX improvement could be if it lists down **only** the active

[2022-06-10 09:56] #2745 closed

[2022-06-10 14:48] ifbyol commented on #2219
@pchico83  I'm not familiar with the code, but that sounds good to me. What I'm not sure what to do is how to know which serializer we should use depending on the manifest

[2022-06-10 17:39] maroshii opened #2783 "Fix release.sh versions mutation"
We are releasing to multiple channels in `release.sh` using the same artifact directory. Since we are writing the new version to `${BIN_PATH}/versions` the last item in the loop takes precedence making it so that `preferred_channel` computed below is incorrect.

[2022-06-11 07:06] pchico83 commented on #2693
This is specially relevant for manifests without `deploy` section like this one:
[code]

[2022-06-13 11:33] jmacelroy commented on #2659
If the compose file doesn't have any endpoints this will work. If the compose file *has* endpoints this will work. There is only a failure when there a merge is required.

[2022-06-13 11:41] jmacelroy commented on #2693
The pipeline and deploy command were generating different TAGs and this part is fixed. Now, if you run `okteto up` and the image doesn't exist then up is not building the image. If you have no deploy and just dev with `autocreate` or if you add a new image to the manifest and the first command ran after the edit is `up` then things will not get built.

[2022-06-13 18:45] willem-i-am opened #2786 "Support `depends_on` for services in different stacks"
Okteto 2.0 introduced `dependencies` so a repo can depend upon another repo's stack file being deployed first.

So let's say `repo-b` has a dependency on `repo-a` - so `repo-b`'s `okteto.yml` looks like this:

[code]

It would be nice if the services in `repo-b`'s stack file, `docker-compose.yml`, could use the `depends_on` argument for services defined in `repo-a`'s stack file.

So the service in

[2022-06-13 19:24] jmacelroy commented on #2715
The two issues found have been fixed. @ryanbas21 let us know if you continue to have issues.

[2022-06-13 19:24] #2715 closed

[2022-06-13 19:25] AgustinRamiroDiaz commented on #2609
The issue is fixed in the tip of `release-2.4`

[2022-06-13 19:28] AgustinRamiroDiaz commented on #2609
@jmacelroy the issue persists on the tip of `release-2.4` in commit `cfaef0c1`. I'll update better the steps to reproduce

[2022-06-14 10:34] jLopezbarb opened #2788 "okteto pipeline panics when adding wait and no pipeline running"
**Describe the bug**
`okteto pipeline destroy --name test --namespace=test --wait` panics with the following trace:
[code]
**To Reproduce**
Steps to reproduce the behavior:

1. Run `okteto pipeline destroy --name test --namespace=test --wait`
2. See error

**Expected behavior**
Finish the command correctly

**Desktop (please complete the following information):**

- OS: macOs
- Version  2.4.0-beta

[2022-06-14 10:40] jLopezbarb opened #2789 "`okteto up -f` is working different from `okteto up` on compose"
**Describe the bug**
`okteto up -f docker-compose.yml` returns a volume error but running `okteto up` without the flag runs successfully. The error is:
<img width="470" alt="Captura de pantalla 2022-06-14 a las 12 40 51" src="https://user-images.githubusercontent.com/25170843/173559084-7551cc6f-1c5f-4b58-937f-ee8bc5b68ae6.png">

**To Reproduce**
Steps to reproduce the behavior:

1. Download [movie

[2022-06-14 10:46] jLopezbarb opened #2790 "I can't run `okteto push` with new `okteto deploy` specifying the file flag"
**Describe the bug**
I want to run `okteto push` with the new `okteto deploy` command but it's not working if I specify the file

**To Reproduce**
Steps to reproduce the behavior:

1. Create the following Dockerfile + okteto.yml:
`okteto.yml`
[code]
`Dockerfile`
[code]
2. Run `okteto deploy`
3. Check that the image is being built
4. Run `okteto deploy -f okteto.yml`
5. See that it skips the deploy

[2022-06-14 10:50] jLopezbarb opened #2791 "I can't change the default ns on vanilla cluster"
**Describe the bug**
If I'm working on a vanilla cluster I can't set my context to work with an specific namespace.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `okteto context` on a vanilla cluster
2. Run `okteto namespace use test`
3. See that it's not updating the okteto config

**Expected behavior**
Creating and deleting namespace can be dangerous on vanilla clusters but we defin

[2022-06-14 10:57] jLopezbarb opened #2792 "Deploying a compose on a vanilla cluster doesn't mount from local"
**Describe the bug**
If I have a compose file like the one above my nginx service won't have the nginx config from my local:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create the docker-compose from above
2. Run `okteto context` on a vanilla cluster
3. Run `okteto deploy`
4. Check that the container doesn't have the file mounted from local

**Expected behavior**
I want that my a

[2022-06-14 11:03] jLopezbarb opened #2793 "okteto questions should default to yes"
**Describe the bug**
When I install any package and I get asked to accept. I usually just press enter and it works. It seems that okteto you always need to type `y + Enter`

**To Reproduce**
Steps to reproduce the behavior:

1. Run okteto up on an empty dir
2. When you get ` ?  okteto manifest (okteto.yml) doesn't exist, do you want to create it? [y/n]` press enter
3. See error

**Expected behavio

[2022-06-14 11:07] pchico83 opened #2794 "`okteto pipeline deploy` and `okteto preview deploy` should stream the pipeline logs"
**Is your feature request related to a problem? Please describe.**
Similar to `okteto deploy`, `okteto pipeline deploy` and `okteto preview deploy` should stream the logs of the deploy commands execution. This is specially frustrating when debugging GitHub preview actions, because the pipeline logs are lost on each deploy, and from an old GH action is impossible to troubleshoot why a github action

[2022-06-14 11:35] pchico83 opened #2795 "My `build` section is gone if using the compose extended notation"
**Describe the bug**
My build section is ignored by `okteto deploy` with this manifest:
[code]

Note that `okteto build` builds the image, but `okteto deploy` is not injecting the `OKTETO_BUILD_API_IMAGE` envvar.

Looks like it's related to using the `compose` field, if I delete it, my build section works with `okteto deploy`:
[code]

[2022-06-14 11:47] #2783 closed

[2022-06-14 13:57] willem-i-am opened #2797 "Add ability to control building of `dependencies`"
Okteto 2.0 introduced dependencies, so an okteto manifest can invoke the `deploy` section of another okteto manifest in a different repo. See example below:

[code]

Sometimes, okteto will rebuild dependency repo images when it is not desirable to do so.

Consider the circumstance in which the images in `repo-a` have already been built once, and `repo-b` has already been deployed (along with its d

[2022-06-14 17:50] #2683 closed

[2022-06-14 17:50] pchico83 commented on #2677
@jLopezbarb should we close this issue now?

[2022-06-14 22:34] maroshii opened #2801 "Implement new Github actions release process"

[2022-06-15 08:31] ifbyol opened #2803 "Sometimes we are getting temporal errors `Canceled: grpc: the client connection is closing` when building images"
**Describe the bug**
Sometimes, we are getting this transitory error when building an image:

[code]

Maybe there is something in our code that provoke that error: https://stackoverflow.com/questions/62441316/golang-grpc-cant-keep-alive-the-client-connection-is-closing

If it is not something in our end, we should include it as a error to be retried when building an image.

Some customers are repo

[2022-06-15 09:59] teresaromero commented on #2803
This can be reproduced, or at least i got it while investigating a registry timeout, when the connexion is set up as "Very Bad Network" using `Network Link Conditioner` at my Mac. Settings for this profile is: 1mbps downlink and uplink, packets dropped 10% and delay 500ms

[2022-06-15 10:58] jLopezbarb commented on #2677
Yes, we can close it for now

[2022-06-15 10:58] #2677 closed

[2022-06-15 11:56] ifbyol commented on #2803
It might happen when there is some kind of error or a process exiting with `exit 1` in buildkit. Checking the logs in one of the instances, I saw some errors like:

[code]

Not sure it is the root cause but we can check it

[2022-06-16 06:51] teresaromero commented on #2626
i've tested this scenario but not sure if its reproducible anymore. at `build` if i use for `context` a value for a folder that does not exist, i get the following error

[code]

@rberrelleza which version does this happened? can we check this is still not working?

[2022-06-16 07:56] pchico83 opened #2809 "Deserialize only what's needed from the okteto manifest for a given command"
**Is your feature request related to a problem? Please describe.**
Today, in order to execute any command, we need to successfully serialize the whole okteto manifest.
This is a hard constraint. For example, using a new field in the `dev` section will break pipelines running an old version of the okteto manifest.

**Describe the solution you'd like**
`okteto build` should only deserialize the `bui

[2022-06-16 08:18] jLopezbarb opened #2810 "depends on should not fail if backofflimit > maxattempts"
**Describe the bug**
My okteto deploy fails before it should

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy this compose by running `okteto deploy`:
[code]
2. See that it fails on restart 3

**Expected behavior**
If the dependant service has a backofflimit we should wait until that premise is completed

**Desktop (please complete the following information):**

- OS: macOS
- Version

[2022-06-16 13:15] jLopezbarb commented on #2789
Reopen because it was reverted

[2022-06-17 06:29] #2555 closed

[2022-06-20 09:55] jLopezbarb opened #2820 "okteto deploy doesn't accept absolute paths on windows"
**Describe the bug**
When I run an executable, from an absolute path on windows it's not finding the correct executable because it's removing all backslash
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the yaml posted above
2. Run `okteto.exe deploy`
3. It will fail with the following error:
[code]

**Expected behavior**
I expect this to work on windows the same way it works o

[2022-06-20 09:58] jLopezbarb commented on #2820
@AgustinRamiroDiaz Do you know what can cause the removal of the backslash when running this command:
`C:\\Windows\\system32\\bash.exe C:\Users\javif\Repos\okteto\bin\okteto.exe deploy -f requirements.txt`

[2022-06-20 10:06] jLopezbarb commented on #2820
This bug is also happenning on 2.3, 2.2, 2.1 and 2.0 versions

[2022-06-20 22:34] rlamana opened #2821 "Minor output issue when selecting the current context again"
**Describe the bug**
If you launch okteto context and realized that the current context is the one you wanted and you select it again, the output of the selected context shows the URL of the context but also the `*` symbol that was there to indicate the current context. The `*` shouldn't be there and is a bit confusing:

<img width="417" alt="Screenshot 2022-06-21 at 00 29 09" src="https://user-im

[2022-06-20 23:50] fdelucchijr commented on #1049
What’s the current status for this issue? the last arm64 compatible version was 1.2.22, If you need help maintaining the build count on me, in our business we use Okteto as a core part of our development environment but we are stuck with a exec format error in the same environment where everything was working before.

 I’m pretty advanced in multi arch docker build (I use from armv7 to arm64 in al

[2022-06-22 15:27] ujwaldhakal opened #2823 "Selecting multiple deployment"
**Describe the bug**
I have two deployments that uses the same docker image. One handles the main API request while another one is used for background queue processing. When I try to select two deployments

[code]

 it complains about `Found '2' deployments for labels 'app.kubernetes.io/name=test instead of 1
`
**To Reproduce**
Steps to reproduce the behavior:

1. select multiple pods by using sel

[2022-06-23 07:27] pchico83 opened #2824 "Consistency for filename, file and manifest parameters"
**Describe the bug**
There are several commands or manifest sections that require the path of an okteto manifest. For example, we are using `file` as a flag in Okteto CLI commands, but we are using `manifest` when defining [dependencies](https://www.okteto.com/docs/reference/manifest/#dependencies-string-optional).

We should unify on `file` everywhere to have a consistent notation.

At the `confi

[2022-06-23 09:00] alexissellier opened #2825 "manifest option in dependencies is ignored"
**Describe the bug**

The `manifest` option inside the declaration of a dependency is ignored and therefore only the manifest at the base folder is used.

**To Reproduce**
With this manifest
[code]
The `./base` is ignored and my dependency is using the manifest at the base directory.

This is the content of the configmap in my namespace

[code]
[code]

**Expected behavior**
The full path is used t

[2022-06-23 09:41] shepherd1530 opened #2826 "Okteto up command takes too long"
I am facing an issue where running **okteto up** takes about 10 - 15 minutes. The cli get stuck at the below

[code]

On file change, the terminal prints

[code]

and I have to wait for another 10 - 15 minutes before my app listens again for requests.

I am using version 2.2.1 of the cli.

[2022-06-23 11:20] ujwaldhakal commented on #2823
Thanks, @pchico83 for the answer.  I have two deployment one was `api` and another was `worker` as per your services documentation I came up with something like this

[code]
While using this I was able to see both kubernetes pod name was updated by something like api-okteto-124asf worker-okteto-124zxv but the file synchronization was only hapening for api deployment not the worker deployment which

[2022-06-23 12:15] zar3bski opened #2827 "Shell alias handling: /bin/sh: 1: kubectl: not found"
**Describe the bug**
Okteto does not seem to load aliases from `~/.profile` nor to inherit from system-wide aliases defined in `/etc/profile.d`. This is problematic for developers using distribution such as [microk8s](https://microk8s.io/) that wraps `kubectl`

**~/.profile**
[code]

**/etc/profile.d/kubectl_alias.sh**
[code]

[code]

- OS: Ubuntu
- Version 21.10
- yarn v 1.22.11

How can I set Ok

[2022-06-23 23:45] KiroFyzu opened #2828 "container 'web' failed with exit code 1."
2022-06-23 23:43:26.66 UTCweb-0webnode:internal/modules/cjs/loader:936
2022-06-23 23:43:26.66 UTCweb-0web throw err;
2022-06-23 23:43:26.66 UTCweb-0web ^
2022-06-23 23:43:26.66 UTCweb-0web
2022-06-23 23:43:26.66 UTCweb-0webError: Cannot find module '/riy.js'
2022-06-23 23:43:26.66 UTCweb-0web at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)
2022-06-23 23:43:26.66 UTCwe

[2022-06-24 12:16] ujwaldhakal opened #2829 "Realtime env synchronization"
**Is your feature request related to a problem? Please describe.**
I am using okteto to synchronize the pods running on remote server. I have env  file that I wanted to sync but inorder to update sync I need to boot `okteto up` command. Okteto up might take a long time in our case as it takes time to sync files.

**Describe the solution you'd like**
So is it possible to sync env file whenever file

[2022-06-24 17:56] jmacelroy commented on #2511
@jLopezbarb is this still a bug?

[2022-06-24 18:36] jLopezbarb commented on #2511
Yes it is, but i need to investigate what was causing the error because is no longer reproducible with the example   given

[2022-06-25 22:52] shepherd1530 commented on #2826
I discovered that it's the google cloud client library that blocks python execution for so long.

[2022-06-25 22:52] #2826 closed

[2022-06-26 09:49] pchico83 commented on #2825
@alexissellier while we investigate the issue, could you check if the repo is properly deploying using:
[code]

[2022-06-26 10:31] #2298 closed

[2022-06-27 08:50] vitobotta opened #2830 "Ability to attach to tty/stdin for additional services"
**Is your feature request related to a problem? Please describe.**
In my Rails app I have one main service as well as two additional services defined in the Okteto manifest. Out of the box, when I do debugging with the main service using Pry it just works because Okteto automatically attaches to tty/stdin for the main service, so I can enter commands etc in that process during debugging.

However

[2022-06-27 10:03] teresaromero opened #2832 "Support `#inlcude <file> `at remote .stignore"
**Describe the bug**
When using the notation `#include <file>` to add more patterns to the .stignore file (for example, ignore all patterns that are covered by an existing .gitignore) we are not adding this line to the remote .stignore.

When adding this, the file itself is not present yet at the remote folder, so we get an error for sync.

**To Reproduce**
Steps to reproduce the behavior:

1. Ope

[2022-06-27 10:13] pchico83 commented on #2827
@zar3bski one option is to sync your `~/.profile` file using secrets, would that work?
https://www.okteto.com/docs/reference/manifest/#secrets-string-optional

[2022-06-27 10:16] pchico83 commented on #2823
@ujwaldhakal the first approach should sync the code in `worker` because of this line:
[code]
but you have to remove the line to disable the persistent volume. In fact, you should get an error because `services` only work with `persistentVolume` enabled.

[2022-06-27 13:07] jLopezbarb opened #2834 "Run commands in different context resource"
**Is your feature request related to a problem? Please describe.**
I want to be able to run commands on okteto deploy in different contexts and namespaces

**Describe the solution you'd like**
I want to be able to run them in a way like this:
[code]

**Describe alternatives you've considered**
Right now if I want to deploy a compose file and commands, they will run on the same namespace but it can

[2022-06-27 13:51] teresaromero commented on #2825
hi @alexissellier when specifying a path that is not existent, the dependency pipeline fallback to the `okteto.yml` at the root of the repo. Could you check that the `base` manifest path is pointing to an existent file in that branch?
I've only been able to reproduce this when the manifest field at the dependency is not a valid file. When this happens the filename field at the configmap is empty.

[2022-06-27 15:08] #2709 closed

[2022-06-27 17:22] alexissellier commented on #2825
Hi, I saw your questions and I will take some time tomorrow to test that

[2022-06-28 08:24] #2679 closed

[2022-06-28 10:26] #2636 closed

[2022-06-28 10:32] pchico83 commented on #2834
@jLopezbarb what's the use case for this? they could run `kubectl apply -n other-namespace -f k8s.yml` already, no?

[2022-06-28 10:35] pchico83 commented on #2552
Let's close this, we move `--detach` to the docker desktop extension branch

[2022-06-28 10:35] #2552 closed

[2022-06-28 12:45] jLopezbarb commented on #2834
I didn't consider that use case, what about deploying a compose file from a manifest, how can we deploy two different compose files in two different namespace with the new manifest. I think it's a weird use case, so we can close it for now

[2022-06-28 12:45] #2834 closed

[2022-06-28 17:23] ryanbas21 commented on #2715
@jmacelroy I deployed today and i have the same issue.

<img width="800" alt="Screen Shot 2022-06-28 at 11 21 49 AM" src="https://user-images.githubusercontent.com/18267769/176244554-1610fb76-c7e6-4d82-a1eb-125a5a04226f.png">
<img width="564" alt="Screen Shot 2022-06-28 at 11 22 51 AM" src="https://user-images.githubusercontent.com/18267769/176244557-153fada3-c15f-49dd-bbba-b5ed52cb89c1.png">

The

[2022-06-28 18:04] #2801 closed

[2022-06-28 21:10] jmacelroy commented on #2715
@jLopezbarb can you take a look at this one. I think in the original report there were two bugs that we fixed but either we didn't fix one of them or there's a third issue here.

[2022-06-28 23:42] jmacelroy opened #2841 "File parameter for pipeline deploy not working correctly."
**Describe the bug**
Passing the `-f` option for `okteto pipeline deploy` does not work as expected.

I have a project in my root directory and a separate project in a sub-directory. In this example the sub-directory is called `functional_testing` and is simply a copy of the project in the root directory with some slight changes to the service name and the response body of the http api. If from th

[2022-06-29 08:00] zar3bski commented on #2827
Thanks for your answer @pchico83  turned out: It's a Yarn limitation. I close the issue

[2022-06-29 08:00] #2827 closed

[2022-06-29 08:13] jLopezbarb commented on #2715
Hi @ryanbas21,
`todo-api` is not creating an endpoint because the port is no longer exposed:
<img width="455" alt="Captura de pantalla 2022-06-29 a las 10 10 40" src="https://user-images.githubusercontent.com/25170843/176386026-49861d12-0507-4901-9089-11f3fc6dbfc4.png">

If you want to make the service public you'll need to set the host on the ports like this:
[code]

[2022-06-29 11:14] pchico83 commented on #2825
@alexissellier we have identified the issue and we are working on a fix. I will update the issue when we have an ETA

[2022-06-29 11:22] jLopezbarb opened #2843 "Deploying an stack with same service modifies the existing one"
**Describe the bug**
Deploying the same compose with different name skips the creation of endpoints and deployments/sfs/jobs but modifies the current k8s service

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the following docker-compose:
[code]
2. Run `okteto deploy --name test` on the compose folder
3. Run `okteto deploy --name test-modify` on the compose folder
4. Check that there

[2022-06-29 12:11] vinodkumark369 commented on #1049
@fdelucchijr As a temporary workaround I was able to use oketeto/bin:1.2.22 with arm cluster by passing OKTETO_BIN env variable.

`OKTETO_BIN=okteto/bin:1.2.22 okteto up`

[2022-06-29 12:17] pchico83 commented on #1049
@vinodkumark369 does that mean that if we build `okteto/bin` with ARM support, `okteto up` works out of the box in ARM clusters?

[2022-06-29 12:21] vinodkumark369 commented on #1049
@pchico83 I think so, I have not tested it extensively. I used the python-getting-started changed the image (okteto/hello-world) and used it to test, command line is working fine. Need to test VS Code integration.

[2022-06-29 12:46] ifbyol opened #2846 "We are not storing the right manifest path in the configmap when the manifest is not in the root of the repo"
**Describe the bug**
If I execute `okteto deploy -f <folder/okteto.yaml>` and the specified manifest is not in the root of the repository, we are not storing the right manifest path in the internal config map. This is causing that redeploys from the UI are not working properly.

I think this was introduced when we started to execute deploy commands from the path where the manifest is defined inste

[2022-06-29 13:00] maroshii opened #2847 "Stop updating github actions for deprecated commands"
This applies to:

- Okteto Push
- Okteto Stack Deploy
- Okteto Stack Destroy
- Okteto Login
- Okteto Apply

We should:
- [ ] Remove `v2` branch
- [ ] Remove these repos from CI
- [ ] Add a deprecation notice in the repo README

[2022-06-29 13:45] ifbyol opened #2849 "We are not calculating properly the git repo and branch when the manifest specified is not in the root of the repo"
**Describe the bug**
When I execute `okteto deploy -f <whatever>` with a manifest in a different folder than the repo root, the CLI is not able to calculate properly the git repo and branch when the command is executed from the repo root.

I think it has something to do with the change we did to execute the commands of the manifest from the folder where the manifest is located instead of where the

[2022-06-29 15:28] AdrianPedriza commented on #2670
couldn't reproduce the issue.

![Captura de pantalla 2022-06-29 a las 17 26 47](https://user-images.githubusercontent.com/22500940/176475534-7696625c-cf48-4095-b65c-ff6ea35cae01.png)

@AgustinRamiroDiaz Can you still reproduce it?

[2022-06-29 15:38] jLopezbarb commented on #2778
It's also affecting all other commands that use this selector (down/doctor/exec/initv1/push/restart/status)

[2022-06-29 16:30] fdelucchijr commented on #1049
Yes, I was having problems using the 1.2.22, so I rebuild the `okteto/bin` image with `--platform=linux/arm64` tag and pushed to a private registry with the following command:
[code]
(The image I build is public, use it at your own risk as an alternative (is the same dockerfile), but if you wanna push your own just change the registry url to one where you have write access)

Everything works flawl

[2022-06-29 22:12] jmacelroy opened #2851 "Develop Code Review Guidelines"
Establish code review guidelines for the project and evangelize with regular contributors.

[2022-06-29 22:40] jmacelroy opened #2852 "Exploratory refactor of the deploy command and it's dependencies"
There are a few patterns that have made it into the codebase that make it difficult to isolate code and provide testing in an easy manner. Also, the testing for each feature or area of code doesn't follow similar patterns of dependency management, naming and organization. This increases the overhead for creating tests and maintaining them.

This issue is reserved for an exploratory effort to break

[2022-06-30 04:58] pchico83 commented on #1049
@fdelucchijr that's amazing?
Would you or @vinodkumark369 be open to send a PR to automate the ARM build? We already have an open issue for it https://github.com/okteto/bin-image/issues/3
Respect to our dev images, you can always use your own. At some point we could also automate the ARM build in this repo:
https://github.com/okteto/devenv/blob/main/docker-compose.yml

[2022-06-30 05:46] vinodkumark369 commented on #1049
@pchico83 Are you using github actions or circle-ci or both for releases?
In  `.github/workflows/release-bin.yml`, I could see the following:

[code]

I think this should take care of the automatic build on its own, provided the release is done using github actions.
If it is not making a multi-arch image, then I would suspect a custom builder is being used which has only support for linux/amd64 pl

[2022-06-30 06:47] fdelucchijr commented on #1049
@pchico83, I just check at `okteto/bin` build process ( [here](https://github.com/okteto/bin-image/blob/master/Makefile) ) , is using `okteto build` command, I've never used  that command before in the okteto cli, but as I see in the docs and -h flag, there is no `--platform` flag to build the image with a specified arch. Do you prefer to develop that flag in order to build the bin image? Or maybe

[2022-06-30 07:06] pchico83 commented on #1049
We can switch to `docker buildx` in the CircleCI configuration.

About OpenFAAS, we don't need it. At some point we should remove that image from the repo

[2022-06-30 07:28] jLopezbarb opened #2853 "Retry server errors on pipeline deploy"
**Describe the bug**
We should retry server errors (5xx) on pipeline command because they can be transient.

**Expected behavior**
It should retry the error at least one time

**Desktop (please complete the following information):**

- Version 2.4.0

[2022-06-30 07:38] ifbyol commented on #2853
Just a note. The issue that originated this ticket was for HTTP status code 5xx. (different of HTTP 200 in the graphql API with some error messages)

[2022-06-30 08:25] fdelucchijr commented on #1049
Perfect, if the okteto/devenv#94 and  okteto/bin-image#4 PR's works at CircleCI, we can say our work is done 🥂

[2022-06-30 08:49] pchico83 commented on #2716
@AdrianPedriza yes, it must have been fixed, that sample was failing before. Great!

[2022-06-30 08:49] #2716 closed

[2022-06-30 10:10] teresaromero opened #2854 "Dev Environment name uses manifest path directory instead of repository name when inferred"
**Describe the bug**
When the cwd is change to execute the deploy command at the directory where the manifest is and the manifest does not contain a name parameter, the inferred name for the development environment is the directory where the manifest is.

**To Reproduce**
Steps to reproduce the behaviour:

1. Clone the repo https://github.com/jmacelroy/go-getting-started and checkout target-exampl

[2022-06-30 10:26] pchico83 commented on #2854
@teresaromero Let's keep the folder name for now, the user can always use the `name` property to control this.
I think what's wrong in this case is:
- the value of `filename`, it should be the path respect the git root folder
- the git repo and branch is not properly computed

[2022-06-30 10:44] ifbyol opened #2855 "Define how the current working directory should be handled when the manifest is within a sub-folder"
**Is your feature request related to a problem? Please describe.**
Some time ago there was change to execute the commands defined in the Okteto manifest from the directory where the manifest is stored instead of executing it from the directory where the `okteto deploy` command is being executed.

For example, imagine I'm in a folder called `root` and I execute `okteto deploy -f subfolder/okteto.ym

[2022-06-30 11:05] ifbyol commented on #2854
Can we close it then? We can reopen it if needed after some discussion/thinking coming from this ticket: https://github.com/okteto/okteto/issues/2855

[2022-06-30 11:21] pchico83 commented on #2854
yes, let's close this one

[2022-06-30 11:21] #2854 closed

[2022-06-30 11:28] AdrianPedriza opened #2857 "update possible names a k8s manifest can have"
we should add **manifest, manifest.yml, manifest.yaml** as possible names of a k8s manifest.

[2022-06-30 12:10] ifbyol opened #2861 "I would like to have the information message with the context being used on every command executed"
**Is your feature request related to a problem? Please describe.**
Some commands like `okteto deploy` are printing an information message indicating the Okteto context that is being used. I find it very useful but I realize that other commands like `okteto pipeline deploy` aren't printing that message. I would like that all commands print the context being used.

<img width="529" alt="Captura de P

[2022-06-30 12:52] pchico83 commented on #2849
We should check if the folder is a subfolder of a git repo. For example, running `okteto deploy` from a subfolder should also compute the git URL and branch properly

[2022-06-30 13:29] AdrianPedriza commented on #2663
If we run `okteto deploy` **from the CLI** instead of responding with a panic we now return: **Error executing command 'helm upgrade --install movies chart --set tag=${OKTETO_GIT_COMMIT}': exit status 1**

<img width="932" alt="Captura de pantalla 2022-06-30 a las 15 27 45" src="https://user-images.githubusercontent.com/22500940/176689197-322fcbfe-8704-4f83-b6b6-f1f197f520dd.png">

@ifbyol I guess

[2022-06-30 14:21] ifbyol commented on #2663
The panic is thrown by `helm` command when executing the upgrade, not the `okteto deploy`

We want the helm error as is the one which contain the information about the real error. It is hard to debug the real issue if we only have this `Error: an error on the server ("") has prevented the request from succeeding (post deployments.apps)`

[2022-06-30 18:47] maroshii opened #2867 "Release Notes bad formatting"
The release notes added to the github release are escaped and markdown is not interpreted correctly.

[2022-06-30 19:52] jLopezbarb opened #2868 "okteto deploy inside container ask you to add `--token` flag but it can't be added"
**Describe the bug**
If you run okteto up and inside the container you run an okteto deploy command. The command will fail with the following error:
<img width="893" alt="Captura de pantalla 2022-06-30 a las 21 45 30" src="https://user-images.githubusercontent.com/25170843/176764361-4888803f-23a0-4481-846a-071ecb5eeb35.png">

But when adding the flag to the command it will fail with  `x  Unknown f

[2022-06-30 21:58] jmacelroy opened #2869 "Spec and Test Plan for Manifest Discovery"
The manifest discovery process has become more complicated with multiple manifest types, pipeline deploys, local deploys. We should take account and specify what the desired user experience is, follow up with a test plan, and implement the spec and test plan if there's any key differences in implementation.

- [ ] Specification
    - [x] User Experience
    - [ ] Technical
- [ ] Test Plan
- [ ] Va

[2022-06-30 21:58] jmacelroy commented on #2869
A related issue is #2855 which will most likely be completed by this.

[2022-06-30 22:01] jmacelroy opened #2870 "Spec and Validation of Manifest Parsing"
The manifest parsing process has become more complicated with multiple manifest types and versions. We should take account and specify what the desired user experience is, follow up with a test plan, and implement the spec and test plan if there's any key differences in implementation.

- [x] Specification
    - [x] User Experience
    - [ ] Technical
- [ ] Test Plan
- [ ] Validation and Implement

[2022-06-30 22:46] jmacelroy opened #2871 "Contributor Docs and Tooling Improvements"
- [x] #2985
- [ ] Audit testing tools and make them as easy to run as reasonably possible for all contributors
- [x] Highlight the proper use of PR labels.

The idea is to make it as easy as possible to test your changes and label their impact. The PR labels will need to be reviewed as part of the PR.

[2022-06-30 23:00] jmacelroy opened #2872 "Audit Circle CI and Github Actions for the Project"
We are using a lot of linters, test runners and bots that may or may not be providing value. We need to audit and decide what we want to keep, what should be reconfigured and what should be removed.

[2022-07-01 04:37] rberrelleza opened #2873 "I can't cancel `okteto destroy`"
**Describe the bug**
`okteto destroy` won't stop if I press CTRL+C

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy a docker-compose
2. run `okteto destroy`
3. press `ctrl+c`

**Expected behavior**
I expect the command to stop. Instead, it continues until it's finalized.

**Desktop (please complete the following information):**

- OS: macOS
- Version 2.4.1

[2022-07-01 04:51] rberrelleza opened #2874 "okteto up doesn't consider the context of the image when building the path to the Dockerfile"
**Describe the bug**
If I have an image defined like this on the manifest:
[code]

`okteto build web-dev` will work correctly . `okteto up web`, on the other hand` will fail to build the image with this error:

[code]

[2022-07-01 07:55] jLopezbarb opened #2876 "Fail with a clearer error when docker compose doesn't have dev section"
**Describe the bug**
If I run okteto up on a repo with a docker compose and the inferred okteto manifest (docker-compose is transformed into a okteto manifest) doesn't have any dev section (only services with local volumes are transformed into devs) we fail with an unclear error

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the following docker-compose
[code]
2. Run `okteto deploy`
3

[2022-07-01 08:09] jLopezbarb opened #2877 "endpoints from the manifest missing name"
**Describe the bug**
If I have an `okteto.yml` like the following one and I run okteto deploy with it will fail because the endpoint doesn't have any name:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the okteto manifest above
2. Copy the following `docker-compose`:
[code]
3. Run `okteto deploy`
4. See error

**Expected behavior**
It should create the endpoints correctly

**D

[2022-07-01 08:09] jeremyphua commented on #2857
Hello! Is it alright if i take a look at this issue?

To update the possible names, the change would be to add **manifest, manifest.yml, manifest.yaml** to the **manifestSubPath** slice in `pkg/model/manifest.go`.

[2022-07-01 09:00] jLopezbarb commented on #2857
Yes @jeremyphua, feel free to work on this feature.

Yes, that should fix the issue

[2022-07-01 11:10] pchico83 commented on #1049
I am reopening the issue, working on a PR to support ARM clusters.
@fdelucchijr and @vinodkumark369 thanks for helping with this!

[2022-07-01 11:19] pchico83 commented on #1049
@fdelucchijr @vinodkumark369 I don't have an easy way to test if it works, but this PR should bring support to ARM clusters.

[2022-07-01 14:24] pchico83 commented on #2877
Closing, duplicated of https://github.com/okteto/okteto/issues/2659, which is already scheduled for 2.5.0

[2022-07-04 07:21] pchico83 commented on #2855
When running `okteto deploy` there are two options:
a) the current working directory doesn't belong to a git repo. We can check this by checking if the current working directory or any of its parents has a `.git` folder on it
b) the current working directory belongs to a git repo

For a) we shouldn't store any of the following fields: `filename`, `branch` and `repoURL`.  These fields are for the O

[2022-07-04 07:29] ifbyol commented on #2855
@pchico83 Yes, we can store the folder. In fact, we were storing the folder but with the changes to use current working directory we don't store folders anymore.

If the user specifies a folder with the `-f` flag, I think we should store that

[2022-07-04 07:41] pchico83 commented on #2855
@ifbyol in that case, when using the automatic pipeline, we should store the current working directory as the `filename` no? Specially if it's different than the root folder. Otherwise, the automatic pipeline will be broken when redeploying from the UI

[2022-07-04 07:53] dkrystki commented on #2696
Not sure if it's relevant to this but for me okteto was causing reboots after calling `okteto down` right after quitting okteto shell (in my utililty script).
I fixed it by adding 2s sleep before calling `okteto down`

[2022-07-04 07:55] ifbyol commented on #2855
@pchico83  In that case, I think current working directory should be the same than the specified folder with `-f` (being relative to the git repo). I cannot think in a case in which they would be different.

If the filename/folder specified with `-f` don't exist, I think we should behave in the same way in both cases (directly fail or fallback to autodiscoverability in the root folder of the repo)

[2022-07-04 07:56] ifbyol commented on #2855
@pchico83 Also, one scenario to bear in mind, maybe a corner case but we have to think at least if we want to support it or not. A git repo within another repo, I guess we should store the first git repo we find?

[2022-07-04 08:06] teresaromero commented on #2609
Found an error, when there is no deploy section and autocreate is true the cmd is not autocreating the app.

[2022-07-04 08:07] pchico83 commented on #2855
@ifbyol yes, let's store the first parent. I think it's a corner case, I would go with simplicity for now

[2022-07-04 08:31] jLopezbarb commented on #2696
@dkrystki Could you post your reproduction steps/OS Information?
We have been trying to reproduce the issue for a while with no luck so far.

[2022-07-04 09:22] teresaromero opened #2884 "Support for `okteto build` to enforce custom order when building multiple images"
**Is your feature request related to a problem? Please describe.**
When building images from an okteto manifest, we rely on the sequential order of the map of services. From this point of view, if an image depends on other, the user can't customise the order of the builds, so some builds might fail.

**Describe the solution you'd like**
Implement a new property under the build manifest, so when us

[2022-07-04 09:36] ifbyol opened #2885 "Application endpoints are not displayed anymore when `okteto deploy` is executed"
**Describe the bug**
When `okteto deploy` was being executed locally (not within a pipeline), we were displaying the endpoints of the applications at the end of the operation.

At some point, this stopped working and checking the output when executing the command with `-l=debug`, you can see
[code]

The issue is that we are not specifying the right namespace [when creating the options to show the

[2022-07-04 09:37] ifbyol commented on #2885
@jmacelroy This one should be easy and we might want to include it in `2.5`. Our getting started guides mention that output

[2022-07-04 09:41] jLopezbarb commented on #2885
+1 to include them on `2.5`

[2022-07-04 10:05] ifbyol opened #2886 "Handle `namespace` flag in the same way for all the commands that allow it"
**Is your feature request related to a problem? Please describe.**
Several commands support the namespace flag and also the ability to specify the namespace through the manifest and we have different behaviors depending on the command.

For example, using the repository https://github.com/jmacelroy/go-getting-started.git, if I include a `namespace` property in the `okteto.yml` with the namespace `

[2022-07-04 10:28] ahmadgTalon commented on #2884
solution suggestion: support the depends_on functionality in the build section in
the manifest.
with the ability to export the docker image name to a variable
so it can be used in building other images

[2022-07-04 10:54] #2609 closed

[2022-07-04 11:07] pchico83 opened #2887 "Remove "okteto push" from automatic pipeline"
**Describe the bug**
If I run `okteto deploy` [on this repo](https://github.com/okteto/python-flask-cockroachdb) it should say there isn't a deploy option defined. Instead, it's building and deploying base on `okteto push`, which is now deprecated.

[2022-07-04 12:21] ifbyol opened #2888 "`okteto up` doesn't work properly when the service name contains `_` and the deploy replaced that char by `-`"
**Describe the bug**
If I have a service in a docker compose which contains a `_` and I deploy it, I get a warning saying that is being sanitized:

[code]

But then, if my okteto manifest references that service using `_` too, when I execute `okteto up <service_name>` it fails with:

[code]

The deployment it tries to set as dev is called `functional-test`.

If Okteto automatically translate the s

[2022-07-04 12:23] jLopezbarb opened #2889 "Can't connect to dev environment if image doesn't have `sh`"
**Describe the bug**
If I try to connect to a dev environment where my image doesn't have `sh`, Okteto will fail with an OCI runtime error saying that sh is not found even if I don't specify to run that command

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the following `Dockerfile`:
[code]
2. Run `okteto build -f Dockerfile -t okteto.dev/scratch:latest`
3. Create the following `okte

[2022-07-04 12:26] pchico83 commented on #2889
@jLopezbarb we can capture the error and show something more human-friendly, but our default command is `sh`. If you want to use an image without `sh`, you should configure your own `command` in the okteto manifest

[2022-07-04 12:30] jLopezbarb commented on #2889
The container that fails is the init-container named `okteto-init-volume`.
[Here we add the sh to the command that makes it fail](https://github.com/okteto/okteto/blob/master/pkg/k8s/apps/translate.go#L540). So even if he changes the command on the `okteto.yml` it'll result in a failure

[2022-07-05 02:33] Bandy2020 opened #2890 "good container"
This is good project for app development

[2022-07-05 05:05] pchico83 commented on #2889
@jLopezbarb oh right. we can inject a portable binary there, although I don't think this is a priority at the moment

[2022-07-05 05:06] #1049 closed

[2022-07-05 06:17] teresaromero commented on #2129
@jmacelroy should we reopen this?

[2022-07-05 09:45] dkrystki commented on #2696
uname output: Linux q 5.15.0-39-generic 42-Ubuntu SMP Thu Jun 9 23:42:32 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
Ubuntu 22.04 LTS

sourcing the following file in bash shell reproduces it for me

[code]

[2022-07-05 10:09] teresaromero commented on #2626
@rberrelleza can't reproduce at 2.4.1.
tested with latest movies repo, changing the context of frontend to a non existent folder

shall we close as resolved?

@pchico83  i've seen that when multiple images are built the contexts are not checked before starting, so the process could build n images and fail when it gets to the invalid context. shall we optimise this by checking the contexts prior to

[2022-07-05 10:21] pchico83 commented on #2626
@teresaromero yes, all the validation should happen before starting any build or deploy command

[2022-07-05 21:19] jmacelroy commented on #2885
I added it to 2.5 as a low priority. It would be higher in priority if the endpoints weren't available in the UI. @ifbyol are the endpoints still available in the UI?

[2022-07-05 21:23] rberrelleza commented on #1049
@pchico83 does this mean that okteto now works on arm clusters?

[2022-07-05 21:36] pchico83 commented on #1049
@rberrelleza yes!

[2022-07-05 21:40] rberrelleza commented on #1049
🥳 🥳 🥳 🥳 🥳 🥳 🥳 🥳

[2022-07-05 22:10] jmacelroy commented on #2868
What's the common use case for doing this?

[2022-07-05 22:13] jmacelroy commented on #2857
I've assigned this issue to you. @jeremyphua to indicate you've got a fix in PR and that you requested to work on the issue. @jLopezbarb will help with getting it merged and in a release. @jLopezbarb I went ahead and put it as a candidate for 2.5, let me know if we need to change that.

[2022-07-05 22:27] jmacelroy commented on #2843
@jLopezbarb I don't follow. I would expect it to redeploy everything with a new name.

[2022-07-06 04:36] pchico83 commented on #2868
I guess running inside an online IDE, like GitHub Codespaces or Gitpod

[2022-07-06 07:07] ifbyol commented on #2885
@jmacelroy yes, endpoints are still available in the UI, but only if you deploy the services in an Okteto cluster. For vanilla clusters, which was one of the motivations of implementing `okteto deploy` command, users don't have information about the generated endpoints

[2022-07-06 07:20] #2857 closed, assigned to jLopezbarb, jeremyphua

[2022-07-06 07:55] jLopezbarb commented on #2843
we treat each deploy as if they were different because they have different names. On the other hand, if there is a collision in the deployment/statefulset/jobs we return an error to let the user know that there is already another compose deployed.

[2022-07-06 08:55] AdrianPedriza commented on #2663
After investigating the causes of this issue we came to the conclusion that we do not get the same output since our proxy previously detects the expected error in this [line](https://github.com/okteto/okteto/blob/master/cmd/deploy/proxy.go#L342) which means that the request is not forwarded to the cluster (with the added label) and as a consequence we never get the expected error.

If we want to g

[2022-07-06 09:10] #2596 closed

[2022-07-06 09:36] pchico83 commented on #2663
+1 for @ifbyol approach

[2022-07-06 10:08] ifbyol opened #2896 "Consider kubernetes resources version when doing unmarshall operations in the proxy"
**Is your feature request related to a problem? Please describe.**
To include the `dev.okteto.com/deployed-by` label in all the resources when they are created with the `okteto deploy` command, we process the resources being modified in the request and we unmarshall the spec field of the resource.

The problem is that the spec field is associated to a specific version of the resource, so it could

[2022-07-06 11:38] #2789 closed

[2022-07-06 12:41] #2846 closed

[2022-07-07 05:46] teresaromero opened #2903 "Underscore not sanitized when okteto up with -f and autocreate"
**Describe the bug**
When having a service and folder with underscore, these underscores are sanitized but when running okteto up is failing

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Clone https://github.com/jmacelroy/go-getting-started/tree/target-example
2. add autocreate property true to the okteto manifest at functional_test
3. run okteto up -f functional_test/okteto.yaml

[2022-07-07 06:28] ifbyol commented on #2903
Duplicated of https://github.com/okteto/okteto/issues/2888

[2022-07-07 06:28] #2903 closed

[2022-07-07 07:54] ifbyol commented on #2896
@jmacelroy It is not an issue now, it will be in the future with new versions of kubernetes with new spec changes.

Not sure how we could detect it. As this is in the interaction between the CLI and the Kubernetes server (not Okteto server),  we would detect during tests with new k8s versions. I guess that if a new V2 of, let say, deployments is released, we will have to modify several places in t

[2022-07-07 12:40] #2885 closed

[2022-07-07 16:53] pchico83 opened #2908 "Support string syntax for `cache_from`"
**Is your feature request related to a problem? Please describe.**
We do support this syntax for the `build` section:

[code]

but should also support a single string syntax like this:
[code]

which is more user friendly and covers 95% of the use cases

[2022-07-08 03:14] BlackPanther-svg opened #2909 "💗Queen Ashiya🧚"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-08 19:11] ahkui opened #2912 "Okteto down --file my_file.yml is not working"
okteto version 2.4.1
macOS version 12.2.1

[2022-07-08 22:32] jmacelroy opened #2913 "Running okteto up as initial deploy results in no logs present in the UI until clicking away"
**Describe the bug**
When the initial deployment of dev environment is triggered by running `okteto up` rather than `okteto deploy` there are no logs  immediately available in the UI. Logs are only available after clicking away from the application and coming back to it. In my case I clicked to view the yaml section and then back to the logs at which point they were all present.

**To Reproduce**

[2022-07-09 15:56] Diamantino-Op opened #2914 "failed to solve: content digest... Error"
I get this error when trying to build my image: https://github.com/Diamantino-Op/OWS
<img width="1273" alt="image" src="https://user-images.githubusercontent.com/59661806/178112988-57de2283-e4dc-45dc-8869-3ab10e15467d.png">
but i don't get it if i build this in Docker Desktop.
This error happens only in these 4 steps: setup, elasticsearch, logstash and kibana, and all of them have the same file no

[2022-07-11 07:47] ifbyol commented on #2913
It might happen that the logs are stored just when the deploy has finished and the UI didn't subscribed properly to SSE events for logs as it is in the background

[2022-07-11 08:23] teresaromero commented on #2659
@pchico83 after a while trying to reproduce this issue i can't seem to make it work with the information described.

i'm working with movies-with-compose repo, creating an okteto.yaml like so:

[code]

and the compose does not have any endpoints declared. In this case the endpoints are deployed correctly, the only issue i get is when i do not add the endpoints under `endpoints.movies` in which cas

[2022-07-11 08:30] jLopezbarb commented on #2659
I think there are 4 scenarios that we have to bear in mind when creating endpoints from okteto manifest:
- compose with endpoints and okteto manifest with endpoints: I think we should merge the endpoints (if possible) or fail if the key of the endpoints are the same.
- compose without endpoints and okteto manifest with endpoints: We add the endpoints to the stack and deploy as usual
- No compose (

[2022-07-11 13:59] AgustinRamiroDiaz commented on #2820
@jLopezbarb maybe it's related to this issue https://github.com/okteto/okteto/issues/2592

Seems like it's trying to run from bash inside wsl, that's why the message is `/bin/bash: C:UsersjavifReposoktetobinokteto.exe: command not found` (in windows `bin/bash` should throw a different error since it shouldn't exist) and that could be the reason for the exclusion of the `\`

[2022-07-11 14:34] jmacelroy commented on #2841
fixed with #2846

[2022-07-11 14:50] teresaromero commented on #2825
@alexissellier we released a fix at Cloud and 2.4.2 CLI version. Please update your CLI and check with Cloud if this is still happening. Thnks

[2022-07-11 20:56] jmacelroy commented on #2600
I've not seen evidence of this since April and it is likely fixed.

[2022-07-11 20:56] #2600 closed

[2022-07-11 21:13] jmacelroy commented on #2914
@Diamantino-Op What command are you running? Either you've fixed the issue or I'm having a different experience. I ran `okteto build` and all images were built correctly.

When trying to deploy I did hit another issue around what I think is around two services mounting the same volume. We can work on deploy though after we get past the build.

[2022-07-11 21:34] Diamantino-Op commented on #2914
I did okteto up

[2022-07-11 22:21] Diamantino-Op commented on #2914
i just tried okteto build, and it fails for me

[2022-07-12 03:23] VictorOfical opened #2917 "new"

[2022-07-12 09:49] jLopezbarb commented on #2917
It seems this issue is missing content. Please update with content if you have an issue.

[2022-07-12 09:49] #2917 closed

[2022-07-12 09:57] pchico83 commented on #2659
Agree with 1, 2 and 3. In 4, we should just create the endpoints.
@teresaromero what's the current state of these 4 cases?

[2022-07-12 10:07] teresaromero commented on #2659
1 - we override the compose ones and deploy them during stack deployment
2 - we add them to the compose and deploy them during stack deployment
3 - nothing is deployed (new feature)
4 - nothing is done, we see a message regarding the context and that the images where already build, cli exists without informing that there is no deploy command at the manifest

I've opened PR and added some scenarios

[2022-07-12 10:09] pchico83 commented on #2659
is your comment about the current behavior? or about what's implemented in your PR?

[2022-07-12 10:10] teresaromero commented on #2659
this is current (before PR)

[2022-07-12 10:21] AdrianPedriza commented on #2670
@okteto/cli  WDYT about a new message in these cases?

[2022-07-12 13:49] #2788 closed

[2022-07-12 13:58] jLopezbarb opened #2920 "Validate if build section has image on vanilla clusters"
**Describe the bug**
On vanilla clusters we can't infer the name of the images built. If the manifest validation detects that the user is running an okteto command inside a vanilla cluster with a build without image name we should guide the user to update their manifest.

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the following `okteto manifest`
[code]
2. Run okteto up on a vanilla

[2022-07-12 14:02] jLopezbarb opened #2921 "Support building on different platform"
**Is your feature request related to a problem? Please describe.**
I want to set the platform that my images should be built. It's common that the architecture from local is different to the one that is on the cluster so setting it can be useful on some scenarios

**Describe the solution you'd like**
I'd like to have a flag on the build command and be able to set it on the context config file so a

[2022-07-12 15:32] jLopezbarb commented on #2912
Hi @ahkui,
 I have tried with no luck. Can you provide more information about the issue you are facing? Like the type of manifest is `my_file.yml`(docker-compose,okteto manifest, okteto pipeline) and an error screenshoot or the error message that you are facing

[2022-07-12 16:09] Diamantino-Op commented on #2914
The build worked now, and i didn't change anything...

[2022-07-13 09:23] jLopezbarb commented on #2670
@AdrianPedriza can you try running again the same command, adding the flag `--log-level=debug`?
If there is no log or the log is not clear enough, we should write a better message for debugging

[2022-07-13 10:17] AgustinRamiroDiaz commented on #2670
Agree. A log at the debug level sounds great!

[2022-07-13 10:34] #2645 closed

[2022-07-13 10:34] #2516 closed

[2022-07-13 10:34] #2135 closed

[2022-07-13 10:44] teresaromero opened #2924 "Not successfull login displays "successful" page at the browser"
**Describe the bug**
When login into Okteto through the CLI we get the successful page at the browser when having a general error.

**To Reproduce**
Steps to reproduce the behavior:

1. `okteto context use <url>` and force any error to happen

**Expected behavior**
A html page with a clear information of the error. We need the copy for this errors, and implement any extra variable we need to add f

[2022-07-13 11:02] teresaromero opened #2925 "check if okteto manifest works with multi-line ENV vars when expanding"
**Describe the bug**
This issue is to check and fix if the okteto manifest does parse correctly the ENVs that are multine. We had to implement special parser for the stack. As this goes in different flows, we need to check

**To Reproduce**
Steps to reproduce the behavior:

1. Declare multi-line ENV at your environment
2. add this reference into the okteto manifest as part of args or environment k

[2022-07-14 07:15] akalitenya commented on #2823
@pchico83 , why is this not documented in the newer docs (0.11 - 0.13)?

[2022-07-14 07:38] pchico83 commented on #2823
@akalitenya I will add it back. We wanted to have a better UX for this case, but it's taking long and we should document `services` until we implement `attachTo`:
https://github.com/okteto/okteto/issues/2211

[2022-07-14 09:18] #2728 closed

[2022-07-14 09:52] #2851 closed

[2022-07-14 10:16] #2693 closed

[2022-07-14 11:31] teresaromero opened #2926 "GraphQL client not parsing Metadata from errors"
**Is your feature request related to a problem? Please describe.**
When implementing a new API Error which is thrown with Metadata using GraphQL Extensions, the CLI is not capable to get this Metadata

**Describe the solution you'd like**
CLI is able to interpret a GraphQL Error with Metadata

Found while implementing https://github.com/okteto/okteto/pull/2923

[2022-07-14 11:40] ifbyol commented on #2926
This is due to the library we use for doing graphql requests. When there is an error in the request, they are just getting the `Message` and the `Localtions`.

We might need to check if there is a newer version of the library which supports it or we might need to use another library.

This only affects when using GraphQL Extensions as Tere mentioned

[2022-07-14 12:10] AgustinRamiroDiaz opened #2928 "Better test coverage in auth flow"
I think Auth flow test coverage should be very high, and I've seen some important functions that don't have tests associated.

**Additional context**
It has come to my attention when reading [this pr](https://github.com/okteto/okteto/pull/2923)

[2022-07-14 13:17] #2767 closed

[2022-07-14 13:36] AdrianPedriza commented on #2670
@AgustinRamiroDiaz we have logs that can give more information about the reason. (502 status code). It is OK for you?

![Captura de pantalla 2022-07-14 a las 14 40 28](https://user-images.githubusercontent.com/22500940/178994507-4e00e529-2262-4eea-933b-74b87ae2958e.png)

[2022-07-14 13:44] pchico83 opened #2929 "I cannot cancel `okteto deploy --build` in the middle of building images"
**Describe the bug**
`CRTL + C` doesn't do anything in the middle of the build process

**To Reproduce**

1. Clone http://github.com/okteto/compose-getting-started
2. Run `okteto deploy --build`
3. Execute `CRTL + C` in the middle of the process
4. Nothing happens

**Expected behavior**
The command execution should be cancelled when pressing `CRTL + C`

[2022-07-14 14:33] AgustinRamiroDiaz commented on #2670
Great! That's enough to debug the issue 👍

[2022-07-14 14:33] #2670 closed, assigned to AdrianPedriza

[2022-07-15 07:52] jLopezbarb opened #2931 "Spinner not working properly with log level debug"
**Describe the bug**
We have several race conditions with the spinner trying to write to stdout while the logger is also writing to stdout. It results in this weird behavior:
<img width="684" alt="Captura de pantalla 2022-07-15 a las 9 29 34" src="https://user-images.githubusercontent.com/25170843/179174347-30a8482f-f7d4-42c0-b3e0-a5d7f3bdd029.png">

**To Reproduce**
Steps to reproduce the behavio

[2022-07-15 09:30] mnevadom opened #2932 "Running context git action WITH token inside a container shows error asking for --token flag"
Im running a context git action inside a container.

With --token and use URL.
Which is giving me this error:
 x  This command is not supported without the ‘--token’ flag from inside a container

When running this:
running: okteto context use --token=token https://okteto.t28feb1.dev.okteto.net/

It seems like is forcing me to export the OKTETO_TOKEN env. When I do that, it works perfectly.

When I

[2022-07-15 11:01] jLopezbarb opened #2933 "Destroy all resources on namespace"
**Is your feature request related to a problem? Please describe.**
You can destroy all resources from the UI but there is no way of doing it through the CLI.

**Describe the solution you'd like**
I'd like to be able to execute `okteto destroy --all` to destroy all the resources on my namespace without having to change my kubeconfig context and then running `kubectl delete all --all`. `okteto destr

[2022-07-15 11:23] jLopezbarb commented on #2507
Certificates expire on `31 Dec 2049`. Could we create them programmatically instead of having to check the expiration date every now and then?

[2022-07-15 11:25] jLopezbarb commented on #2598
@rberrelleza @AdrianPedriza Any update on this? If it's not reproducible anymore we can close it and reopen it when we have clear reproduction steps

[2022-07-15 13:50] AdrianPedriza commented on #2598
I couldn't reproduce it using https://github.com/okteto/microservices-demo-compose

[2022-07-16 00:39] pchico83 opened #2934 "No output for `okteto build XXX` if `XXX` doesn't exist in the okteto manifest"
**Describe the bug**
When building something not defined in the okteto manifest, `okteto build` doesn't return an error.

**To Reproduce**

1. Clone https://github.com/okteto/microservices-demo
2. Run `okteto build bad-image`
3. Nothing happens

**Expected behavior**
A clear error is shown `'bad-image isn't defined in the build section of your okteto manifest

[2022-07-17 10:32] pchico83 commented on #2214
@jLopezbarb I found a way to repro this, maybe there are other reasons too.
If the init container fills the volume with the original content of the image, `okteto up` fails with this error

[2022-07-17 19:51] ufukbakan opened #2935 "Request: Implement networks or network_mode"
I can not deploy a server-client application where server and client are seperate node.js containers. I use docker compose.
Also Im not sure is container_name field working correctly or not.
[code]

[2022-07-17 23:18] ajrpayne opened #2936 "okteto up does not understand docker-compose env_file list"
In docker-compose.yml

[code]

In .env

[code]

In ./web-vars.env

[code]

In ./web-vars2.env

[code]

docker-compose -f docker-compose.yml config

[code]

okteto up
 x  Open {WEB_VARS2}=: no such file or directory

[2022-07-18 12:04] #2768 closed

[2022-07-19 07:51] jLopezbarb commented on #2890
It seems this issue is missing content. Please update with content if you have an issue.

[2022-07-19 14:37] #2598 closed

[2022-07-19 14:39] #2912 closed

[2022-07-20 08:44] AdrianPedriza commented on #2744
@AgustinRamiroDiaz I have not been able to reproduce any of the scenarios, I have the expected behavior. If you still have the problem ping me, maybe I'm not playing it correctly.

[2022-07-20 09:50] AdrianPedriza opened #2945 "wrong message when dev environment is deployed"
**Describe the bug**
When I run  okteto up frontend using microservices-demo-compose, a message is displayed saying 'Development environment 'movies-with-compose' already deployed.' Instead of referring development environment to frontend or "app 'movies-with-compose' already deployed."
**To Reproduce**
Steps to reproduce the behavior:

1. Clone https://github.com/okteto/movies-with-compose
2. `ok

[2022-07-20 09:52] jLopezbarb opened #2946 "Okteto down selector should only show activated dev environment."
**Describe the bug**
If I have 10 dev environments and I'm currently with two of them in development mode (two services `okteto up`) I'd expect that `okteto down` selector only shows the dev environments that are now on development mode and hide the other ones

**To Reproduce**
Steps to reproduce the behavior:

1. Create the following `docker-compose.yml`
[code]
2. Run `okteto up svc1`
3. Run `okt

[2022-07-20 10:12] jLopezbarb opened #2947 "init creates the wrong build context and docker file path"
**Describe the bug**
`okteto init` creates the build section wrong. It creates:
[code]
instead of:
[code]
**To Reproduce**
Steps to reproduce the behavior:

1. Clone [movies-with-helm](https://github.com/okteto/movies-with-helm)
2. Run `cd movies-with-helm`
3. Run `okteto init`
4. See that okteto.yml has been generated wrong

**Expected behavior**
I'd expect that the generated manifest was created

[2022-07-20 10:24] pchico83 commented on #2945
@AdrianPedriza this is expected. the development environment matches the repo, the development container would be `frontend`

[2022-07-20 10:25] pchico83 commented on #2947
Let's low prioritize this for now, we need to rethink how we do `okteto init`

[2022-07-20 10:30] #2945 closed

[2022-07-20 11:32] AgustinRamiroDiaz commented on #2744
I cannot reproduce anymore. Thanks for trying! I wonder what change fixed this 🤔

[2022-07-20 11:32] #2744 closed, assigned to AdrianPedriza

[2022-07-20 12:06] blakkkky12 opened #2951 "ffffffffff"
fffffffff

[2022-07-20 16:38] jLopezbarb commented on #2855
I think this issue would be solved by deprecating the use of `os.Chdir()` and `os.Getwd()`, by making the code not rely on it to parse the files/discover where the `.git` file is. The following two comments describe the proposed solution for each problem.

[2022-07-20 16:39] jLopezbarb commented on #2855
The first problem is the change of the working directory to parse the files with the relative paths, this can produce problems when generating absolute paths in other parts of the code rather than the parsing, I think the best thing is to create a new data structure that collects the relative path that the user has defined on the manifest and an absolute one (given by the user or calculated by us

[2022-07-20 16:39] jLopezbarb commented on #2855
The second problem is figuring out which `.git` to use and how to reference the filename in the UI for its possible redeployment. We should only store the filename if the user provides it, or if the path where the `.git` file is different to the one that the command is executed. In this second case, I think it is best to explain each of the use cases and how it should behave:

1. `.git` on the sam

[2022-07-21 07:06] pchico83 commented on #2855
@jLopezbarb for `.git` problem we should get the first parent `.git` folder of the okteto manifest file.
If there isn't a `.git` folder, don't store either the repo URL or `filename` (this info is needed to redeploy a git repo from the UI. if it's not a git repo, we don't need it). Otherwise:
- Use that `.git` folder to get the repo URL
- if `-f` is passed as an argument, store the relative path v

[2022-07-21 18:32] alexissellier commented on #2825
Apologies for the delay. I've tested it and it works fine with version 2.4.2.

[2022-07-21 18:32] #2825 closed

[2022-07-24 14:45] RinkiyaKeDad opened #2957 "ability to add or delete contexts for vanilla kubernetes clusters using `okteto ctx` subcommands"
**Is your feature request related to a problem? Please describe.**
Currently `okteto ctx use` and `okteto ctx delete` don't work for vanilla k8s clusters.

**Describe the solution you'd like**
To be able to add or delete vanilla clusters using the same `okteto ctx` commands which work for clusters with Okteto installed. Or at least we should have the CLI tell us that vanilla contexts are managed t

[2022-07-26 17:51] #2874 closed

[2022-07-26 23:01] jmacelroy commented on #2626
@teresaromero if you can't reproduce on later releases then let's close. Can you please open a new issue for the validation optimization and put the info you have on it there?

[2022-07-27 07:28] pchico83 opened #2963 "Show a warning if a okteto secret is ignored because it's already defined in the local environment"
**Is your feature request related to a problem? Please describe.**
I am debugging my app and the problem was that I have an okteto secret redefined in local environment.
It was very hard to understand what was going on.

**Describe the solution you'd like**
Prioritizing local env versus okteto secrets is very convenient in many cases, but we should show a clear warning if an okteto secret is ignor

[2022-07-27 12:52] teresaromero opened #2964 "Optimize build process when context for images do not exist"
**Is your feature request related to a problem? Please describe.**
While debugging https://github.com/okteto/okteto/issues/2626#issuecomment-1174879585 found that, if the context of some of the images declared to be built at the okteto manifest do not exist, this will fail when it gets to that image.

**Describe the solution you'd like**
We should check it the context of all images to be built, ar

[2022-07-27 12:53] teresaromero commented on #2626
Added this ^^ @jmacelroy

[2022-07-27 14:50] AgustinRamiroDiaz opened #2966 "Upgrade buildkit version to `v0.10.3-okteto1`"
**Is your feature request related to a problem? Please describe.**
We already have the new version working in cloud

**Describe the solution you'd like**
We should resolve all the package conflicts and test that the client is working correctly

**Additional context**
https://github.com/okteto/buildkit/releases/tag/v0.10.3-okteto1
[PR](https://github.com/okteto/okteto/pull/2987)

[2022-07-27 17:22] AgustinRamiroDiaz opened #2967 "Possible bug caught by golangci-lint"
In the file [pkg/model/volumes.go](https://github.com/okteto/okteto/pull/2952/files#diff-f07c4ae0ba01563473de575ae41c2a4bd47b09d98b129f456cd0a2d870cdd167), in the funciton `getSourceSubPath` there's a branch that asigns the `path` variable and that's not used.

The function has unit tests, which could be 2 things:
- tests are ok and test the desired behavior => branch should be removed
- tests mis

[2022-07-28 08:12] ifbyol opened #2968 "`okteto destroy` stops working when the dev environment doesn't have any okteto manifest or docker-compose"
**Describe the bug**
If I have a dev environment that doesn't have an okteto manifest or docker-compose (for example, containing a k8s manifest) and I execute an `okteto destroy`, it fails with the error:

[code]

It also fails if I specify the name of the dev environment that has to be deleted. I checked and this error wasn't happening in `2.4.x` release.

The dev environment is deployed successf

[2022-07-28 08:24] ifbyol commented on #2968
It is also happening for `okteto up`. With `2.4.x` version, when you execute an `okteto up` in that repo you get

[code]

With `2.5.0` and `2.5.1` you get the same error:

[code]

[2022-07-28 10:29] AgustinRamiroDiaz commented on #2129
@teresaromero do you have more context on this? I'm upgrading som packages in the cli and wouldn't like to break anything

[2022-07-28 10:31] teresaromero commented on #2129
when updating and `okteto build` i think it was, any command instanciating buildkit client, you got the error

[2022-07-28 16:26] ifbyol opened #2970 "In some cases, the okteto deploy command got stuck after the log `forwarding host:`"
**Describe the bug**
A customer has reported that an `okteto up` execution was stuck deploying the service after seeing the log `forwarding host: ...`.

After researching the issue, I checking the code between the last log we were seeing and the first missing log and I discovered that in some cases, we are getting some information (branch and commit) regarding git from the local folder https://git

[2022-07-29 10:12] ro0NL commented on #2696
meanwhile i've also bumped hardware / upgraded to ubuntu 22.04, but the issue remains on latest okteto version.

It got worse in the sense after invoking `down` i just get a black terminal screen, and i need to physically hold the power button to trigger reboot.

The logs are the same:

[code]

[2022-07-29 11:07] #2968 closed

[2022-07-29 13:16] ifbyol opened #2973 "Flaky integration tests"
**Describe the bug**
Currently, integration tests are flaky and they fail from time to time. Usually, retrying them once make them pass. This is frustrating because when you merge something and see the result you don't know if it was due to your changes or temporal issue.

The last failed executions, failure happened in different tests. Last 3 were:

`TestUpGlobalForwarding`
`TestUpDeploymentV1`
`

[2022-07-29 22:39] pistocop commented on #2792
Hi @jLopezbarb, I'm facing a similar issue. I have seen that the fix of this issue is planned for the 2.6 version, is there any quick fix I can make meanwhile?
many thanks

[2022-07-31 15:25] mstrYoda opened #2974 "Service is running but not listening error"
**Describe the bug**

I deploy a golang application using okteto-cli. The Kubernetes manifests are the same as the given [example in here](https://github.com/okteto/go-getting-started).

Even though the okteto up run successfully, I could not access my service due to "Service is running but not listening
Error: 502
Your service <name>/api is not listening on port 8080." error.

**To Reproduce**
St

[2022-08-01 07:29] ifbyol commented on #2974
@mstrYoda Do you execute any command after running `okteto up`?

`okteto up` starts an interactive bash session with the remote container and execute the command defined in the okteto manifest. Taking a look to the command to be executed, it is just running `sh`, so if no other command is executed, your application didn't start. It just opened an interactive session with the container.

Can you tr

[2022-08-01 08:14] jLopezbarb commented on #2792
Yes @pistocop, you can create a `Dockerfile` including the volumes like this:
[code]
And using the new image + removing/commenting them on the compose should do the trick:
[code]

[2022-08-01 08:31] jLopezbarb commented on #2973
This error happens when two or more tests try to allocate the same syncthing port (a race condition). Both tests have the same random seed and try to assign the same port and since the port is not in use by another program at that time it fails later when the CLI tries to allocate them

[2022-08-01 09:26] AdrianPedriza opened #2975 "Upgrade dependencies"
in order to upgrade dependencies, we need to upgrade Golang version

[2022-08-01 09:28] ifbyol commented on #2975
@AdrianPedriza  Can you be more specific? Does this apply to all the dependencies or a specific one? If we try to upgrade the dependencies without changing go version, what errors are we getting?

[2022-08-01 09:47] AdrianPedriza commented on #2975
@ifbyol I am reviewing the open issues and I see that Agustin has already taken care of it, so I am deleting the current issue.

[2022-08-01 09:47] #2975 closed

[2022-08-01 14:07] #2696 closed

[2022-08-01 14:07] ro0NL commented on #2696
removed the stop target from our Makefile :)

[2022-08-01 15:00] mstrYoda commented on #2974
Thank you, I am missing to run actual commands 🙏

[2022-08-01 15:00] #2974 closed

[2022-08-01 20:21] jmacelroy commented on #2914
It looks like you ave exceeded the number of allow ingress for your account. Please reach out to support@okteto.com or ask your question on community.okteto.com for product support.

[2022-08-01 20:21] #2914 closed

[2022-08-02 09:45] AdrianPedriza commented on #2925
making use in the okteto manifest of a previously declared multiline variable seems to be resolved as expected but in the commands executed in the `deploy` section, `\n` are ignored. This behavior is the responsibility of bash. Is this expected?

![Captura de pantalla 2022-08-02 a las 11 43 37](https://user-images.githubusercontent.com/22500940/182344856-516b088a-996e-4d43-a599-a60865950156.png)

[2022-08-02 12:21] #2705 closed

[2022-08-02 13:04] jLopezbarb commented on #2674
I think this was fixed. @AdrianPedriza could you try again?

[2022-08-02 13:20] AdrianPedriza commented on #2674
@jLopezbarb yes, issue is not reproducible anymore. I will close it.

[2022-08-02 13:20] #2674 closed

[2022-08-02 15:06] AdrianPedriza opened #2976 "update pull request process"
we need to add documentation related to what should be covered on each PR

[2022-08-02 16:07] ifbyol opened #2977 "Improve the way we get the context when checking if a manifest exists"
As part of https://github.com/okteto/okteto/issues/2968, we have been taking a look to the function we currently use to load the context from an okteto manifest and we detected some behavior that should be improved.

In the `LoadContextFromPath` function:

[code]

We are checking the wrong error. Check the comment, `oktetoErrors.ErrManifestNotFound` should be replaced by `discovery.ErrOktetoManife

[2022-08-02 16:54] #2973 closed

[2022-08-03 11:27] ifbyol commented on #2855
To be considered defining this. Currently, if you execute `okteto deploy -f` with a non-existent file, we detect that the specified file doesn't exist and we keep executing it with the autodiscoverability feature. But we don't display any message to the user.

We should define the behavior we want when the user specifies a file that doesn't exist. If the current behavior is the one we want, we mig

[2022-08-04 05:59] rberrelleza opened #2983 "kubeconfig-* files are not deleted from my .okteto folder"
**Describe the bug**
I have a lot of `kubeconfig-*` files in my $HOME/.okteto folder

[code]
**Expected behavior**
Since these files are temporary, I'd expect them to be deleted once they are no longer needed (at the end of the okteto command)

**Desktop (please complete the following information):**

- OS: macOS
- Version 2.5.2

**Additional context**
Could we create this on a temp folder, so it'

[2022-08-04 06:02] rberrelleza opened #2984 "Can't delete context displayed by 'okteto context show'"
**Describe the bug**
Running `okteto context show` shows the the following:
[code]
When I want to delete `ramiro-dev`, it fails like this:

[code]

I assume that it fails because it's a kubernetes context instead of an okteto context. If that's the case, we should have a clear error message instead of saying that it doesn't exist.

**Desktop (please complete the following information):**

- OS: ma

[2022-08-04 06:03] rberrelleza commented on #2984
I think that `okteto context show` should also identify okteto contexts vs kubernetes context more clearly

[2022-08-04 09:55] jLopezbarb commented on #2984
It fails because it's a k8s context and not an okteto cluster.

I think that we can make two things to improve UX:
1. Return a clearer error saying that you can only remove an okteto cluster if we detect that the context is a k8s one.
2. Adding a new column on the `okteto ctx ls` command to show if the cluster is managed by okteto or not.

In earlier versions when selecting contexts we were splitt

[2022-08-04 11:40] jLopezbarb opened #2985 "Update contribution guide to include documentation on how to test before making a PR"

[2022-08-04 13:34] jLopezbarb commented on #2871
Highlighting the proper use of PR labels was already done by @maroshii.
You can check out the section [pull request labels](https://github.com/okteto/okteto/blob/master/docs/RELEASE.md#pull-request-labels) on the [RELEASE document](https://github.com/okteto/okteto/blob/master/docs/RELEASE.md).

I created #2985 to update the contribution guidelines to link the how-to test document.

Regarding `Audi

[2022-08-04 15:17] #2976 closed

[2022-08-05 07:47] RinkiyaKeDad commented on #1049
Hey @fdelucchijr! Thanks for helping with this. I'm really interested in learning more about your use case with Okteto, which required ARM support. Would you be interested in sharing what you've been doing? :) If yes, could you please share your email with me at arsh@okteto.com so we could talk more? Thanks!

[2022-08-05 17:05] jmacelroy commented on #2871
When you submit a PR there are a lot of things that get ran. What is getting run and why? If something fails can I run it all locally and if so, how? Ideally a contributor would be able to run everything that gets run by GH actions and circle ci easily and consistently on their dev setup. Also, are there any tools that run on PRs or commits that we don't actually need and aren't helping us?

[2022-08-08 10:48] mnevadom opened #2988 "Access in the DESTROY section of manifest to the OKTETO_BUILD_IMAGE value"
Im trying to launch a JOB in the destroy section using the built image.

It could be interesting to have access to that value when destroying

[2022-08-08 11:55] teresaromero commented on #2925
When multiline issue, the yml was broken when we where expanding the envs in the stack manifest. This issue is to check the envs are expanded and the yaml of the okteto manifest is not broken after it, so you have to add some ENVS at the build section under ARGS and check if this args are being parsed correctly

[2022-08-08 12:25] AdrianPedriza commented on #2925
@teresaromero seems that works as expected. I will close the issue

[2022-08-08 12:25] #2925 closed

[2022-08-08 13:10] #2843 closed

[2022-08-09 12:46] AgustinRamiroDiaz opened #2990 "Private endpoints not working when redeploying existing app"
**Describe the bug**
I get a weird behavior when I redeploy a deployed app but with new private endpoints

**To Reproduce**
Steps to reproduce the behavior:

- `okteto pipeline deploy -r https://github.com/okteto/movies`
- `okteto pipeline deploy -r https://github.com/okteto/movies -b compose-private-endpoints`

It gets to a weird spot where the private endpoints disappear from the UI and are not

[2022-08-09 14:41] syntastical opened #2991 "Support for git worktrees"
**Is your feature request related to a problem? Please describe.**
I've started using git worktrees recently to help manage my workflow but when I try to use the okteto cli with projects checked out via worktrees, I get the error "Git repo doesn't have any remote".  It would be great if Okteto supported this.

**Describe the solution you'd like**
Add git worktree support .

**Describe alternatives

[2022-08-11 05:29] odedlaz opened #2993 "Build images locally without the build service"
**Is your feature request related to a problem? Please describe.**

If my okteto context points to an Okteto URL, images are built using the `Okteto Build Service`.
I would like to control this behavior and build images locally as well.

Why? Building in okteto cloud can be slower than building locally. Moreover, builds don't run in parallel.

**Describe the solution you'd like**

A new `--local`

[2022-08-11 11:07] jLopezbarb opened #2995 "Okteto rebuilds image always without specifying `--build`"
**Describe the bug**
Okteto rebuilds the image always without specifying the `--build` flag if the image tag specified by the user is not using the default okteto tag.

**To Reproduce**
Steps to reproduce the behavior:

1. Create this okteto stack:
[code]
2. Create this okteto manifest:
[code]
3. Run `okteto up` and see that is building image
4. Run `okteto up` again and see that rebuilds the imag

[2022-08-11 14:46] teresaromero commented on #2871
Related to https://github.com/okteto/okteto/issues/2872

[2022-08-11 15:19] Diazbesjorge commented on #2872
I was discussing precisely this same topic with @ifbyol a couple of days ago. Our opinion is that we should keep what we are going to proactively use and clean up the rest in order to reduce the noise ratio.

[2022-08-11 16:33] timsun4 opened #2999 "readOnlyRootFilesystem policy not disabled without defined capabilities."
**Describe the bug**
The ReadOnlyRootFilesystem policy is not disabled on the Okteto container if no `securityContext.capabilities` are defined within the Okteto manifest.

**To Reproduce**

1. Deploy an application to Kubernetes with `securityContext.readOnlyRootFilesystem: true`
2. Define an Okteto manifest without `securityContext.capabilities`
3. Attempt to `okteto up` on the application and r

[2022-08-11 21:48] rberrelleza opened #3000 "Return a clearer error when the dev container runs out of space"
**Describe the bug**
![image](https://user-images.githubusercontent.com/475313/184248477-d4c9a5b0-53ce-4cc5-8d97-e535d824b850.png)

instead of "no space left on device", I think we should return a user-friendly error, with instructions on how to solve this problem.

Also, it might be useful to show a warning when the dev container is at 80% of total capacity.

[2022-08-11 21:57] alicenstar commented on #3000
Thank you for opening this issue, I think it'd be helpful to be more specific as to where we are running out of space, in the error message, or suggesting to increase `persistentVolume`. A warning when close to capacity sounds very useful as well. Thank you!

[2022-08-12 11:28] jLopezbarb opened #3001 "Panic on compose: depends on on non existent svc"
**Describe the bug**
Deploying a compose with a service that has a `depends_on` section causes a panic failure.
<img width="923" alt="Captura de pantalla 2022-08-12 a las 13 23 54" src="https://user-images.githubusercontent.com/25170843/184344533-f524cd3a-2dea-4022-9d40-a5470a72292a.png">

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the following docker-compose:
[code]
2. Run `oktet

[2022-08-12 13:27] #2995 closed

[2022-08-12 13:29] #2985 closed

[2022-08-12 14:27] teresaromero commented on #2872
I've added a document at notion to discuss each workflow and app we have that take part into the dev flow and comment there https://www.notion.so/okteto/Audit-Circle-CI-and-Github-Actions-for-the-Project-aeb00aaee9e543d98bbbd354d157c7da

[2022-08-12 16:13] AgustinRamiroDiaz opened #3005 "Okteto manifest spec for linting in IDE"
**Is your feature request related to a problem? Please describe.**
When starting with okteto it can be difficult to configure properly the `okteto.yml` manifest. Also, the documentation associated is not a specification, making the process harder since it's a manual crafting between examples and some docs.

**Describe the solution you'd like**
1. Have a spec of the manifest
2. Use that spec to cre

[2022-08-15 19:04] jmacelroy opened #3006 "Add Secrets to Okteto Using CLI"
Would be nice to have the ability to add Secrets via CLI, instead of manually via the UI ([Okteto Secrets | Okteto Documentation](https://www.okteto.com/docs/cloud/secrets/#manage-okteto-secrets-from-the-okteto-cloud-ui)).

My use case is that every developer in my group needs to add it’s own private secrets under the same names, so I would like to create a small script that does it for them using

[2022-08-15 19:42] jmacelroy commented on #3005
@AgustinRamiroDiaz the image link is broken. Can you update it?

[2022-08-15 20:05] jmacelroy commented on #2993
My intuition is that we'd rather work towards having the images build faster on Okteto and understand what may be making them slow in your case. Typically we see images being built much faster due to the use of a shared cache and build optimizations.

Also, the images will need to be pushed to the cluster eventually and having them local may build them faster but is often offset when having to pus

[2022-08-16 07:31] marcindruzgala opened #3007 "Okteto CLI - connection seems very slow, app takes 3 minutes to start"
**Describe the bug**
Hi!

So we wanted to use your awesome CLI tool to enable cloud development on local machines with 'okteto up' to deploy our local files to the cluster. We've managed to achieve that but it seems that everything is super slow (I have worked with okteto also in my previous company and I didn't experience anything like that).

Yaml file is very simple and looks like that:

[code]

[2022-08-16 09:54] AdrianPedriza commented on #3001
@jLopezbarb can you specify CLI version to reproduce it?

[2022-08-16 11:01] jLopezbarb commented on #3001
I can't reproduce the issue either. Closing the issue

[2022-08-16 11:01] #3001 closed

[2022-08-16 11:26] AgustinRamiroDiaz commented on #3005
@jmacelroy done!

[2022-08-16 12:01] AdrianPedriza opened #3010 "executing unit tests causes the removal of the current okteto context"
**Describe the bug**
when running unit tests (`make test`) the entry relating to the current okteto context is removed from the `.okteto/context/config.json` file

**To Reproduce**
Steps to reproduce the behavior:

1. check your current context (there is an entry for your current okteto context in `.okteto/context/config.json`)
2. execute `make test`
3. See your current context has been removed.

[2022-08-16 13:01] jLopezbarb commented on #2203
Is this still required? I don't think okteto deploy should start the init sequence since we couldn't find anything to deploy already (no manifest found or inferred). I think that `okteto deploy` should only deploy and show the CTA to `okteto up` and `okteto up` is the one which must call the okteto init if needed, which is the way is right now. WDYT?

[2022-08-16 13:47] AgustinRamiroDiaz opened #3014 "Reduce usage of global variables"
We have a lot of usages of global variables which come with lock issues and bad structure of modules.

We should try to structure the global variables under some control struct, and handle the logic with that. Some examples can be found in the `pkg/log` package.

[2022-08-16 16:11] jLopezbarb commented on #3006
What should the command looks like?
- `okteto secrets create`: Creates the secret, but should we allow more than one secret being set at the same time (I.E:`okteto secrets create key1=value key2=value2`)
- `okteto secrets delete`:  Deletes the secret containing that key. This command should be idempontent.

Should we create a `okteto secrets list` and `okteto secrets show` showing only the last 3

[2022-08-16 16:33] #2810 closed

[2022-08-16 17:24] theprobugmaker commented on #1304
Hi there @horacimacias how did you manage to do it? Can you give an example, please? I'm struggling to do the same. I have a few applications that need ConfigMap and can't find a way to start them up. Thank you.

[2022-08-16 17:37] hadaromash commented on #3006
A `show` command may be useful, to verify if a key exists before creating it.

[2022-08-16 20:34] jmacelroy opened #3017 "Generate 2.6 Release"

[2022-08-17 07:30] jLopezbarb commented on #3017
- [ ] Create beta release
- [ ] Use the beta release for 2 days
- [ ] Manual testing
- [ ] Release

[2022-08-17 10:16] horacimacias commented on #1304
hi @theprobugmaker, in my case I created a kubernetes deployment (e.g. through a yaml file and `kubectl apply` or using tools like `helm`).
Just make sure the deployment `name` matches with the `name` you have in your okteto.yaml file and make sure the deployment contains whatever you need (configmap, etc).

Also check the [https://www.okteto.com/docs/reference/manifest/#autocreate-bool-optional](

[2022-08-18 10:23] AdrianPedriza commented on #2888
I guess that if we sanitize the service name when `okteto up` then a warning message should be displayed like when we execute `okteto deploy..`, right? @ifbyol

[2022-08-18 12:51] #2977 closed

[2022-08-18 15:38] ifbyol commented on #2888
yeah, maybe we can keep the consistency showing the warning message to let the user know that `_` is not allowed. @rlamana what do you think?

[2022-08-19 07:58] rlamana commented on #2888
@ifbyol @AdrianPedriza I agree, applying the magic without informing the user isn't a good idea, and we cannot miss the opportunity to educate them on how it should be and how Okteto works.

[2022-08-19 09:47] jLopezbarb commented on #2774
Hi @danielbodis, I was unable to reproduce the issue.
I was able to move through the selector without any problems. Can you check your version of cygwin to try to use the same version?
<img width="443" alt="Captura de pantalla 2022-08-19 114151" src="https://user-images.githubusercontent.com/25170843/185591929-c993e3f8-635f-4315-bb10-66de58b84baa.png">

[2022-08-19 13:26] jLopezbarb commented on #2720
Should this feat work only for compose files? Or should we also merge okteto manifests?

[2022-08-19 13:28] jLopezbarb commented on #2849
Blocked until #2855 is released

[2022-08-19 13:54] jLopezbarb commented on #2794
How should be the output? We can't restore colors from the configmap. We only have the stages and the messages

[2022-08-19 14:20] odedlaz commented on #2963
@pchico83 can you elaborate? I’d like to fix this issue.

[2022-08-19 15:24] jLopezbarb commented on #2963
Hi again @odedlaz 😉,
What he means is that we should show a warning when introducing the okteto secrets as environment variables. That is done on: https://github.com/okteto/okteto/blob/master/cmd/context/use.go#L146

I think the easiest way to test is by following these steps:
1. Go to your Okteto cluster and set a new secret, for example: `KEY=remote` ([Secrets documentation](https://www.okteto.c

[2022-08-19 16:15] jLopezbarb opened #3022 "Spinner shows multiple lines instead of just one"
**Describe the bug**
If my terminal width is smaller than the spinner text length the spinner starts to behave weird.

**To Reproduce**
Steps to reproduce the behavior:

1. Run okteto up on [movies-with-compose](https://github.com/okteto/movies-with-compose)
2. Make your terminal width smaller than the spinner
3. See that the terminal is not responding to the width change

<img width="710" alt="Ca

[2022-08-22 09:41] rainbowechoes opened #3025 "connect with custome k8s cluster"
I see okteto cli can connect to okteto cloud to develop.

But if I have a k8s cluster in my own server, how can I connect to it to develop by using okteto?

Did it support?

[2022-08-22 10:01] jLopezbarb commented on #3025
Yes @rainbowechoes, you just need to point okteto to your k8s cluster by running `okteto context`. That command will extract the clusters that you have on your kubeconfig path and allows you to select the one you want to operate in.

Happy coding!!

[2022-08-22 12:14] jLopezbarb commented on #3017
Release done!! closing it

[2022-08-22 12:14] #3017 closed

[2022-08-22 12:21] jLopezbarb commented on #3007
We haven't been reported any problems with command execution times nor have we been able to reproduce it. Could you provide an example repo where there is no sensitive information and where we can reproduce the excessive execution times?

[2022-08-22 12:23] rainbowechoes commented on #3025
thanks for your answer first!

I know this command, but I'm confuse about the url. I don't know what to put in this url. I've just started working with k8s soon

[2022-08-22 13:37] jLopezbarb commented on #2935
Hi @ufukbakan, We didn't detect any problem connecting from different services on compose. We've tried with https://github.com/okteto/movies-with-compose without any issue. Can you provide the docker compose you are trying to deploy (removing sensitive information) so we can try to reproduce the issue?

[2022-08-22 13:48] jLopezbarb commented on #3025
The URL is needed if you try to connect to an Okteto cluster. If you are trying to connect to a vanilla cluster (a cluster without okteto helm chart installed) you'll need to download your credentials first and store them on your `KUBECONFIG` path. That config is the one you create connections to the cluster and make `kubectl` and `helm` available from your terminal. Once you have your `KUBECONFIG

[2022-08-22 13:49] jLopezbarb commented on #3022
Fixed by #3023

[2022-08-22 13:49] #3022 closed

[2022-08-22 14:05] jLopezbarb commented on #2001
Closing because it's already implemented

[2022-08-22 14:05] #2001 closed

[2022-08-22 14:11] jLopezbarb commented on #2823
@pchico83 since it's already working and documented. Can we close this issue?

[2022-08-22 14:16] rainbowechoes commented on #3025
I think I got it, I'll try it tomorrow

[2022-08-22 14:16] jLopezbarb commented on #2829
This issue covers another important scenario:
- Let's say the user is developing a Python application and needs to update his `requirements.txt` to add a new dependency. We need to run pip install after updating the file.

We need to define how this should be shown to the user so he knows that we are running the hook and its output to know when it's finished

[2022-08-22 14:26] jLopezbarb commented on #3025
Glad to hear that!!
I'll keep this issue open in case you need something else, don't hesitate to ask us again and happy coding!!

[2022-08-22 14:57] ujwaldhakal commented on #2829
I am quite confused here, are you looking for some way to run any commands inside okteto & let the user know the output when it's finished?

[2022-08-22 17:29] AgustinRamiroDiaz opened #3026 "Evaluate the use of functional programming patterns"
**Is your feature request related to a problem? Please describe.**
There had been some attempts to introduce functional patterns into this repo in the past.
Most had been turned down due to 2 reasons:
- It's not "idiomatic" in `go`
- Would need to introduce specific libraries for this

As we adopt `go 1.18` and above, go provides generics. This combined with "functions as first class citizens" giv

[2022-08-22 18:14] odedlaz commented on #2963
@jmacelroy , great! I'll make time this week to address this.

[2022-08-23 06:27] RinkiyaKeDad commented on #3025
@rainbowechoes you can also check out this article to learn how to use Okteto CLI with custom k8s clusters: https://www.okteto.com/blog/developing-microservices-by-hot-reloading-on-kubernetes-clusters/ 😄

[2022-08-23 06:39] rainbowechoes commented on #3025
it looks like that's what I want! I try it now!

[2022-08-23 08:22] rainbowechoes commented on #3025
Hi, @jLopezbarb, @RinkiyaKeDad  I have get `KUBECONFIG` from master, and I can use this config file to login dashboard.

but when I use `okteto context list` command  in my mac, I get this error: `FATA[0000] okteto context store is corrupted. Delete the folder '/Users/ruijie/.okteto/context' and try again`.

And I try it again after delete the folder, still have the error.

Did I do some wrong?

[2022-08-23 08:30] jLopezbarb commented on #3025
Have you configured `okteto context` before running `okteto context list`?
1. Delete the folder `/Users/ruijie/.okteto/context`
2. Run `okteto context use` and select your new cluster
3. Now you can run `okteto context list` and all other okteto commands as usual

[2022-08-23 08:44] rainbowechoes commented on #3025
Great!

I don't use `okteto context use` command after delete the folder.

I do as you said, it worked!

thanks for your help again!

@jLopezbarb @RinkiyaKeDad

[2022-08-23 09:32] jLopezbarb commented on #2829
What I mean is that we need to notify the user when a synchronization event has been triggered and when it is finished. Exporting environment variables is fast enough, however, if someone launches a heavier command such as updating dependencies, we need to notify them when they are done so they can test their application again.

[2022-08-23 10:33] #2416 closed

[2022-08-23 10:43] jLopezbarb commented on #2793
Reopen since its not fixed

[2022-08-23 12:19] pchico83 commented on #2823
@jLopezbarb yes, closing it

[2022-08-23 12:19] #2823 closed

[2022-08-23 12:27] pchico83 commented on #2794
@jLopezbarb we should get the output from the Okteto streaming API, to have it on real time

[2022-08-23 12:30] pchico83 commented on #2720
@jLopezbarb We already support merging compose files with this notation:
[code]
 this issue should be to support merging okteto manifests (or compose files). We can reuse the logic to implement local dependencies https://github.com/okteto/okteto/issues/2254

[2022-08-23 12:36] pchico83 commented on #2203
@jLopezbarb let's close this for now until we rethink how `okteto init` works

[2022-08-23 12:39] #2203 closed

[2022-08-23 12:40] pchico83 commented on #2993
Yes, I agree with @jmacelroy. We should understand why the remote build is slower than building locally

[2022-08-23 12:48] pchico83 commented on #2999
Hi @timsun4 , thanks for opening this issue. Would yo be open to working on a PR? Yoo seem familiar with the involved code

[2022-08-23 13:29] jLopezbarb commented on #2991
@syntastical which command are you using. Does it happen if you run `okteto deploy` directly. The only code that returns that error is deploying/destroying pipeline or previews.

This error is raised because when creating a new worktree the git information is stored as a file `.git` containing the directory where it belongs. Since we are trying to get the common `.git` scenario (a folder with conf

[2022-08-23 16:18] jLopezbarb commented on #2626
@teresaromero I can't reproduce it either. Let's close it and reopen if we can reproduce it

[2022-08-23 16:18] #2626 closed

[2022-08-23 16:19] jLopezbarb commented on #2775
@maroshii Isn't this already released?

[2022-08-23 16:34] timsun4 commented on #2999
Hey @pchico83 , I would say I only familiarized myself with the code enough to find out where I thought the issue was coming from. I am looking at making a PR but do not have a timeline at the moment. Anyone else is welcome to step in if they would like.

[2022-08-23 17:31] odedlaz commented on #2963
@jmacelroy , done.

[2022-08-23 17:32] odedlaz commented on #2876
@jmacelroy put it on me please.

[2022-08-23 18:09] maroshii commented on #2775
No, the PR was split into two and the second part was never released because it involved adding the `okteto channel` command but we still need to get the versions from downloads.okteto.com instead of github. This is the reference commit that didn't make it: https://github.com/okteto/okteto/commit/dcb8123ec6320388b4b3f0c470d5ffc1b2951d2e

[2022-08-24 07:18] jLopezbarb commented on #2876
Hi @odedlaz, I assigned you to work on this PR 😉

[2022-08-24 07:39] #3010 closed

[2022-08-24 08:22] rainbowechoes commented on #3025
Hi, @jLopezbarb .

I clone https://github.com/okteto/movies-with-vanilla-k8s.git repository, and plan to deploy to my k8s cluster.

but when I use `okteto up` command to deploy front application, I find there is a pvc (frontend-okteto) which status always pending.

I think it maybe no pv in cluster. But I create a pv manually and do again, the pvs still pending. And I can't edit the pvc config yam

[2022-08-24 08:48] jLopezbarb commented on #3005
I think we can do it as part of the vscode extension that we already have

[2022-08-24 09:07] jLopezbarb commented on #3025
You should run `kubectl describe pvc frontend-okteto -n YOUR_NAMESPACE` and check the events of the pvc to get the reason on why it's failing. The pod is pending because the pvc can't be attached to it, so you'll need to fix why you can't deploy any pvc before running okteto up.

[2022-08-24 09:31] rainbowechoes commented on #3025
like you said, I need to fix the pvc error, so I try to edit it's yaml in dashboard, but k8s tell me I can't change it. and I find configuration about the pvc in git repository, result is nothing. so I don't know how to fix it.

I will try to go to community to find help.

thanks for your answer finally!

[2022-08-24 10:01] jLopezbarb commented on #3025
@rainbowechoes Can you post on the community forum the output of the command I posted above? I'm closing this issue in favour of the community forum thread.

See you there 😄

[2022-08-24 10:01] #3025 closed

[2022-08-24 10:18] AgustinRamiroDiaz commented on #3005
@jLopezbarb I agree that the vscode extension is very related to this issue, but I think the biggest work around this is the spec for the manifest. I think that we should have the spec in this repo for now.

We could split it into 2 issues:
- Define manifest spec (okteto repo)
- Add intelisense for the vscode extension (remote-kubernetes extension, depenedant from the above)

[2022-08-24 10:52] #2888 closed

[2022-08-24 13:32] pchico83 commented on #3025
@rainbowechoes another option is to disable the persistent volume creation:
https://www.okteto.com/docs/reference/manifest/#persistentvolume-object-optional

[2022-08-25 12:28] ifbyol opened #3038 "`okteto exec` gets stuck printing all the time `Preparing your container` in the terminal"
**Describe the bug**
Some customers have reported an issue in which when they try to execute `okteto exec`, the process is stuck printing `Preparing your container` all the time. The only way of stopping it is to kill the terminal an execute the command again.

They mentioned that this is usually happening when the service is being woken up or when there is some connectivity issue, but we don't ha

[2022-08-25 16:12] jLopezbarb opened #3039 "Syncthing local=true didn't respond after 1m00s"
**Describe the bug**
I'm receiving this error while running `okteto up`:

[code]

**To Reproduce**
Not clear how to reproduce

**Expected behavior**
I want to get my okteto session up and running

**Desktop (please complete the following information):**

- Version 2.5.3

**Additional context**
Here are some interesting logs:
okteto.log:
[code]
local.syncthing.log:
[code]

remote syncthing.log
[cod

[2022-08-26 01:47] rberrelleza commented on #2686
I haven't seen it in a while @jLopezbarb. Feel free to close if there's no repro.

[2022-08-26 02:54] rainbowechoes commented on #3025
hi, @jLopezbarb . I have post the info on the community forum. If you have time, I hope to get your help. the post url is: https://community.okteto.com/t/connect-with-custome-k8s-cluster/217/4

[2022-08-26 07:10] jLopezbarb commented on #2686
Closing because we have no clear repro steps. Feel free to reopen if the error appears again

[2022-08-26 07:10] #2686 closed

[2022-08-26 09:50] jLopezbarb commented on #3007
Could it be that there are not enough resources in the deployment? You can try requesting more resources using the [field resources](https://www.okteto.com/docs/reference/manifest/#resources-object-optional) in the manifest.

[2022-08-26 09:56] jLopezbarb commented on #2774
Closing this since we are unable to reproduce. @danielbodis If you are still facing the issue don't hesitate to re-open it and provide the Cygwin version

[2022-08-26 09:56] #2774 closed

[2022-08-26 12:28] shepherd1530 opened #3041 "Can't start development pod"
**Describe the bug**

Okteto up fails to start my pod. The below is the output of okteto.log

[code]

- OS: macOS m1
- Version 2.5.2

[2022-08-26 16:34] shepherd1530 commented on #3041
This fixed itself probably by the Okteto team.

[2022-08-26 16:34] #3041 closed

[2022-08-27 10:25] ifbyol commented on #3041
@shepherd1530 yes, yesterday we detected a malfunctioning node that was provoking those errors and we removed it from the pool. Thanks for reporting it

[2022-08-29 12:35] teresaromero commented on #2868
@jLopezbarb i've been able to reproduce this. I see the error is coming from the context run that is done at the deploy. token is not a flag from deploy, but from the conext command we run prior to the deploy command. Should we intercept this `ErrTokenFlagNeeded` at the commands that use `contextCMD.NewContextCommand().Run` and invite the user to run okteto context before running any command insid

[2022-08-29 14:03] #3039 closed

[2022-08-30 09:26] teresaromero opened #3043 "Move Selector to its own package"
While refactoring the selector logic i saw we could extract selector logic to its own package. As we have log for output, we should be able to have a package that has the responsability to input from the user.

This refactor should cover the selector questions and also the string or yes/no question, any other input the cli is asking from the user should be in this package.

Reference : https://git

[2022-08-30 13:26] #2867 closed

[2022-08-30 17:53] pchico83 opened #3044 "`okteto build` is not getting my okteto secrets"
**Describe the bug**
I have an okteto secret named `TEST_SECRET` and the following okteto manifest:
[code]
but `TEST_SECRET` is not getting its value when running `okteto build`. It does when running `okteto deploy --build` or if `okteto up` builds the images, but not for `okteto build`.

**To Reproduce**
Create the following files:

`okteto.yml`:
[code]

`Dockerfile`:
[code]

`okteto deploy --bui

[2022-08-30 18:04] pchico83 opened #3045 "Increase the default size of the okteto dev volume"
**Describe the bug**
Motivated by Okteto Cloud quotas, the default size of the okteto volume is 2Gi, which is usually not enough for realistic applications. This is generating many `no space errors` when people are experimenting with Okteto.

**Expected behavior**
Increase the default size to 5Gi. Keep 2Gi if the context is Staging or Okteto Cloud. As part of this work, if `okteto up` fails becaus

[2022-08-30 20:26] pchico83 commented on #2884
Let's go with `depends_on` to define the order between builds. We should expose the `OKTETO_BUILD_XXX` envvars when parsing the okteto manifest of a `build` image that has a `depends_on` field

[2022-08-31 09:25] #2778 closed

[2022-08-31 09:51] ifbyol commented on #3038
Ok, I'll close the ticket as it seems fixed in `2.6.0` and we didn't have any report on that version regarding this. We can reopening it if more issues are reported

[2022-08-31 09:51] #3038 closed

[2022-08-31 10:38] pchico83 opened #3046 "Track is `okteto up` reconnects are due to dev pod being recreated"
**Is your feature request related to a problem? Please describe.**
We are tracking `okteto up` reconnects today. `okteto up` reconnects are usually because of network issues, laptop going to sleep, or dev pod recreation. It would be nice to track the latest case, to analyze the impact, for example, of using spot instances

**Describe the solution you'd like**
Track if `Reconnect` is because a dev

[2022-08-31 13:07] #2872 closed

[2022-08-31 13:15] teresaromero opened #3047 "Clean Deepsource Report"
**Describe the bug**
We want to have a clean run on every PR for static code review. This means we need to check the actual state for deepsource at master branch and clean all the possible errors or decide which rules are we applying

Current state
https://deepsource.io/gh/okteto/okteto/run/635bf63a-6014-4e3c-aa8c-9738d6ac3d72/go/

[2022-08-31 13:18] pchico83 opened #3048 "Support `namespace` field in the extended `dependencies` notation"
**Is your feature request related to a problem? Please describe.**
I want to automate the deployment of a dependency always in the same namespace, because this is a shared namespace by all my team members.

**Describe the solution you'd like**
Support `namespace` in the `dependencies` extended notation, something like this:

[code]

[2022-08-31 18:50] ifbyol commented on #2795
One customer has faced this issue today

[2022-08-31 21:38] AgustinRamiroDiaz commented on #2795
More information I've found while trying to reproduce the error:
- when running `okteto deploy` with the compose, the CLI doesn't even build the images
- Once the image gets built, either from an `okteto build` or from an `okteto deploy` without the compose, the issue vanishes

This 2 things lead me to think that the problem is that we are not building the images when needed.

Also, `okteto build`

[2022-08-31 22:06] AgustinRamiroDiaz commented on #2795
I've found where [this problem arises](https://github.com/okteto/okteto/pull/2618/files#r960059434). I'll wait for @jLopezbarb 's answer to advance

[2022-08-31 22:27] AgustinRamiroDiaz commented on #2795
@pchico83 @jLopezbarb I've understood the issue. The CLI is checking whether the images defined in the dev section are needed to deploy the services.

When deploying with compose, since the `deploy section` does not have a service that uses the image from the build section, it's not getting built due to an optimization (we don't build images for services which won't be deployed).

This is an expec

[2022-08-31 23:35] bwestover opened #3052 "Passing -v or --volume results in a potentially surprising data loss"
**Is your feature request related to a problem? Please describe.**

Passing "-v" to many commands means "verbose". In some cases it might mean "version". It's pretty surprising that passing "-v" to `okteto destroy` destroys the persistent volumes. `--volume` is more clear, but even then its not entirely clear that the option _destroys_ the volume.

**Describe the solution you'd like**

Consider dr

[2022-09-01 01:07] faliqadlan commented on #3006
can i ask, how to access okteto secrets which define in settings ?

[2022-09-01 07:06] jLopezbarb commented on #2963
Closing because it's already merged. Thanks for contributing @odedlaz

[2022-09-01 07:06] #2963 closed

[2022-09-01 07:32] jLopezbarb commented on #2876
Hi @odedlaz, Could you post what's the current status of this issue? We would like to have it for the next release. If you don't have time to work on it ping us and will assign any other member to work on it

[2022-09-01 10:02] pchico83 commented on #3052
@bwestover that's for your feedback! This makes a lot of sense. Also, a confirmation message might help. I willl add the label `3.0` to this issues since it would be a breaking change

[2022-09-01 10:06] pchico83 commented on #3007
@marcindruzgala did you try updating the [resources](https://www.okteto.com/docs/reference/manifest/#resources-object-optional) of your dev container?

[2022-09-01 10:14] pchico83 commented on #2947
I am closing all issues related to `okteto init`. I will work on a new spec for `okteto init` to be implemented in q4

[2022-09-01 10:14] #2947 closed

[2022-09-01 10:23] pchico83 commented on #2669
I am closing all issues related to `okteto init`. I will work on a new spec for `okteto init` to be implemented in q4

[2022-09-01 10:23] #2669 closed

[2022-09-01 10:26] pchico83 commented on #2647
@AgustinRamiroDiaz which behavior do you expect in this case? `okteto restart` only works for [services](https://www.okteto.com/docs/reference/manifest/#services-object-optional)

[2022-09-01 10:27] pchico83 commented on #2641
@jLopezbarb is this issue already fixed?

[2022-09-01 10:29] pchico83 commented on #2544
Closing this until we have a clearer spec for it

[2022-09-01 10:29] #2544 closed

[2022-09-01 10:29] pchico83 commented on #2543
Closing this until we have a clearer spec for it

[2022-09-01 10:29] #2543 closed

[2022-09-01 10:30] pchico83 commented on #2451
I am closing all issues related to `okteto init`. I will work on a new spec for `okteto init` to be implemented in q4

[2022-09-01 10:30] #2451 closed

[2022-09-01 10:32] pchico83 commented on #2384
We won't support this for now

[2022-09-01 10:32] #2384 closed

[2022-09-01 10:32] #2264 closed

[2022-09-01 10:33] pchico83 commented on #2175
@jLopezbarb is this already implemented? can we close it?

[2022-09-01 12:04] #3046 closed

[2022-09-01 12:17] jLopezbarb commented on #2641
No, I still face this issue:
<img width="712" alt="Captura de pantalla 2022-09-01 a las 14 16 51" src="https://user-images.githubusercontent.com/25170843/187911749-b70b0798-f845-4458-9632-b8ef1110139d.png">

[2022-09-01 12:19] jLopezbarb commented on #2175
Yes, we can close it as done

[2022-09-01 12:19] #2175 closed

[2022-09-01 13:48] AdrianPedriza opened #3056 "Add e2e for build cmd to check secrets are resolved properly"
**Is your feature request related to a problem? Please describe.**
we should add an e2e test to cover the case of checking that the secrets are correctly added when reading the manifest for the `okteto build` command.  In order to release [the fix](#3051 ) that solves #3044, the suggestion for the addition a e2e test is made separately of the original PR.

[2022-09-01 14:06] AdrianPedriza opened #3058 "Refactor `okteto build` cmd main flow"
**Is your feature request related to a problem? Please describe.**
we have detected that the main logic of the `okteto build`  command is not quite clear following the main flow. Some important actions of the command are encapsulated under functions as may be the case of `GetManifest` under the `getBuilder` command. Perhaps it would be clearer if we do some refactor to bring it out into the main f

[2022-09-01 14:14] AgustinRamiroDiaz commented on #2795
There's a PR in place to fix this problem. More context about the solution in the PR https://github.com/okteto/okteto/pull/3057

[2022-09-01 14:32] jpf-okteto opened #3059 "Support insecure connections to Okteto clusters"
**Is your feature request related to a problem? Please describe.**
Support establishing connections to Okteto clusters with certificates not trusted by the default OS ssl store.

**Describe the solution you'd like**
A flag and/or an environment variable to enable/disable ssl store, similar to `--insecure-skip-tls-verify` in kubectl.

**Describe alternatives you've considered**
Untrusted SSL certif

[2022-09-01 16:17] jLopezbarb opened #3060 "misleading logs while initialising volumes"
**Describe the bug**
When Okteto is initialising the volumes on the init containers, the message given to the user can be misleading

<img width="915" alt="Captura de pantalla 2022-09-01 a las 17 27 52" src="https://user-images.githubusercontent.com/25170843/187961689-f8673dd3-a620-42ae-98a5-221b3059a0a8.png">

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the following `docker-compos

[2022-09-01 18:30] odedlaz commented on #2876
@jLopezbarb Ill try to push a fix in the next couple of days. If I don't, reassign. sounds good?

[2022-09-02 00:13] AgustinRamiroDiaz opened #3061 "Okteto build with wrong arguments doesn't print anything"
**Describe the bug**
When running `okteto build some-inexistent-service`, the cli just finishes without printing anything

**To Reproduce**
Run `okteto build some-inexistent-service` in a folder with an okteto manifest

**Expected behavior**
The CLI should point out that the service is invalid with an error

**Additional context**
I think [here](https://github.com/okteto/okteto/blob/f7aa77dfc6d878

[2022-09-02 08:20] marcindruzgala commented on #3007
@pchico83 Using values your provided sped it up a lot...not it takes only 6-8 seconds. But I'm wondering...1CPU and 8gb of ram is _a lot_...our application is using ~30mb of memory only.

[2022-09-02 08:43] RinkiyaKeDad commented on #2984
Duplicate of: https://github.com/okteto/okteto/issues/2957

[2022-09-02 09:56] teresaromero commented on #2794
@pchico83 @jLopezbarb this means to output the logs at the cli while the pipeline is being deployed? what happens when the --wait flag? if logs are streming how is that compatible with the wait flag?

[2022-09-02 10:25] jLopezbarb commented on #2794
This feature is only added when the user adds the `--wait` flag.
I think that the approach should be that the logs stop and restart the spinner `"Waiting for repository '{NAME}' to be deployed..."` so we have the logs and the spinner at the bottom until the command finishes

[2022-09-02 11:53] pchico83 commented on #2794
@jLopezbarb @teresaromero let's show the spinner just after the first line, similar to what we do in the Okteto UI

[2022-09-02 12:56] jLopezbarb opened #3065 "okteto deploy should not fail if deploy section is empty"
**Describe the bug**
Right now we are failing when an `okteto manifest v2` with an empty deploy section is deployed. We should be showing an information message linking [the deploy docs](https://www.okteto.com/docs/reference/manifest/#deploy-string-optional) and a message indicating that there is nothing to deploy

**To Reproduce**
Steps to reproduce the behavior:

1. Create the following okteto m

[2022-09-03 05:49] pchico83 opened #3066 "Deprecate okteto manifest v1"
**Is your feature request related to a problem? Please describe.**
Okteto CLI 2.0 support the [okteto manifest v2](https://www.okteto.com/docs/reference/manifest/) which supersedes the functionality of the okteto manifest v1. Most of our users have already migrated to the manifest v2, and the manifest v1 isn't documented in the [okteto docs](https://github.com/okteto/docs) since June 2002.

**Desc

[2022-09-03 06:34] pchico83 commented on #3007
@marcindruzgala those values depend on your app, adjust them as needed. Booting an application usually require more resources than running it.
I would recommend you to read about kubernetes resources and how they work.
Those resources are not 100% dedicated to container:
https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/

[2022-09-03 06:34] pchico83 commented on #3007
@marcindruzgala closing this one as it's related to cpu/memory dedicated to the dev container

[2022-09-03 06:34] #3007 closed

[2022-09-05 07:23] pchico83 commented on #2993
@odedlaz another option here is to set `BUILDKIT_HOST` to point to your local buildkit address

[2022-09-05 08:45] jLopezbarb opened #3067 "Compose is not taking in consideration `depends_on` while building"
**Describe the bug**
I want that okteto CLI build my compose images taking in count the `depends_on` field on the services.

**To Reproduce**
Steps to reproduce the behavior:

1. Use this compose and Dockerfile:
`docker-compose.yml `
[code]
`a.Dockerfile`
[code]
`b.Dockerfile`
[code]
1. Run `okteto build -f docker-compose.yaml`
1. See that is not injecting build args

**Expected behavior**
I want

[2022-09-05 08:48] jLopezbarb commented on #3066
Are we deprecating the use of the manifest v1 completely or are we still planning to use it on the `dependencies` field?
Example:
[code]

[2022-09-05 08:56] jLopezbarb commented on #2463
Reopen. Not completed yet

[2022-09-05 09:11] #2762 closed

[2022-09-05 11:08] pchico83 commented on #2463
@jLopezbarb Let's close it. We can create the issue again if it becomes a pririty

[2022-09-05 12:25] jLopezbarb commented on #2935
Hi @ufukbakan, I'm closing the issue since we aren't able to reproduce the issue. Please, feel free to reopen it adding more information to be able to reproduce the issue

[2022-09-05 12:25] #2935 closed

[2022-09-05 13:00] jLopezbarb commented on #2868
I've found that you are able to deploy it if you add the token environment variable. I think we should keep the current behavior but returning a proper error mentioning that you need to specify `OKTETO_TOKEN` as environment variable. WDYT? @pchico83 @jmacelroy

[2022-09-05 15:38] #2639 closed

[2022-09-05 15:59] #2821 closed

[2022-09-05 17:24] maroshii commented on #2794
@teresaromero I mentioned in the daily today that #2120 could help, but it's a completely different thing. My bad. This is to use the `/sse/logs/:spaceId/gitdeploy/:name` endpoint to stream the logs.

[2022-09-06 07:34] #2946 closed

[2022-09-06 13:58] jLopezbarb commented on #2012
This one is fixed by the new release pipeline since we have no downtime on the script now

[2022-09-06 13:58] #2012 closed

[2022-09-06 14:00] AgustinRamiroDiaz commented on #2592
@mladedav @ZhaoTzuHsien This issue is already fixed in master and will be included in the next cli 2.7.0 release 🚀

[2022-09-06 14:09] jLopezbarb commented on #2025
@pchico83 https://github.com/okteto/okteto/issues/2829 seems the same, can we unify them into one?

[2022-09-07 12:40] pchico83 opened #3074 "`OKTETO_BUILD_XXX` envaars are not injected on `okteto deploy --build`"
**Describe the bug**
`OKTETO_BUILD_XXX` envvars are not injected when running `okteto deploy --build` and having a compose file in the `deploy` section.

**To Reproduce**
Add the following file to the `okteto/movies` repo:
[code]

and update the okteto manifest to have:
[code]

You will see that `OKTETO_BUILD_XXX` envars are not available.

[2022-09-07 20:30] jmacelroy commented on #3067
I'm confused by the description. Is the environment arg not available in `a.Dockerfile` because it's the image built as part of the dependency chain or is it all arguments?

[2022-09-07 20:35] jmacelroy commented on #3065
@jLopezbarb What would we be doing if we don't fail? I think in this case it's an error and a failure is expected. I think we could have a better message but I also don't know that linking to documentation is quite helpful either. It doesn't look great and docs can be a moving target.

What about simply updating the message to `The deploy command was provided but there is no deploy section defined

[2022-09-07 20:58] AgustinRamiroDiaz opened #3076 "Follow up refactor from 2795"
_Originally posted by @AdrianPedriza in https://github.com/okteto/okteto/pull/3057#discussion_r965035068_

[2022-09-07 21:57] AgustinRamiroDiaz commented on #2647
I don't remember actually, but I've tried it now and it seems to work as expected

[2022-09-07 21:57] #2647 closed

[2022-09-08 05:42] pchico83 commented on #3065
@jmacelroy  there are valid uses cases for manifests without `deploy` section. For example, a manifest that only has `dependencies`, or I have also seen repos with just `build` and `dev` sections. If the `deploy` section is not defined, we should show an info message saying that there is nothing to deploy. But it's not even a warning, it's a valid use case

[2022-09-08 05:50] pchico83 commented on #2829
@ujwaldhakal I am closing this issue in favor of https://github.com/okteto/okteto/issues/2025 which explains the propose solution based on sync hooks

[2022-09-08 05:50] #2829 closed

[2022-09-08 12:34] jLopezbarb opened #3078 "Secret is being overwritten message when is not true"
**Describe the bug**
I'm getting warning messages saying that my secret is being overridden by a local variable but, I don't want to receive those messages if the secret and the envvar has the same content or if at the start of the command I didn't have that env var set

**To Reproduce**
Steps to reproduce the behavior:

1. [Create a secret on the UI](https://www.okteto.com/docs/cloud/secrets)
1.

[2022-09-08 13:08] #3078 closed

[2022-09-08 15:58] pchico83 opened #3082 "Support an annotation to persist resources on `okteto destroy`"
**Is your feature request related to a problem? Please describe.**
I have deployed my dev environment, and I want to make sure some resources are not deleted on `okteto destroy`.

**Describe the solution you'd like**
Tools like Helm use the annotation `helm.sh/resource-policy": keep` to achieve this scenario. We should do the same and support the annotation `dev.okteto.com/policy": keep`

**Additi

[2022-09-08 16:44] jLopezbarb opened #3083 "I want to redeploy my stack without downtime"
**Describe the bug**
If I redeploy my `okteto stack` I want to have 0 downtimes but since the deployments created have the recreate update strategy, I can't

**To Reproduce**
Steps to reproduce the behavior:

1. Copy the following `docker-compose.yml`
[code]
2. Run okteto deploy
3. Change the entrypoint to `python -m http.server 8081`
4. Run okteto deploy to redeploy
5. See that the pod is recreat

[2022-09-09 11:56] gabriel-okteto opened #3086 "Katana rolling failure"
Katana is experiencing another round of failing pods, fourth day this week with significant issues

[2022-09-09 11:58] Diazbesjorge commented on #3086
Take a look at this slack conversation for the full context: https://okteto.slack.com/archives/C030ZRU1YSZ/p1662546208823259

[2022-09-09 12:51] teresaromero commented on #2871
@jmacelroy @jLopezbarb should this issue be done once #2872 has been merged?

[2022-09-09 14:15] jLopezbarb commented on #2871
yes, I think we can close it for now

[2022-09-09 14:15] #2871 closed

[2022-09-10 06:21] cowgod opened #3089 "$OKTETO_BUILD_* variables not available for use in build section of manifest"
**Describe the bug**
The $OKTETO_BUILD_* variables are not available for use in the `build` section of the manifest. I would like to be able to pass build arguments to  my Dockerfile using the values of a previously-built service, but they don't seem to be available at that point.

**To Reproduce**
Steps to reproduce the behavior:

1. Create `okteto.yaml` with the following contents:
[code]
2. Cre

[2022-09-10 18:55] cowgod commented on #3089
The workaround I've found (to be able to use generic argument names that can still inherit the `$OKTETO_BUILD_*` arguments if they're available) is to structure the start of my `Dockerfile.b` file like this:

[code]

(With the strings `<DEFAULT_REGISTRY>`, `<DEFAULT_REPOSITORY>`, and `<DEFAULT_TAG>` replaced with my own default values). That seems to work, but it's messy, and I'd like to find a so

[2022-09-12 07:55] teresaromero commented on #2566
@pchico83 should this be part of 2.7?

cc: @jLopezbarb

[2022-09-12 08:00] pchico83 commented on #2566
@teresaromero no, they can install it from the `dev` channel

[2022-09-12 10:36] AgustinRamiroDiaz commented on #2566
Is there a way to use https://github.com/docker/compose for this?

[2022-09-12 13:37] jLopezbarb opened #3091 "remove `github.com/ibuildthecloud/finalizers` as dependency"
**Describe the bug**
We should remove `github.com/ibuildthecloud/finalizers` as a dependency because:
- Code has not been updated in the last 2 years
- Untestable code. We can't test the code using this dependency because it doesn't allow adding fake k8s clients.
- Only using one function. We are only using one function that could be rewritten on our own since it doesn't add a lot of complexity.